.qr-section {
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .content-block {
        padding: 2rem;

        .title {
            font-size: 22px;
            margin-bottom: 1rem;
        }

        .steps {
            list-style: none;
            padding-left: 3rem;
            margin-bottom: 1.5rem;

            li {
                position: relative;
                margin-bottom: 0.5rem;

                .no {
                    font-size: 18px;
                    font-weight: 300;
                    display: inline-block;
                    width: 30px;
                    text-align: right;
                    margin-right: 6px;
                }

                .text {
                    display: inline-block;
                    font-size: 18px;
                    font-weight: 300;
                    margin: 0;

                    span {
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
            }
        }

        .text {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 1.5rem;
        }

        .qr-section-link {
            font-size: 18px;
            font-weight: 300;
            text-decoration: none;
            color: #44BC8E;
        }
    }

    .qr-code {
        img {
            width: 100%;
        }
    }
}

.welcome-block {
    position: relative;

    .info-block {
        text-align: center;
        max-width: 700px;
        width: 100%;
        margin: auto;

        .title {
            font-weight: 400;
            margin-bottom: 2.5rem;
        }

        .sub-title {
            font-weight: 400;
            color: #017FFA;
            font-size: 28px;
            margin-bottom: 1.5rem;
        }

        .text {
            font-size: 16px;
            font-weight: 300;
            line-height: 2;
        }

        .btn-inquire {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background: linear-gradient(to right, #00AEEF, #1B3D6B);
            width: fit-content;
            margin: 2.5rem auto;
            padding: 0.75em 1.5em;
            border-radius: 5px;

            .text {
                font-size: 12px;
                margin-right: .5em;
                color: #fff;
            }

            .bi {
                font-size: 14px;
                color: #fff;
            }
        }
    }

    &.section-broadcast {
        .steps-block {
            margin: 2.5rem 0;
        }
    }

    .steps-block {
        position: relative;
        margin: 5rem 0 2.5rem;
        text-align: center;

        .img-main {
            max-width: 100%;
        }
    }
}

.section-setupProcess {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin: 3rem 0;

    .activation-info {
        font-size: 16px;
        font-weight: 300;
    }

    .title {
        font-size: 24px;
        font-weight: 300;
        color: #017FFA;
        margin: 2rem 0;
    }

    .process-img {
        max-width: 100%;
        width: 800px;
        margin: auto;
        display: block;
    }

    .text {
        font-size: 16px;
        font-weight: 300;
        margin: 3rem 0 1rem;
    }
}

.section-chatStats {
    margin: 3rem 0;

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3rem;

        .button-block {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            .form-control {
                background-color: #fff;
                border: none;
                border-radius: 5px;
                color: #333;
            }

            .chat-btn {
                display: inline-block;
                text-decoration: none;
                color: #fff;
                background-color: #44bc8e;
                font-size: 14px;
                font-weight: 400;
                width: 200px;
                text-align: center;
                padding: 0.75em 1em;
                border-radius: 5px;

                &:hover {
                    color: #44bc8e;
                }
            }
        }
    }

    .body {
        .card-section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 2rem;
        }

        .card {
            flex: 0 0 30%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem;
            border: none;
            border-radius: 10px;
            background: linear-gradient(45deg, #00742b, #1db758);
            margin: 0;

            &.card-messenger {
                background: linear-gradient(45deg, #148aff, #bc3cd5, #ff6767);

                .content-block {
                    .label {
                        background-color: #f76fd8;
                    }
                }
            }

            &.card-line {
                background: linear-gradient(45deg, #097e0e, #4caf50);

                .content-block {
                    .label {
                        background-color: #5ac45f;
                    }
                }
            }

            &.card-telegram {
                background: linear-gradient(45deg, #000329, #00aeef);

                .content-block {
                    .label {
                        background-color: #2697ce;
                    }
                }
            }

            &.card-tawkto {
                background: linear-gradient(45deg, #29b24b, #038b37);

                .content-block {
                    .label {
                        background-color: #2fb760;
                    }
                }
            }

            &.card-viber {
                background: linear-gradient(45deg, #341091, #a87ff3);

                .content-block {
                    .label {
                        background-color: #a57ef6;
                    }
                }
            }

            .image-block {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: #fff;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .content-block {
                text-align: right;

                .label {
                    background-color: #29c464;
                    color: #fff;
                    font-size: 12px;
                    font-weight: 300;
                    padding: 0.3em 1em;
                    border-radius: 5px;
                    margin-bottom: 1em;
                }

                .count {
                    font-size: 40px;
                    color: #fff;
                    line-height: 1;
                }

                .media {
                    font-size: 20px;
                    color: #fff;
                }
            }
        }
    }
}
