.ims-pro-mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: #1B3D6B;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 999;

    .nav-toggler {
        background-color: transparent;
        border: none;

        .bi {
            font-size: 24px;
            color: #fff;
        }
    }

    .brand {
        text-decoration: none;
        color: #fff;
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .profile-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        .mob-notification {
            background-color: transparent;
            border: none;

            &.notify {
                position: relative;

                &::after {
                    content: '';
                    width: 10px;
                    height: 10px;
                    background-color: #f00;
                    border-radius: 50%;
                    position: absolute;
                    top: 2px;
                    right: -2px;
                }
            }

            .bi {
                font-size: 20px;
                color: #fff;
            }
        }

        .mob-profile-drop {

            .profile-drop-btn {
                background-color: transparent;
                border: none;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .profile-drop-menu {
                max-width: unset;

                .dropdown-item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;

                    .name {
                        font-size: 14px;
                        font-weight: 400;
                        color: #777;
                        width: 100%;
                        max-width: 150px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .bi {
                        font-size: 16px;
                    }

                    .text {
                        font-size: 13px;
                        font-weight: 400;
                    }
                }
            }
        }

        .mob-property {
            background-color: transparent;
            border: none;

            .bi {
                font-size: 22px;
                color: #fff;
            }
        }
    }
}

.nav-toggle-modal {
    .modal-dialog {
        .modal-content {
            background-color: #1f2851;

            .brand {
                text-decoration: none;
                color: #fff;
                position: absolute;
                left: 50%;
                top: 2rem;
                transform: translate(-50%, 0);
                font-size: 24px;
            }

            .bi {
                position: absolute;
                top: 40px;
                left: 40px;
                font-size: 2rem;
                color: #fff;
            }

            .navs {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .navbar-nav {
                    text-align: center;

                    .nav-item {
                        .nav-link {

                            &.active {
                                .text {
                                    color: #fff;
                                }
                            }

                            .text {
                                font-size: 32px;
                                color: #91b4bd;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }
    }
}

.mob-notify-modal {
    .modal-dialog {
        .modal-content {
            background-color: #fff;

            .modal-header {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: relative;

                .title {
                    font-size: 24px;
                    font-weight: 400;
                    color: #333;
                }

                .bi {
                    position: absolute;
                    top: 50%;
                    left: 40px;
                    transform: translate(0, -50%);
                    font-size: 2rem;
                    color: #333;
                }
            }

            .modal-body {
                .empty {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 14px;
                    font-weight: 400;
                    color: #777;
                    width: 225px;
                    text-align: center;
                }

                .list-group {
                    .list-group-item {
                        &.visited {
                            opacity: .5;
                        }

                        .list-link {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: flex-start;
                            text-decoration: none;
                            gap: 2rem;

                            .bi {
                                font-size: 2rem;
                                color: #333;
                            }

                            .text-block {
                                flex: 1;

                                .title {
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: #333;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                }

                                .text {
                                    font-size: 12px;
                                    font-weight: 300;
                                    color: #333;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                }
                            }

                            .duration {
                                font-size: 12px;
                                font-weight: 300;
                                color: #777;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }

            .modal-footer {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .view-more {
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 400;
                    color: #333;
                }
            }
        }
    }
}

.mob-property-modal {
    .modal-dialog {
        .modal-content {
            background-color: #fff;

            .modal-header {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: relative;

                .title {
                    font-size: 24px;
                    font-weight: 400;
                    color: #333;
                }

                .bi {
                    position: absolute;
                    top: 50%;
                    left: 40px;
                    transform: translate(0, -50%);
                    font-size: 2rem;
                    color: #333;
                }
            }

            .modal-body {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 1.5rem;

                .create-project {
                    text-decoration: none;
                    background-color: #0d6efd;
                    color: #fff;
                    padding: 15px 30px;
                    border-radius: 5px;
                    font-size: 14px;
                }

                .text {
                    font-size: 14px;
                    font-weight: 400;
                    color: #777;
                    position: relative;

                    &::before {
                        content: '';
                        width: 20px;
                        height: 1px;
                        background-color: #777;
                        position: absolute;
                        top: 50%;
                        left: -30px;
                        transform: translate(0, -50%);
                    }

                    &::after {
                        content: '';
                        width: 20px;
                        height: 1px;
                        background-color: #777;
                        position: absolute;
                        top: 50%;
                        right: -30px;
                        transform: translate(0, -50%);
                    }
                }

                .mob-property-drop {
                    .mob-property-drop-btn {
                        background-color: transparent;
                        padding: 10px 15px;
                        border-radius: 5px;
                        border: 1px solid #0d6efd;
                        height: 65px;
                        width: 295px;
                        font-size: 14px;
                        font-weight: 400;
                        color: #333;
                    }

                    .mob-property-drop-menu {
                        padding: 1rem !important;
                        max-width: 300px !important;
                        width: 100%;
                        max-height: 200px;
                        overflow-y: scroll;
                        border-radius: 5px !important;

                        .dropdown-item {
                            padding: .75rem 1rem;
                            text-align: center;
                            font-size: 14px;
                            font-weight: 400;
                            color: #333;
                        }
                    }

                    .property {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 1rem;
                        width: fit-content;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                            object-position: center;
                        }

                        .text-block {
                            text-align: left;

                            .name {
                                font-size: 13px;
                                font-weight: 400;
                                color: #333;
                                width: 180px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            .url {
                                font-size: 11px;
                                font-weight: 400;
                                color: #777;
                                width: 180px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                        .bi {
                            font-size: 16px;
                            color: #333;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .mobile-nav {
        display: none;
    }
}

@media screen and (max-width: 575px) {

    .mobile-nav {
        .brand {
            display: none;
        }
    }
}
