@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

// Utilities

.btn-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    width: 90px;
    padding: 6px 0;
    border-radius: 5px;
    border: 1px solid transparent;
}

.daterangepicker {
    top: 165px !important;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border-color: #D7E8F9;

    &::before {
        border-bottom: 7px solid #D7E8F9;
    }

    .drp-calendar {
        border: none !important;

        &.right {
            display: none;
        }

        &.left {
            .calendar-table {
                td {
                    height: 37px;

                    &.active {
                        &.start-date {
                            &.end-date {
                                background-color: #017FFA;
                                border-radius: 50%;
                            }
                        }

                        &.start-date {
                            &.in-range {
                                background-color: #017FFA;
                                border-radius: 50%;
                            }
                        }

                        &.start-date {
                            &:not(.in-range) {
                                &:not(.end-date) {
                                    background-color: #017FFA;
                                    border-radius: 50%;
                                    border-top-right-radius: 0;
                                    border-bottom-right-radius: 0;
                                }
                            }
                        }

                        &.end-date {
                            &.in-range {
                                background-color: #017FFA;
                                border-radius: 50%;
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                            }
                        }
                    }

                    &.in-range {
                        background-color: #E0EFFF;
                    }
                }
            }
        }
    }

    .drp-buttons {
        .cancelBtn {
            font-size: 12px;
            font-weight: 400;
            color: #464646;
            background-color: #F2F2F6;
            width: 70px;
        }

        .applyBtn {
            font-size: 12px;
            font-weight: 400;
            color: #fff;
            background-color: #017FFA;
            width: 70px;
        }
    }

    .drp-selected {
        display: none
    }

    &.show-calendar {
        .ranges {
            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;

                li {
                    background-color: #F2F2F6;
                    border-radius: 4px;
                    color: #464646;

                    &.active {
                        background-color: #017FFA;
                        color: #fff;
                    }

                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
}

.property {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
    }

    .content {
        .title {
            font-size: 14px;
            color: #939DB1;
        }

        .address {
            font-size: 11px;
            color: #939DB1;
        }
    }

    .bi {
        margin-left: auto;
        color: #939DB1;
    }
}

@media screen and (min-width: 575px) {
    .section-home {
        display: none;
    }
}

@media screen and (max-width: 574px) {
    .mobile-container {
        width: 90% !important;
        margin: auto;
    }
}

.mobile-container {
    max-width: 574px;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    margin: auto;
    padding-bottom: 90px;

    &::-webkit-scrollbar {
        display: none;
    }

    .inner-container {
        margin-top: 60px;
    }
}

.app-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 25px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;

    .btn-back {
        text-decoration: none;
        margin-right: 20px;

        .bi {
            color: #464646;
            font-size: 20px;
        }
    }

    .title {
        font-size: 16px;
        color: #464646;
    }
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #fff 60%, rgba(255, 255, 255, 0) 100%);
    z-index: 9999;

    .navbar-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 0;

        .nav-item {
            flex: 1 1 100%;
            text-align: center;

            .nav-link {
                position: relative;

                &.active {
                    .bi {
                        color: #017FFA;
                    }
                }

                .bi {
                    font-size: 22px;
                    color: #464646;
                }

                .bi-plus-lg {
                    background: linear-gradient(to bottom, #00AEEF, #017FFA);
                    color: #fff;
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: -45px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    box-shadow: 0 2px 8px #017FFA;
                }
            }
        }
    }
}

.mobile-model {

    .modal-dialog {
        top: 50%;
        transform: translate(0, -50%) !important;

        .modal-content {
            .modal-header {
                position: relative;
                z-index: 9999;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            }

            .modal-body {
                height: 180px;
                padding: 0;
                overflow-y: scroll;
                overflow-x: hidden;

                .list-group {
                    .list-group-item {
                        position: relative;
                        border: none;

                        &.active {
                            background-color: #F9FCFF;
                            // border-right: 3px solid #69AFF2;

                            &::before {
                                content: "";
                                width: 3px;
                                height: 100%;
                                background-color: #69AFF2;
                                position: absolute;
                                top: 0;
                                right: 35px;
                            }
                        }

                        &:not(:last-child) {
                            &::after {
                                content: "";
                                width: calc(100% - 95px);
                                height: 1px;
                                background-color: #e9e9e9;
                                position: absolute;
                                bottom: 0;
                                left: 70px;
                            }
                        }

                        .list-link {
                            text-decoration: none;
                        }
                    }
                }
            }

            .modal-footer {
                border: none;
                padding: 1.5rem 1rem 1rem;

                .btn-new-project {
                    width: 100%;
                    background-color: #017FFA;
                    padding: 10px 16px;
                    color: #fff;
                    margin: auto;
                }
            }
        }
    }
}

.addPropertyInput-model {
    .modal-dialog {
        .modal-content {
            .modal-body {
                height: auto;
                overflow: unset;
                padding: 10px 10px 0;

                .list-group {
                    .list-group-item {

                        &::after {
                            content: none !important;
                        }

                        .list-label {
                            font-size: 14px;
                            font-weight: 300;
                            color: #464646;
                        }

                        .list-input {
                            width: 100%;
                            border-top: none;
                            border-left: none;
                            border-right: none;
                            border-bottom: 1px solid #ccc;
                            font-size: 14px;
                            font-weight: 300;
                            color: #464646;
                            padding: 5px 10px 0;

                            &:focus-visible {
                                outline: none;
                            }
                        }
                    }
                }
            }

            .modal-footer {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;

                .btn-project-submit {
                    flex: 1 1 100%;
                    background-color: #017FFA;
                    color: #fff;
                    padding: 10px 16px;
                    margin-right: 10px;
                }

                .btn-cancel {
                    flex: 1 1 100%;
                    border: 1px solid #464646;
                    color: #464646;
                    padding: 10px 16px;
                }
            }
        }
    }
}

.mobile-nav {
    .modal-dialog {
        margin: 0;

        .modal-content {
            border: none;
            border-radius: 0;
            height: 100vh;
            position: fixed;
            background: linear-gradient(to bottom, #002B5B, #104184);
            overflow: hidden;

            .modal-header {
                border: none;
                padding: 30px 25px 0;

                .profile {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    img {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-right: 10px;
                    }

                    .text-block {
                        .name {
                            font-size: 14px;
                            color: #fff;
                            font-weight: 300;
                        }

                        .active-status {
                            font-size: 10px;
                            color: #fff;
                            font-weight: 300;
                            position: relative;
                            margin-left: 12px;

                            &::before {
                                content: "";
                                position: absolute;
                                top: 50%;
                                left: -12px;
                                transform: translate(0, -50%);
                                width: 6px;
                                height: 6px;
                                border-radius: 50%;
                                background-color: #ccc;
                            }

                            &.active {
                                &::before {
                                    background-color: #33CC0D;
                                }
                            }
                        }
                    }
                }

                .bi {
                    border: none;
                    background-color: transparent;
                    color: #fff;
                    font-size: 16px;
                }
            }

            .modal-body {
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;

                .navbar-nav {
                    flex: 1 1 100%;
                    padding-left: 20px;

                    .nav-item {
                        .nav-link {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            opacity: 0.5;

                            &.active {
                                opacity: 1;
                            }

                            .bi {
                                font-size: 16px;
                                color: #fff;
                                margin-right: 15px;
                            }

                            .text {
                                font-size: 14px;
                                font-weight: 300;
                                color: #fff;
                            }
                        }
                    }
                }

                .image-block {
                    flex: 1 1 100%;
                    position: relative;

                    .rectangle {
                        position: absolute;
                        top: 50%;
                        left: 10px;
                        transform: translate(0, -50%);
                        background-color: #166294;
                        width: 250px;
                        height: 385px;
                        border-radius: 30px;
                    }

                    img {
                        position: absolute;
                        top: 50%;
                        transform: translate(0, -50%);
                        left: 50px;
                        width: 215px;
                    }
                }
            }

            .modal-footer {
                border: none;

                .btn-signout {
                    margin-right: auto;
                    margin-left: 20px;
                    margin-bottom: 15px;
                    width: fit-content;
                    opacity: 0.5;

                    .bi {
                        font-size: 16px;
                        margin-right: 15px;
                        color: #fff;
                    }

                    .text {
                        font-size: 14px;
                        font-weight: 300;
                        color: #fff;
                    }
                }
            }
        }
    }
}

// Home Page
.section-home {
    position: relative;
    background-color: #fff;

    .mobile-container {

        .top-nav {
            width: 100%;
            height: 80px;
            background-color: #fff;
            display: flex;
            flex-direction: row;
            align-items: center;

            .inner-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin: auto;

                .profile {
                    position: relative;

                    img {
                        width: 55px;
                        height: 55px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
            }
        }

        .header {
            margin-top: 20px;

            .welcome-msg {
                display: none;

                .title {
                    font-size: 16px;
                    font-weight: 300;
                }

                .name {
                    font-size: 24px;
                }
            }

            .content-block {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .properties {
                    flex: 1 1 100%;
                    border: 2px solid #F7F9FB;
                    border-radius: 7px;
                    margin-right: 1rem;

                    .property-dropdown {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        text-decoration: none;
                        padding: 8px;
                        min-height: 60px;
                    }

                    .dropdown-menu {
                        width: 100%;
                        border: 1px solid #D7E8F9;
                        border-radius: 7px;
                        top: 8px !important;

                        li {
                            position: relative;

                            &:not(:last-child) {
                                &::after {
                                    content: "";
                                    width: calc(100% - 95px);
                                    height: 1px;
                                    background-color: #e9e9e9;
                                    position: absolute;
                                    bottom: 0;
                                    left: 70px;
                                }
                            }

                            .dropdown-item {
                                position: relative;
                                margin-top: 8px;
                                padding-bottom: 8px;
                            }
                        }

                        &::after {
                            content: '';
                            width: 12px;
                            height: 12px;
                            background-color: #fff;
                            border-top: 1px solid #D7E8F9;
                            border-left: 1px solid #D7E8F9;
                            position: absolute;
                            top: -7px;
                            right: 20px;
                            transform: rotate(45deg);
                        }
                    }
                }

                .filter {
                    position: relative;
                    border: 2px solid #F7F9FB;
                    border-radius: 7px;

                    .datepicker {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 18px;

                        .filter-date-input {
                            position: absolute;
                            width: 50px;
                            height: 50px;
                            opacity: 0;


                        }
                    }
                }
            }
        }

        .radar-section {
            margin: 2rem 0;

            .inner-wrapper {
                position: relative;
                width: 300px;
                height: 300px;
                margin: auto;
                padding: .5rem;

                .rings {

                    .ring {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                    .ring-1 {
                        width: 260px;
                        height: 260px;
                        border-radius: 50%;
                        border: 2px dashed #707070;
                        opacity: 0.1;
                    }

                    .ring-2 {
                        width: 195px;
                        height: 195px;
                        border-radius: 50%;
                        border: 2px dashed #707070;
                        opacity: 0.2;
                    }

                    .ring-3 {
                        width: 125px;
                        height: 125px;
                        border-radius: 50%;
                        border: 2px dashed #707070;
                        opacity: 0.5;
                    }

                    .ring-4 {
                        width: 55px;
                        height: 55px;
                        border-radius: 50%;
                        border: 2px solid #707070;
                        opacity: 0.5;
                    }

                    .ring-5 {
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background-color: #017FFA;
                    }
                }

                .indicator {
                    position: absolute;
                    top: calc(150px - 144px);
                    left: 150px;
                    transform-origin: bottom left;
                    animation: rotate 5s infinite;


                    @keyframes rotate {
                        0% {
                            transform: rotateZ(0);
                        }

                        100% {
                            transform: rotateZ(360deg);
                        }
                    }
                }

                .particles {
                    .particle {
                        position: absolute;

                        .particle-label {
                            flex-direction: row;
                            align-items: center;
                            background-color: #fff;
                            padding: 6px 12px;
                            border-radius: 30px;
                            filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
                            position: absolute;
                            bottom: 20px;
                            right: 50%;
                            transform: translate(50%, 0);
                            display: none;

                            &::after {
                                content: "";
                                width: 12px;
                                height: 12px;
                                background-color: #fff;
                                position: absolute;
                                bottom: -5px;
                                left: 50%;
                                transform: translate(-50%, 0) rotate(45deg);
                            }

                            img {
                                width: 20px;
                                margin-right: 6px;
                            }

                            .country {
                                font-size: 12px;
                            }
                        }

                        .particle-indicator {
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background-color: transparent;
                            border: 1px solid #33CC0D;
                            animation: blink 2s infinite;

                            &:active+.particle-label {
                                display: flex;
                            }
                        }

                        .indicator-2 {
                            animation-delay: .4s;
                        }

                        .indicator-3 {
                            animation-delay: .8s;
                        }

                        .indicator-4 {
                            animation-delay: 1.6s;
                        }

                    }

                    .particle-1 {
                        top: 37%;
                        left: 40%;
                    }

                    .particle-2 {
                        top: 50%;
                        left: 22%;
                    }

                    .particle-3 {
                        top: 55%;
                        left: 74%;
                    }

                    .particle-4 {
                        top: 20%;
                        left: 73%;
                    }

                    @keyframes blink {
                        0% {
                            transform: scale(0.5);
                        }

                        100% {
                            transform: scale(1);
                        }
                    }
                }

                .visitor-count {
                    position: absolute;
                    text-align: center;
                    color: #1B3D6B;
                    bottom: 30px;
                    left: 50%;
                    transform: translate(-50%, 0);

                    .counter {
                        font-size: 38px;
                        font-weight: 700;
                        line-height: 1;
                    }
                }
            }
        }

        .filter-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            margin-bottom: 20px;

            .btn-sort {
                text-decoration: none;

                .bi {
                    font-size: 18px;
                    color: #017FFA;
                }
            }

            .sort-select {
                border: none;
                font-size: 14px;
                font-weight: 300;
                background-color: transparent;
                color: #017FFA;

                &:focus {
                    outline: none;
                }
            }

            .text {
                font-size: 14px;
                font-weight: 300;
                color: #017FFA;
            }

            .start-date,
            .end-date {
                font-size: 12px;
                font-weight: 300;
                color: #017FFA;
                background-color: #E8F8FE;
                padding: 5px 10px;
                border-radius: 5px;
            }
        }

        .visitors-section {
            .table {
                td {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }

                .country-flag {
                    img {
                        width: 20px;
                    }
                }

                .country-name {
                    max-width: 65px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .active-status {
                    position: relative;
                    width: 100px;

                    .indicator {
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        border: 1px solid #707070;
                        background-color: #fff;
                        margin: auto;

                        &.active {
                            border: 1px solid #33CC0D;
                            background-color: #33CC0D;
                        }

                        &:active+.label {
                            display: block;
                        }
                    }

                    .label {
                        position: absolute;
                        white-space: nowrap;
                        font-size: 12px;
                        font-weight: 300;
                        background-color: #fff;
                        color: rgba(0, 0, 0, 0.4);
                        padding: 6px 12px;
                        border-radius: 30px;
                        top: -20px;
                        left: 50%;
                        transform: translate(-50%, 0);
                        filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
                        display: none;

                        &::after {
                            content: "";
                            width: 10px;
                            height: 10px;
                            background-color: #fff;
                            position: absolute;
                            bottom: -4px;
                            left: 50%;
                            transform: translate(-50%, 0) rotate(45deg);
                        }
                    }
                }

                .btn-mobile {
                    margin: auto;

                    &.btn-watch {
                        background-color: #FFF5C4;

                        .text {
                            font-size: 12px;
                            font-weight: 300;
                            color: #C4A300;
                            margin-left: 6px;
                        }
                    }

                    &.btn-invite {
                        background-color: #A2E6FF;

                        .text {
                            font-size: 12px;
                            font-weight: 300;
                            color: #017FFA;
                            margin-left: 6px;
                        }
                    }
                }
            }
        }
    }
}

// Notification Page
.section-notification {
    .mobile-container {
        .inner-container {
            .notification-block {
                padding-top: 20px;

                .title {
                    font-size: 14px;
                    font-weight: 300;
                    color: #696D75;
                    padding-left: 14px;
                    margin-bottom: 10px;
                }

                .list-group {
                    .list-group-item {
                        border: none;

                        .list-link {
                            text-decoration: none;
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            &.active {
                                .text {
                                    opacity: 1;
                                }
                            }

                            img {
                                width: 45px;
                                height: 45px;
                                border-radius: 50%;
                                object-fit: cover;
                                margin-right: 15px;
                            }

                            .text {
                                font-size: 11px;
                                font-weight: 300;
                                color: #464646;
                                height: 50px;
                                overflow: hidden;
                                opacity: 0.6;

                                .name {
                                    font-size: 13px;
                                    font-weight: 400;
                                    margin-right: 5px;
                                    line-height: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Settings Page
.section-settings {
    .mobile-container {
        .inner-container {
            .profile {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 20px 10px 0;
                margin-bottom: 40px;

                .image-block {
                    position: relative;
                    margin-right: 20px;

                    img {
                        width: 60px;
                        height: 60px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    .bi {
                        position: absolute;
                        top: 0;
                        right: -3px;
                        background-color: #017FFA;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: 2px solid #fff;
                        font-size: 8px;
                        color: #fff;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .status-block {
                    .name {
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 1.1;
                        color: #464646;
                    }

                    .active-status {
                        position: relative;
                        font-size: 12px;
                        font-weight: 300;
                        color: #464646;
                        padding-left: 15px;

                        &.active {
                            &::before {
                                background-color: #33CC0D;
                            }
                        }

                        &::before {
                            content: "";
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background-color: #ccc;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translate(0, -50%);
                        }
                    }
                }
            }

            .edit-profile {
                background-color: #F9F9F9;
                padding: 25px 15px;
                border-radius: 10px;
                margin-bottom: 15px;

                .data-field {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .input-field {
                        .label {
                            font-size: 13px;
                            font-weight: 300;
                            color: #464646;
                            margin-bottom: 5px;
                        }

                        .data-input {
                            width: 100%;
                            font-size: 14px;
                            font-weight: 400;
                            color: #464646;
                            background-color: transparent;
                            opacity: 0.6;
                            border: none;

                            &.active {
                                opacity: 1;
                            }

                            &:focus {
                                outline: none;
                            }
                        }
                    }

                    .btn-field {
                        .btn-mobile {
                            width: auto;
                            background-color: #F0F0F0;
                            padding: 6px 18px;
                            color: #333;
                        }
                    }
                }
            }

            .subscription-block {
                background-color: #F9F9F9;
                border-radius: 10px;
                margin-bottom: 15px;

                .header {
                    padding: 15px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    .header-block {
                        .label {
                            font-size: 12px;
                            font-weight: 300;
                            color: #464646;
                        }

                        .info {
                            font-size: 14px;
                            color: #464646;
                        }

                        .subscription {
                            font-size: 14px;
                            font-weight: 300;
                            background: linear-gradient(to right, #0889A5, #00BDE2);
                            color: #fff;
                            padding: 8px 18px;
                            width: 100px;
                            text-align: center;
                            border-radius: 5px;
                        }
                    }
                }

                .footer {
                    background-color: #F0F0F0;
                    padding: 5px 15px;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;

                    .btn-mobile {
                        width: auto;
                        margin: auto;

                        .text {
                            font-size: 14px;
                            font-weight: 300;
                            color: #464646;
                            margin-right: 5px;
                        }

                        .bi {
                            font-size: 18px;
                            color: #464646;
                        }
                    }
                }
            }

            .btn-signout {
                width: 100%;
                background-color: #F0F0F0;
                color: #464646;
                font-size: 14px;
                padding: 10px;
            }
        }
    }
}

// Signup Pages
.section-signup {
    position: relative;
    width: 100%;
    height: 100vh;

    .mobile-container {
        padding: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        min-height: auto;

        .image-block {
            margin: 0 0 20px;
            text-align: center;

            img {
                width: 150px;
            }
        }

        .title {
            text-align: center;
            font-size: 18px;
            font-weight: 300;
            color: #464646;
        }

        .subtitle {
            text-align: center;
            font-size: 12px;
            font-weight: 300;
            color: #464646;
            margin-bottom: 30px;
        }

        .signup-form {
            .signup-fields {
                background-color: #F5F5F5;
                margin-bottom: 15px;
                padding: 9px 18px;
                border-radius: 6px;
                position: relative;

                .label {
                    font-size: 12px;
                    font-weight: 300;
                    color: #464646;
                }

                .signup-input {
                    width: 100%;
                    font-size: 14px;
                    font-weight: 400;
                    background-color: transparent;
                    border: none;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }

                .bi {
                    position: absolute;
                    top: 50%;
                    right: 18px;
                    transform: translate(0, -50%);
                    font-size: 16px;
                    color: #777;
                }
            }

            .signup-submit {
                width: 100%;
                background-color: #017FFA;
                color: #fff;
                font-size: 14px;
                padding: 12px;
                margin-top: 25px;
            }

            .forgot-password {
                text-align: center;
                display: block;
                font-size: 12px;
                font-weight: 300;
                text-decoration: none;
                color: #017FFA;
                margin-top: 10px;
            }
        }

        .social-signup {
            margin: 30px 0;
            border-top: 1px solid #ddd;
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 25px 0;

            .devider {
                font-size: 14px;
                font-weight: 300;
                color: #ccc;
                background-color: #ffff;
                display: inline-block;
                padding: 0 10px;
                position: absolute;
                left: 50%;
                top: -11px;
                transform: translate(-50%, 0);
            }

            .btn-social-signup {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-decoration: none;
                margin: 0 20px;

                img {
                    width: 24px;
                    margin-right: 8px;
                }

                .text {
                    font-size: 12px;
                    font-weight: 300;
                    color: #777;
                }
            }
        }

        .footer {
            position: absolute;
            width: 100%;
            text-align: center;
            left: 0;
            bottom: 15px;

            .text {
                font-size: 12px;
                font-weight: 300;
                color: #464646;

                a {
                    text-decoration: none;
                    color: #017FFA;
                    font-size: 12px;
                    font-weight: 300;
                }
            }
        }
    }
}
