.sitemap-section {
    padding: 10rem 0 5rem;
    width: 95%;
    margin: auto;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }

    svg {
        width: 100%;
        height: auto;
    }
}
