.sitemap-section {
    padding: 10rem 0 5rem;
    width: 95%;
    margin: auto;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;

        img {
            max-width: 220px;
        }
    }

    svg {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 767px) {

    .sitemap-section {
        padding: 8rem 0 5rem;

        .header {
            img {
                max-width: 160px;
            }
        }
    }
}
