/* Card Section */

.section-cards {
    position: relative;
    margin-bottom: 3rem;
}

.section-cards .cards {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.section-cards .cards .card {
    position: relative;
    flex: 1 1 100%;
    text-align: center;
    box-shadow: none;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1.5rem;
    margin: 0;
    background-color: transparent;
}

.section-cards .cards .card.tab-active {
    background-color: #E1EEFF;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}

.section-cards .cards .card.tab-active::after {
    content: '';
    width: 100%;
    height: 20px;
    background-color: #E1EEFF;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.section-cards .cards .card.active .card-link {
    background-color: #00AEEF;
}

.section-cards .cards .card .card-link {
    text-decoration: none;
    padding: 2rem 0;
    margin: 0;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.section-cards .cards .card .card-link:hover {
    background-color: #00AEEF;
}

.section-cards .cards .card .card-link .tab-icon {
    width: 36px;
    stroke: #333;
    margin-bottom: 5px;
    transition: all .3s ease;
}

.section-cards .cards .card .card-link .text {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin-top: 0.25em;
    transition: all .3s ease;
}

.section-cards .cards .card.active .card-link .tab-icon,
.section-cards .cards .card.active .card-link .text,
.section-cards .cards .card .card-link:hover .tab-icon,
.section-cards .cards .card .card-link:hover .text {
    color: #fff;
    stroke: #fff;
}

.section-cards .tabs {
    display: none;
    flex-direction: row;
    align-items: center;
    background-color: #E1EEFF;
    border-radius: 10px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

.section-cards .tabs.active {
    display: flex;
}

.section-cards .tabs .tab {
    flex: 1 1 100%;
    padding: 1.5rem;
    border-radius: 10px;
}

.section-cards .tabs .tab.active .tab-link {
    border: 2px solid #0086E6;
}

.section-cards .tabs .tab .tab-link {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 50px;
    text-decoration: none;
}

.section-cards .tabs .tab .tab-link .text {
    font-size: 14px;
    color: #333;
    font-weight: 400;
}

.section-cards .tabs .tab .tab-link .realtime-icon {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 1);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
    animation: realtimePulse 2s infinite;
}

@keyframes realtimePulse {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 8px rgba(255, 0, 0, 0);
    }

    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

/* Subscription Block */

.subcription-block {
    background: url('../images/dashboard/subscriptions/background-mask.png');
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 3rem 0;
    margin: 3rem 0;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.subcription-block::before {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f4f4f4;
    position: absolute;
    top: 50%;
    left: -25px;
    z-index: 3;
    transform: translate(0, -50%);
}

.subcription-block::after {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f4f4f4;
    position: absolute;
    top: 50%;
    right: -25px;
    z-index: 3;
    transform: translate(0, -50%);
}

.subcription-block .inner-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.subcription-block .inner-wrapper .water-mark {
    position: absolute;
    right: 0;
    top: 0;
    width: 125px;
}

.subcription-block .inner-wrapper .widget-block {
    text-align: center;
}

.subcription-block .inner-wrapper .widget-block .title {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin-bottom: 0.75em;
}

.subcription-block .inner-wrapper .widget-block .title .pro-cat {
    font-size: 16px;
    font-weight: 500;
    color: #fff !important;
    padding: 0.125em 0.5em;
    border-radius: 5px;
}

.subcription-block .inner-wrapper .widget-block .title .pro-cat.blue {
    background-color: #00AEEF;
}

.subcription-block .inner-wrapper .widget-block .title .pro-cat.red {
    background-color: #FF4E4E;
}

.subcription-block .inner-wrapper .separator .bi {
    font-size: 32px;
    color: #333;
}

.subcription-block .sub-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-decoration: none;
    background-color: #00AEEF;
    font-size: 16px;
    padding: 0.5em 1em;
    width: 200px;
    height: 50px;
    border-radius: 5px;
}

.subcription-block.activated .sub-btn {
    background-color: #44BC8E;
    pointer-events: none;
}

.subcription-block.activated .sub-btn .bi {
    display: none;
}

.subcription-block .sub-btn .bi {
    font-size: 22px;
    color: #fff;
}

.subcription-block .sub-btn .text {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.subcription-block .content-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subcription-block .content-block .widget-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
    padding: 0 3rem;
}

.subcription-block .content-block .widget-block:nth-child(1) {
    border-right: 2px solid #00AEEF;
}

.subcription-block .content-block .widget-block .content .title {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 1em;
}

.subcription-block .content-block .widget-block .content .options {
    list-style: none;
    padding: 0;
}

.subcription-block .content-block .widget-block .content .options .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
}

.subcription-block .content-block .widget-block .content .options .list-item .bi {
    font-size: 14px;
}

.subcription-block .content-block .widget-block .content .options .list-item .bi.green {
    color: #33CC0D;
}

.subcription-block .content-block .widget-block .content .options .list-item .bi.red {
    color: #FF4E4E;
}

.subcription-block .content-block .widget-block .content .options .list-item .text {
    font-size: 14px;
    font-weight: 300;
    color: #333;
}

.subcription-block .button-block {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subcription-block .active-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.subcription-block.activated:hover .active-overlay {
    cursor: pointer;
    display: block;
}

.subcription-block.activated:hover .sub-btn {
    visibility: hidden;
}

.subcription-block .active-overlay .button-block {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.subcription-block .active-overlay .button-block .btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subcription-block .active-overlay .button-block .btn-group .act-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 125px;
    height: 45px;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    margin: 0.75em;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 5px;
    text-decoration: none;
}

.subcription-block .active-overlay .button-block .btn-group .act-btn.ims-lite {
    background-color: #00AEEF;
    border-color: #00AEEF;
}

.subcription-block .active-overlay .button-block .btn-group .act-btn.ims-pro {
    background-color: #FF4E4E;
    border-color: #FF4E4E;
}

.subcription-block .active-overlay .button-block .btn-group .act-btn.delete {
    background-color: #FF4E4E;
    border-color: #FF4E4E;
}

.subcription-block .active-overlay .button-block .btn-group .act-btn .bi {
    font-size: 18px;
    color: #fff;
}

.subcription-block .active-overlay .button-block .btn-group .act-btn .text {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

/* Plan Modal */

.plan-modal .modal-dialog {
    margin: 0;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%) !important;
}

.plan-modal .modal-dialog .modal-content {
    border: none;
    border-radius: 15px;
    background-color: #fff;
}

.plan-modal .modal-dialog .modal-content .modal-header {
    background-color: #00AEEF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
    position: relative;
    justify-content: center;
}

.plan-modal .modal-dialog .modal-content .modal-header .modal-title {
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.plan-modal .modal-dialog .modal-content .modal-header .btn-close {
    position: absolute;
    top: -8px;
    right: -8px;
    background: none;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.plan-modal .modal-dialog .modal-content .modal-header .btn-close .bi {
    color: #fff;
    font-size: 14px;
}

.plan-modal .modal-dialog .modal-content .modal-body {
    padding: 2.5rem;
}

.plan-modal .modal-dialog .modal-content .modal-body .inner-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.plan-modal .modal-dialog .modal-content .modal-body .inner-wrapper .content-block {
    background: linear-gradient(to bottom, #A0C54E, #149280);
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    width: 250px;
}

.plan-modal .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #A2C64D;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

.plan-modal .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .header .text-block .plan {
    font-size: 22px;
    color: #fff;
}

.plan-modal .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .header .text-block .fee {
    font-size: 14px;
    color: #fff;
}

.plan-modal .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .header .text-block .fee span {
    font-size: 12px;
    color: #fff;
}

.plan-modal .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .header img {
    width: 65px;
}

.plan-modal .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .option-block .options {
    list-style: none;
    padding: 0;
}

.plan-modal .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .option-block .options .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 0.5rem;
}

.plan-modal .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .option-block .options .list-item .bi {
    font-size: 16px;
    color: #fff;
}

.plan-modal .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .option-block .options .list-item .text {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

.plan-modal .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .option-block .options .list-item .text .pro-cat {
    font-size: 14px;
    color: #fff !important;
    padding: 0 .5em;
    border-radius: 5px;
}

.plan-modal .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .option-block .options .list-item .text .pro-cat.blue {
    background-color: #00AEEF;
}

.plan-modal .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .option-block .options .list-item .text .pro-cat.red {
    background-color: #FF4E4E;
}

.plan-modal .modal-dialog .modal-content .modal-body .inner-wrapper .button-block .widget-btn {
    text-decoration: none;
    font-size: 14px;
    border: 1px solid transparent;
    width: 150px;
    padding: 0.75em 0;
    text-align: center;
    border-radius: 7px;
    display: block;
}

.plan-modal .modal-dialog .modal-content .modal-body .inner-wrapper .button-block .widget-btn:nth-child(1) {
    margin-bottom: 1.5rem;
}

.plan-modal .modal-dialog .modal-content .modal-body .inner-wrapper .button-block .widget-btn.btn-fill {
    background-color: #00AEEF;
    border-color: #00AEEF;
    color: #fff;
}

.plan-modal .modal-dialog .modal-content .modal-body .inner-wrapper .button-block .widget-btn.btn-outline {
    background-color: #fff;
    border-color: #00AEEF;
    color: #00AEEF;
}

/* Modal executive */

.plan-modal.executive .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .header {
    border-bottom: 3px solid #2CDCFF;
}

.plan-modal.executive .modal-dialog .modal-content .modal-body .inner-wrapper .content-block {
    background: linear-gradient(to bottom, #00BDE2, #0790AD);
}

/* Modal premium */

.plan-modal.premium .modal-dialog .modal-content .modal-body .inner-wrapper {
    flex-direction: column;
}

.plan-modal.premium .modal-dialog .modal-content .modal-body .inner-wrapper .content-block {
    width: 100%;
    background: linear-gradient(to bottom, #FF8F4B, #EC3F75);
    position: relative;
    overflow: hidden;
}

.plan-modal.premium .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .label {
    color: #fff;
    background-color: #EC3F75;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    padding: 0.25em 0;
    position: absolute;
    width: 150px;
    top: 25px;
    right: -35px;
    transform: rotate(45deg);
}

.plan-modal.premium .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .header {
    justify-content: flex-start;
    gap: 6rem;
    border-bottom: 3px solid #FFBD9A;
}

.plan-modal.premium .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .option-block {
    display: flex;
    flex-direction: row;
}

.plan-modal.premium .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .option-block .options {
    flex: 1 1 100%;
    position: relative;
}

.plan-modal.premium .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .option-block .options .device {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%) rotate(-90deg);
}

.plan-modal.premium .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .option-block .options.desktop .device::before {
    content: '';
    width: 20px;
    height: 3px;
    background-color: #FFBD9A;
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translate(0, -50%);
}

.plan-modal.premium .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .option-block .options.desktop .device::after {
    content: '';
    width: 20px;
    height: 3px;
    background-color: #FFBD9A;
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translate(0, -50%);
}

.plan-modal.premium .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .option-block .options.mobile .device::before {
    content: '';
    width: 25px;
    height: 3px;
    background-color: #FFBD9A;
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translate(0, -50%);
}

.plan-modal.premium .modal-dialog .modal-content .modal-body .inner-wrapper .content-block .option-block .options.mobile .device::after {
    content: '';
    width: 25px;
    height: 3px;
    background-color: #FFBD9A;
    position: absolute;
    top: 50%;
    left: -35px;
    transform: translate(0, -50%);
}

.plan-modal.premium .modal-dialog .modal-content .modal-body .inner-wrapper .button-block {
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
    gap: 3rem;
}

.plan-modal.premium .modal-dialog .modal-content .modal-body .inner-wrapper .button-block .widget-btn {
    margin: 0;
}
