/* Card Section */

.section-cards {
    position: relative;
    margin-bottom: 3rem;
}

.section-cards .cards {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.section-cards .cards .card {
    flex: 1 1 100%;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
}

.section-cards .cards .card:hover {
    background-color: #00AEEF;
}

.section-cards .cards .card.active {
    background-color: #00AEEF;
}

.section-cards .cards .card .card-link {
    text-decoration: none;
    padding: 2rem 0;
}

.section-cards .cards .card .card-link .bi {
    font-size: 32px;
    color: #333;
    transition: all .3s ease;
}

.section-cards .cards .card .card-link .text {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin-top: 0.25em;
    transition: all .3s ease;
}

.section-cards .cards .card.active .card-link .bi,
.section-cards .cards .card.active .card-link .text,
.section-cards .cards .card:hover .card-link .bi,
.section-cards .cards .card:hover .card-link .text {
    color: #fff;
}

/* Subscription Block */

.subcription-block {
    background: url('../images/dashboard/subscriptions/background-mask.png');
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 3rem 0;
    margin: 3rem 0;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.subcription-block::before {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f4f4f4;
    position: absolute;
    top: 50%;
    left: -25px;
    z-index: 3;
    transform: translate(0, -50%);
}

.subcription-block::after {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f4f4f4;
    position: absolute;
    top: 50%;
    right: -25px;
    z-index: 3;
    transform: translate(0, -50%);
}

.subcription-block .inner-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.subcription-block .inner-wrapper .water-mark {
    position: absolute;
    right: 0;
    top: 0;
    width: 125px;
}

.subcription-block .inner-wrapper .widget-block {
    text-align: center;
}

.subcription-block .inner-wrapper .widget-block .title {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin-bottom: 0.75em;
}

.subcription-block .inner-wrapper .widget-block .title .pro-cat {
    font-size: 16px;
    font-weight: 500;
    color: #fff !important;
    padding: 0.125em 0.5em;
    border-radius: 5px;
}

.subcription-block .inner-wrapper .widget-block .title .pro-cat.blue {
    background-color: #00AEEF;
}

.subcription-block .inner-wrapper .widget-block .title .pro-cat.red {
    background-color: #FF4E4E;
}

.subcription-block .inner-wrapper .separator .bi {
    font-size: 32px;
    color: #333;
}

.subcription-block .sub-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-decoration: none;
    background-color: #00AEEF;
    font-size: 16px;
    padding: 0.5em 1em;
    width: 200px;
    height: 50px;
    border-radius: 5px;
}

.subcription-block.activated .sub-btn {
    background-color: #44BC8E;
    pointer-events: none;
}

.subcription-block.activated .sub-btn .bi {
    display: none;
}

.subcription-block .sub-btn .bi {
    font-size: 22px;
    color: #fff;
}

.subcription-block .sub-btn .text {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.subcription-block .content-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subcription-block .content-block .widget-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
    padding: 0 3rem;
}

.subcription-block .content-block .widget-block:nth-child(1) {
    border-right: 2px solid #00AEEF;
}

.subcription-block .content-block .widget-block .content .title {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 1em;
}

.subcription-block .content-block .widget-block .content .options {
    list-style: none;
    padding: 0;
}

.subcription-block .content-block .widget-block .content .options .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
}

.subcription-block .content-block .widget-block .content .options .list-item .bi {
    font-size: 14px;
}

.subcription-block .content-block .widget-block .content .options .list-item .bi.green {
    color: #33CC0D;
}

.subcription-block .content-block .widget-block .content .options .list-item .bi.red {
    color: #FF4E4E;
}

.subcription-block .content-block .widget-block .content .options .list-item .text {
    font-size: 14px;
    font-weight: 300;
    color: #333;
}

.subcription-block .button-block {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subcription-block .active-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.subcription-block.activated:hover .active-overlay {
    cursor: pointer;
    display: block;
}

.subcription-block.activated:hover .sub-btn {
    visibility: hidden;
}

.subcription-block .active-overlay .button-block {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.subcription-block .active-overlay .button-block .btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subcription-block .active-overlay .button-block .btn-group .act-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subcription-block .active-overlay .button-block .btn-group .act-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 125px;
    height: 45px;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    margin: 0.75em;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 5px;
}

.subcription-block .active-overlay .button-block .btn-group .act-btn.ims-lite {
    background-color: #00AEEF;
    border-color: #00AEEF;
}

.subcription-block .active-overlay .button-block .btn-group .act-btn.delete {
    background-color: #FF4E4E;
    border-color: #FF4E4E;
}

.subcription-block .active-overlay .button-block .btn-group .act-btn .bi {
    font-size: 18px;
    color: #fff;
}

.subcription-block .active-overlay .button-block .btn-group .act-btn .text {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
