.section-categories {
    padding: 50px 0 90px;
    background-color: #F5F6F8;
}

.section-categories .header {
    margin-bottom: 50px;
}

.section-categories .header .title {
    font-weight: 700;
    text-align: center;
}

.section-categories .header .text {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.section-categories .card {
    max-width: 300px;
    width: 100%;
    height: 240px;
    border-radius: 8px;
    border: none;
    overflow: hidden;
    margin: auto;
}

.section-categories .card:hover .inner-wrapper .overlay {
    top: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.section-categories .card:hover .inner-wrapper .content .icon-block .bi {
    color: #fff;
}

.section-categories .card:hover .inner-wrapper .content .title,
.section-categories .card:hover .inner-wrapper .content .resources {
    color: #fff !important;
}

.section-categories .card:hover .inner-wrapper .content .title span,
.section-categories .card:hover .inner-wrapper .content .resources span {
    color: #fff;
}

.section-categories .card.blue-overlay .inner-wrapper .overlay {
    background-color: #0072FF;
}

.section-categories .card.blue-overlay .inner-wrapper .content .icon-block {
    background-color: #add1ff;
}

.section-categories .card.blue-overlay .inner-wrapper .content .icon-block .bi {
    color: #0072FF;
}

.section-categories .card.blue-overlay .inner-wrapper .content .resources {
    color: #0072FF;
}

.section-categories .card.green-overlay .inner-wrapper .overlay {
    background-color: #2EB67D;
}

.section-categories .card.green-overlay .inner-wrapper .content .icon-block {
    background-color: #D9F2E7;
}

.section-categories .card.green-overlay .inner-wrapper .content .icon-block .bi {
    color: #2EB67D;
}

.section-categories .card.green-overlay .inner-wrapper .content .resources {
    color: #2EB67D;
}

.section-categories .card.yellow-overlay .inner-wrapper .overlay {
    background-color: #F2AA18;
}

.section-categories .card.yellow-overlay .inner-wrapper .content .icon-block {
    background-color: #FFEDD3;
}

.section-categories .card.yellow-overlay .inner-wrapper .content .icon-block .bi {
    color: #F2AA18;
}

.section-categories .card.yellow-overlay .inner-wrapper .content .resources {
    color: #F2AA18;
}

.section-categories .card.red-overlay .inner-wrapper .overlay {
    background-color: #E83470;
}

.section-categories .card.red-overlay .inner-wrapper .content .icon-block {
    background-color: #FAD5E1;
}

.section-categories .card.red-overlay .inner-wrapper .content .icon-block .bi {
    color: #E83470;
}

.section-categories .card.red-overlay .inner-wrapper .content .resources {
    color: #E83470;
}

.section-categories .card .inner-wrapper {
    padding: 30px;
    text-decoration: none;
    height: 100%;
}

.section-categories .card .inner-wrapper .overlay {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    top: -250px;
    left: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.section-categories .card .inner-wrapper .overlay .big-circle {
    width: 240px;
    height: 240px;
    background-color: #fff;
    opacity: 0.25;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -50%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.section-categories .card .inner-wrapper .overlay .small-circle {
    width: 100px;
    height: 100px;
    background-color: #fff;
    opacity: 0.25;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -20%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.section-categories .card .inner-wrapper .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 100%;
    position: relative;
}

.section-categories .card .inner-wrapper .content .icon-block {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section-categories .card .inner-wrapper .content .icon-block .bi {
    font-size: 30px;
}

.section-categories .card .inner-wrapper .content .title {
    font-size: 22px;
    font-weight: 300;
    color: #000;
}

.section-categories .card .inner-wrapper .content .resources {
    font-size: 12px;
    font-weight: 300;
}

.section-categories .card .inner-wrapper .content .resources span {
    color: #000;
    margin-left: 5px;
}

/*# sourceMappingURL=categories.css.map */
