@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.slider-section {
    margin: 5rem 0;
}

.slider-section .header {
    margin: 4rem 0;
}

.slider-section .header .title {
    font-weight: 700;
    font-size: 40px;
    color: #2d465b;
    margin-bottom: 1rem;
    text-align: center;
}

.slider-section .header .subtitle {
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}

.slider-section .slider .splide__pagination {
    display: none;
}

.slider-section .slider .splide__slide .slider-card {
    border: 1px solid #D2D3D4;
    border-radius: 8px;
    padding: 1rem;
}

.slider-section .slider .splide__slide .slider-card.active,
.slider-section .slider .splide__slide .slider-card:hover {
    border-color: #017FFA;
    -webkit-box-shadow: 0 5px 10px rgba(1, 127, 250, 0.23);
    box-shadow: 0 5px 10px rgba(1, 127, 250, 0.23);
}

.slider-section .slider .splide__slide .slider-card.active .icon-block .bi-check-circle-fill,
.slider-section .slider .splide__slide .slider-card:hover .icon-block .bi-check-circle-fill {
    color: #00AEEF;
}

.slider-section .slider .splide__slide .slider-card.active .contact,
.slider-section .slider .splide__slide .slider-card:hover .contact {
    color: #00AEEF;
}

.slider-section .slider .splide__slide .slider-card .icon-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.slider-section .slider .splide__slide .slider-card .main-icon {
    height: 60px;
    text-align: center;
    margin: 0 auto 1rem auto;
}

.slider-section .slider .splide__slide .slider-card .main-icon img {
    height: 100%;
}

.slider-section .slider .splide__slide .slider-card .title {
    text-align: center;
    font-weight: 400;
    margin-bottom: 1rem;
}

.slider-section .slider .splide__slide .slider-card .text {
    font-size: 0.875rem;
    text-align: center;
}

.slider-section .slider .splide__slide .slider-card .contact {
    font-size: 0.8125rem;
    text-decoration: none;
    margin: 1.5rem 0;
    text-align: center;
    display: block;
    color: #000;
}

.form-section {
    padding: 10rem 0 5rem;
    background-color: #02044A;
}

.form-section .header {
    margin: 4rem 0;
}

.form-section .header .title {
    font-size: 40px;
    text-align: center;
    color: #2d465b;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

.form-section .header .subtitle {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.form-section .mobile-header {
    margin-bottom: 3rem;
    display: none;
}

.form-section .mobile-header .title {
    font-weight: 700;
    color: #fff;
    font-size: 40px;
    margin: 0;
}

.form-section .mobile-header .text {
    font-size: 14px;
    font-weight: 300;
    color: #ABACC2;
}

.form-section .contact-form {
    padding: 2rem;
    border: 1px solid #0C75FF;
    border-radius: 15px;
    background-color: #01033E;
}

.form-section .contact-form .form-control {
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
}

.form-section .contact-form .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-section .contact-form input.form-control {
    height: 40px;
}

.form-section .contact-form textarea {
    height: 140px;
    resize: none;
}

.form-section .contact-form .form-check {
    margin: 2.5rem 0 3rem 0;
}

.form-section .contact-form .form-check .form-check-label {
    position: relative;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
}

.form-section .contact-form .button-block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-section .contact-form .button-block .form-submit-btn {
    font-size: 14px;
    font-weight: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    height: 50px;
    border-radius: 5px;
}

.form-section .contact-form .form-submit-btn {
    padding: 0.5rem 1.5rem;
}

.form-section .inner-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 1rem;
    height: 100%;
}

.form-section .inner-wrapper .header {
    margin: 3rem 0;
}

.form-section .inner-wrapper .header .title {
    font-weight: 700;
    color: #fff;
    font-size: 40px;
    margin: 0;
}

.form-section .inner-wrapper .header .text {
    font-size: 14px;
    font-weight: 300;
    color: #ABACC2;
}

.form-section .inner-wrapper .address .contact-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
}

.form-section .inner-wrapper .social img {
    width: 40px;
    margin-left: 25px;
}

.form-section .inner-wrapper .social .text {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

.form-section .inner-wrapper .social .contact-link {
    width: 280px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid transparent;
    display: flex;
    background-color: transparent;
    flex-direction: row;
    align-items: center;
}

.form-section .inner-wrapper .social .contact-link:hover {
    box-shadow: 0 0 10px #0c75ff;
    border: 1px solid #0C75FF;
    background-color: #030D58;
}

.form-section .inner-wrapper .email .contact-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 25px;
    text-decoration: none;
}

.form-section .inner-wrapper .background-img {
    position: absolute;
    width: 80%;
    right: 0;
}

@media screen and (max-width: 1199px) {
    .form-section .inner-wrapper .background-img {
        width: 60%;
        bottom: 0;
    }
}

@media screen and (max-width: 991px) {
    .slider-section {
        padding-top: 80px;
    }

    .form-section .mobile-header {
        display: block;
    }

    .form-section .inner-wrapper .header {
        display: none;
    }

    .form-section .inner-wrapper .background-img {
        display: none;
    }

    .form-section .inner-wrapper {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 767px) {
    .form-section .contact-form .button-block {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .form-section .contact-form .button-block .form-submit-btn {
        margin: 0;
    }
}

@media screen and (max-width: 400px) {

    .form-section .inner-wrapper .images .large {
        width: 160px;
    }

}

/*# sourceMappingURL=contact_us.css.map */
