.section-content {
    background-color: #f4f4f4f5;
    padding: 2rem 0;

    .section-container {
        width: 90%;
        margin: 0 auto;

        #sectionHeader {

            .header-block {

                .sub-title {
                    font-weight: 500;
                }

                .input-group {

                    .form-label {
                        font-size: 1.1rem;
                        font-weight: 600;
                        background-color: #fff;
                        width: 250px;
                        text-align: center;
                        height: 60px;
                        border-radius: 0.5rem;
                        white-space: nowrap;
                        display: flex;
                        gap: 0.75rem;
                        align-items: center;
                        justify-content: center;
                        margin: 0;
                    }

                    .form-control {
                        background-color: #fff !important;
                        border: none;
                        border-radius: 5px !important;
                        padding: 1.1rem 2rem;
                    }
                }

                .btn-optimize {
                    line-height: 60px;
                    height: 60px;
                    width: 180px;
                    padding: 0;
                    border-radius: 0.5rem;
                    background-color: #0d6efd;
                    color: #fff;
                    font-weight: 600;
                    font-size: 1.1rem;
                }
            }
        }
    }

    #sectionProperties {
        .property-block {
            background-color: #fff;
            border-radius: 1rem;
            overflow: hidden;

            .property-name {
                .pro-name {
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: #333;
                    display: block;
                }

                .pro-url {
                    color: #999;
                    font-weight: 500;
                    display: block;
                }
            }

            .button-block {

                .btn {
                    border: 1px solid #0d6efd;
                    width: 140px;
                    height: 46px;
                    line-height: 46px;
                    border-radius: 0.5rem;
                    font-weight: 500;
                    padding: 0;

                    .bi {
                        margin-right: .75rem;
                    }
                }

                .form-switch {
                    padding-left: 0;
                    padding-right: 2.5em;

                    .form-check-label {
                        font-weight: 500;
                        white-space: nowrap;
                    }

                    .form-check-input {
                        float: right;
                        margin-right: -2.5em;
                        margin-left: 0;
                    }
                }
            }

            .info-blocks {

                &:not(:last-child) {
                    border-right: 1px solid #ddd;
                }

                .block-title {
                    display: block;
                    font-size: 1.1rem;
                    font-weight: 500;
                    text-align: center;
                    white-space: nowrap;
                }

                .precentage {
                    font-size: 1.1rem;
                    font-weight: 500;
                    color: #0d6efd;
                    white-space: nowrap;
                }
            }

            .seo-block {

                .seo-result {
                    text-align: center;
                    display: block;
                    font-size: 1.75rem;
                    color: #999;
                }

                .progress {
                    height: 0.4rem;
                }

                .precentage {
                    display: block;
                    text-align: center;
                    margin-bottom: 0.5rem;

                    .sign {
                        font-size: .9rem;
                        color: #198754;
                    }
                }
            }

            .analytics-block {

                .block-content {

                    .block-title {
                        text-align: left;
                        display: block;
                    }

                    .sub-title {
                        color: #999;
                        font-size: 1.1rem;
                        margin-right: 1rem;
                    }

                    i {
                        margin-right: 1rem;
                    }
                }
            }

            .statics-block {

                .issues-blocks {

                    .issue-info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: nowrap;

                        .info,
                        .info-prec {
                            color: #999;
                            font-size: .85rem;

                            i {
                                margin-right: .5rem;
                                font-size: .85rem;
                            }
                        }
                    }

                    .progress {
                        height: 0.4rem;
                    }
                }
            }
        }
    }
}


// Media Queries
@media screen and (max-width: 1399px) {
    .section-content {
        height: auto;
    }

    #sectionProperties {
        .property-block {
            .info-blocks {
                border-right: none !important;
            }
        }
    }
}

@media screen and (max-width: 2199px) {
    #sectionProperties {
        .button-block {

            .form-check.form-switch {
                width: 185px;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    #sectionHeader {
        .header-block {
            .input-group {
                .form-label {
                    height: 45px !important;
                    width: 220px !important;
                }
            }

            .btn-optimize {
                height: 45px !important;
                line-height: 45px !important;
                width: 220px !important;
            }
        }
    }

    #sectionProperties {
        .property-block {
            .button-block {
                .btn {
                    width: 220px !important;
                    height: 45px !important;
                    line-height: 45px !important;
                }
            }
        }
    }
}
