.footer-section {
    padding-top: 35px;
    background-color: #101E40;
}

.footer-section .links .header {
    height: 80px;
    border: 1px solid #1B3D6B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 30px;
}

.footer-section .links .header img {
    width: 160px;
}

.footer-section .links .body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 1px solid #1B3D6B;
    padding: 20px 30px;
}

.footer-section .links .body .navbar-nav .nav-item:first-child {
    font-size: 16px;
    color: #fff;
    margin-bottom: 25px;
}

.footer-section .links .body .navbar-nav .nav-item .nav-link {
    font-size: 13px;
    font-weight: 300;
    color: #fff;
}

.footer-section .links .footer {
    height: 80px;
    border: 1px solid #1B3D6B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-section .links .footer .social-media .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 35px;
}

.footer-section .links .footer .social-media .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 20px;
}

.footer-section .contact-info .header {
    height: 80px;
    background-color: #00AEEF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 35px;
    gap: 40px;
}

.footer-section .contact-info .header .bi {
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 25px;
    color: #00aeef;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-section .contact-info .header .title {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.footer-section .contact-info .body {
    border: 1px solid #1B3D6B;
    height: 375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-section .contact-info .body .business,
.footer-section .contact-info .body .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
}

.footer-section .contact-info .body .business .image-block .bi,
.footer-section .contact-info .body .media .image-block .bi {
    color: #fff;
    font-size: 45px;
}

.footer-section .contact-info .body .business .content .title,
.footer-section .contact-info .body .media .content .title {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}

.footer-section .contact-info .body .business .content .email,
.footer-section .contact-info .body .media .content .email {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.footer-section .contact-info .body .business {
    margin-bottom: 40px;
}

.footer-section .contact-info .footer {
    height: 80px;
    border: 1px solid #1B3D6B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-section .contact-info .footer .newsletter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-section .contact-info .footer .newsletter label .submit-btn {
    border: none;
    width: 115px;
    height: 50px;
    border-radius: 50px;
    background-color: #00AEEF;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);
}

.footer-section .contact-info .footer .newsletter input {
    max-width: 360px;
    width: 100%;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #fff;
    background-color: #101E40;
    padding: 10px 125px 10px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.footer-section .copyright-blocok {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.footer-section .copyright-blocok .terms {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}

.footer-section .copyright-blocok .terms a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}

.footer-section .copyright-blocok .copyright {
    font-size: 12px;
    color: #fff;
    text-align: center;
    font-weight: 300;
}

@media screen and (max-width: 991px) {

    .footer-section .inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .footer-section .inner-wrapper>div {
        width: 100%;
    }
}

@media screen and (max-width: 574px) {

    .footer-section .links .header {
        justify-content: center;
    }

    .footer-section .links .body {
        display: flex;
        flex-direction: column !important;
        gap: 4rem;
        text-align: center;
    }

    .footer-section .contact-info .header {
        justify-content: center;
    }

    .footer-section .copyright-blocok {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

/*# sourceMappingURL=footer.css.map */
