.daterangepicker {
  padding: 10px;
  border-radius: 10px;
  border-color: #D7E8F9;
}
.daterangepicker::before {
  border-bottom: 7px solid #D7E8F9;
}
.daterangepicker .drp-calendar {
  border: none !important;
}
.daterangepicker .drp-calendar.right {
  display: none;
}
.daterangepicker .drp-calendar.left .calendar-table td {
  height: 33px;
}
.daterangepicker .drp-calendar.left .calendar-table td.active.start-date.end-date {
  background-color: #017FFA;
  border-radius: 50%;
}
.daterangepicker .drp-calendar.left .calendar-table td.active.start-date.in-range {
  background-color: #017FFA;
  border-radius: 50%;
}
.daterangepicker .drp-calendar.left .calendar-table td.active.start-date:not(.in-range):not(.end-date) {
  background-color: #017FFA;
  border-radius: 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.daterangepicker .drp-calendar.left .calendar-table td.active.end-date.in-range {
  background-color: #017FFA;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.daterangepicker .drp-calendar.left .calendar-table td.in-range {
  background-color: #E0EFFF;
}
.daterangepicker .drp-buttons .cancelBtn {
  font-size: 12px;
  font-weight: 400;
  color: #464646;
  background-color: #F2F2F6;
  width: 70px;
}
.daterangepicker .drp-buttons .applyBtn {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background-color: #017FFA;
  width: 70px;
}
.daterangepicker .drp-selected {
  display: none;
}
.daterangepicker.show-calendar .ranges ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.daterangepicker.show-calendar .ranges ul li {
  background-color: #F2F2F6;
  border-radius: 4px;
  color: #464646;
}
.daterangepicker.show-calendar .ranges ul li.active {
  background-color: #017FFA;
  color: #fff;
}
.daterangepicker.show-calendar .ranges ul li:last-child {
  display: none;
}

.heatmap-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
.heatmap-header .datepicker {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  width: 270px;
}
.heatmap-header .datepicker .text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.heatmap-header .datepicker .text .bi {
  font-size: 16px;
  color: #333;
}
.heatmap-header .datepicker .text .date {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.heatmap-header .datepicker .filter-date-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.heatmap-header .btn-export {
  background-color: #44BC8E;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 44px;
  border-radius: 5px;
}

.heatmap-overview {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.heatmap-overview .pages-section {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.heatmap-overview .pages-section .pages-block {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
}
.heatmap-overview .pages-section .pages-block .headar {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.heatmap-overview .pages-section .pages-block .body {
  max-height: 350px;
  overflow-y: scroll;
}
.heatmap-overview .pages-section .pages-block .body .page-item:not(:nth-last-child(1)) {
  border-bottom: 1px solid #ddd;
}
.heatmap-overview .pages-section .pages-block .body .page-item:nth-child(1) .rank {
  background-color: #EF3737 !important;
}
.heatmap-overview .pages-section .pages-block .body .page-item:nth-child(2) .rank {
  background-color: #F58B0C !important;
}
.heatmap-overview .pages-section .pages-block .body .page-item:nth-child(3) .rank {
  background-color: #31AE0B !important;
}
.heatmap-overview .pages-section .pages-block .body .page-item:nth-child(4) .rank {
  background-color: #00AEEF !important;
}
.heatmap-overview .pages-section .pages-block .body .page-item:nth-child(5) .rank {
  background-color: #9E9FFA !important;
}
.heatmap-overview .pages-section .pages-block .body .page-item.active .page-link {
  background-color: #e9ecef;
}
.heatmap-overview .pages-section .pages-block .body .page-item .page-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  border: none;
  padding: 10px 15px;
}
.heatmap-overview .pages-section .pages-block .body .page-item .page-link .rank {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #B7B7B7;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}
.heatmap-overview .pages-section .pages-block .body .page-item .page-link .text-block {
  flex: 1;
}
.heatmap-overview .pages-section .pages-block .body .page-item .page-link .text-block .title {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.heatmap-overview .pages-section .pages-block .body .page-item .page-link .text-block .text {
  font-size: 13px;
  font-weight: 400;
  color: #333;
}
.heatmap-overview .pages-section .pages-block .body .page-item .page-link .count {
  font-size: 13px;
  font-weight: 400;
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  padding: 0.25em 0.5em;
  border-radius: 50px;
}
.heatmap-overview .pages-section .legend-block {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.heatmap-overview .pages-section .legend-block .title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-bottom: 20px;
}
.heatmap-overview .pages-section .legend-block .legend-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  background: linear-gradient(to right, #0AF8D3, #3DFE00, #FFD900, #FE7000, #FF0501);
  height: 22px;
  margin-bottom: 35px;
}
.heatmap-overview .pages-section .legend-block .legend-bar li {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: relative;
}
.heatmap-overview .pages-section .legend-block .legend-bar li::after {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 12px;
  font-weight: 400;
  color: #777;
}
.heatmap-overview .pages-section .legend-block .legend-bar li:nth-child(1)::after {
  content: "20";
}
.heatmap-overview .pages-section .legend-block .legend-bar li:nth-child(2)::after {
  content: "40";
}
.heatmap-overview .pages-section .legend-block .legend-bar li:nth-child(3)::after {
  content: "60";
}
.heatmap-overview .pages-section .legend-block .legend-bar li:nth-child(4)::after {
  content: "80";
}
.heatmap-overview .pages-section .legend-block .legend-bar li:nth-child(5)::after {
  content: "100";
}
.heatmap-overview .heatmap-block {
  flex: 1;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.heatmap-overview .heatmap-block .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 15px;
}
.heatmap-overview .heatmap-block .header .button-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.heatmap-overview .heatmap-block .header .button-block .btn-link {
  text-decoration: none;
  text-align: center;
}
.heatmap-overview .heatmap-block .header .button-block .btn-link:hover .bi,
.heatmap-overview .heatmap-block .header .button-block .btn-link:hover .text, .heatmap-overview .heatmap-block .header .button-block .btn-link.active .bi,
.heatmap-overview .heatmap-block .header .button-block .btn-link.active .text {
  color: #0086E6;
}
.heatmap-overview .heatmap-block .header .button-block .btn-link .bi {
  font-size: 20px;
  color: #777;
}
.heatmap-overview .heatmap-block .header .button-block .btn-link .text {
  font-size: 12px;
  font-weight: 400;
  color: #777;
}
.heatmap-overview .heatmap-block .header .button-block .btn-screencap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #44BC8E;
  width: 130px;
  height: 35px;
  text-decoration: none;
  border-radius: 5px;
}
.heatmap-overview .heatmap-block .header .button-block .btn-screencap .bi {
  font-size: 18px;
  color: #fff;
}
.heatmap-overview .heatmap-block .header .button-block .btn-screencap .text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.heatmap-overview .heatmap-block .body .map-frame {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.chart-section {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.chart-section .chart-block {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  flex: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.chart-section .chart-block .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 5px 15px 15px;
  border-bottom: 1px solid #ddd;
}
.chart-section .chart-block .header .text-block .title {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.chart-section .chart-block .header .text-block .text {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.chart-section .chart-block .header .legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.chart-section .chart-block .header .legend::before {
  content: "0";
  font-size: 14px;
  font-weight: 400;
  color: #777;
  margin: 0 10px;
}
.chart-section .chart-block .header .legend::after {
  content: "100";
  font-size: 14px;
  font-weight: 400;
  color: #777;
  margin: 0 10px;
}
.chart-section .chart-block .header .legend li {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
}
.chart-section .chart-block .header .legend li:nth-child(1) {
  background-color: #F4F5F9;
}
.chart-section .chart-block .header .legend li:nth-child(2) {
  background-color: #EFEBFA;
}
.chart-section .chart-block .header .legend li:nth-child(3) {
  background-color: #E8DFFE;
}
.chart-section .chart-block .header .legend li:nth-child(4) {
  background-color: #D2C0FC;
}
.chart-section .chart-block .header .legend li:nth-child(5) {
  background-color: #BAA4F9;
}
.chart-section .chart-block .header .legend li:nth-child(6) {
  background-color: #A189F9;
}
.chart-section .chart-block .header .legend li:nth-child(7) {
  background-color: #836FF5;
}
.chart-section .chart-block .body {
  padding: 0 10px;
}
.chart-section .chart-block .body #actionChart {
  width: 100%;
  height: 450px;
}
.chart-section .chart-block .body #actionChart > div {
  margin: auto !important;
}
.chart-section .chart-block .inner-chart {
  flex: 1;
}
.chart-section .chart-block .inner-chart .header {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  padding: 5px 15px 15px;
  border: none;
}
.chart-section .chart-block .inner-chart .body {
  padding: 0 10px;
}
.chart-section .chart-block .inner-chart .body #pagesChart,
.chart-section .chart-block .inner-chart .body #eventChart {
  width: 100%;
  height: 300px;
}
.chart-section .chart-block .inner-chart .body #pagesChart > div,
.chart-section .chart-block .inner-chart .body #eventChart > div {
  margin: auto !important;
}

/*# sourceMappingURL=heatmap.css.map */
