.hero-section {
    position: relative;
    width: 100%;
}

.hero-section .inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 45px 0 80px;
}

.hero-section .inner-wrapper .content-block {
    max-width: 350px;
    width: 100%;
}

.hero-section .inner-wrapper .content-block h5 {
    font-weight: 400;
}

.hero-section .inner-wrapper .content-block h5:first-child {
    margin-bottom: 20px;
}

.hero-section .inner-wrapper .content-block h5.light {
    font-weight: 300;
}

.hero-section .inner-wrapper .content-block h5:nth-child(4) {
    margin-bottom: 50px;
}

.hero-section .inner-wrapper .content-block h5 span {
    font-size: 28px;
    color: #00AEEF;
    font-size: 28px;
    color: #00AEEF;
}

.hero-section .inner-wrapper .content-block .title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 40px;
}

.hero-section .inner-wrapper .content-block .cta-btn {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    font-size: 14px;
    width: 180px;
    display: block;
    padding: 18px 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hero-section .inner-wrapper .content-block .cta-btn .bi {
    font-size: 20px;
    margin-left: 5px;
}

.hero-section .inner-wrapper .content-block .featured-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

.hero-section .inner-wrapper .content-block .featured-icons .icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero-section .inner-wrapper .image-block {
    width: 100%;
    max-width: 765px;
}

.hero-section .inner-wrapper .image-block img {
    width: 100%;
}

.feature-section {
    background-color: #F5F6F8;
    padding: 48px 0;
}

.feature-section .header {
    max-width: 950px;
    width: 100%;
    margin: 0 auto 65px;
    text-align: center;
}

.feature-section .header .title {
    font-weight: 700;
}

.feature-section .header .text {
    font-size: 14px;
}

.feature-section .body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.feature-section .body .feature-box {
    background-color: #fff;
    width: 624px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 10px 20px 20px;
}

.feature-section .body .feature-box .content-block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
}

.feature-section .body .feature-box .content-block .header {
    text-align: left;
    margin: 0;
    border-bottom: 1px solid rgba(112, 112, 112, 0.55);
}

.feature-section .body .feature-box .content-block .header .title {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 24px;
}

.feature-section .body .feature-box .content-block .header .title .bi {
    color: #00AEEF;
    margin-right: 28px;
}

.feature-section .body .feature-box .content-block .header .text {
    font-size: 14px;
    font-weight: 300;
    display: block;
    margin-bottom: 16px;
}

.feature-section .body .feature-box .content-block .features {
    padding: 0;
    list-style: none;
    margin-top: 14px;
}

.feature-section .body .feature-box .content-block .features li {
    font-size: 14px;
    color: #000;
    margin-bottom: 14px;
}

.feature-section .body .feature-box .content-block .features li .bi {
    color: #00AEEF;
    margin-right: 12px;
}

.feature-section .body .feature-box .content-block .cta-btn-border {
    text-decoration: none;
    color: #000;
    width: 200px;
    padding: 16px 0;
    display: block;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    margin-top: 40px;
}

.feature-section .body .feature-box .content-block .cta-btn-border:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

.feature-section .body .feature-box .image-block img {
    width: 100%;
}

.IMS-section {
    padding: 48px 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, #F5F6F8), color-stop(0, #fff));
    background: linear-gradient(to bottom, #F5F6F8 65%, #fff 0);
}

.IMS-section .title {
    font-weight: 700;
    text-align: center;
}

.IMS-section .text {
    text-align: center;
    display: block;
    font-size: 25px;
    font-weight: 300;
}

.IMS-section .image-block img {
    width: 100%;
}

.SEO-section {
    margin: 48px 0 120px;
}

.SEO-section .header {
    width: 700px;
    margin: 0 auto 35px;
}

.SEO-section .header .title {
    font-weight: 700;
    text-align: center;
}

.SEO-section .header .text {
    font-size: 16px;
    font-weight: 300;
    display: block;
    text-align: center;
}

.SEO-section .inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 45px;
}

.SEO-section .inner-wrapper .SEO-block {
    max-width: 400px;
    width: 100%;
    background-color: #F5F6F8;
    padding: 40px 25px 25px 25px;
}

.SEO-section .inner-wrapper .SEO-block .header {
    text-align: left;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid rgba(112, 112, 112, 0.55);
}

.SEO-section .inner-wrapper .SEO-block .header .title {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 14px;
    text-align: left;
}

.SEO-section .inner-wrapper .SEO-block .header .title .bi {
    color: #00AEEF;
    margin-right: 12px;
}

.SEO-section .inner-wrapper .SEO-block .header .text {
    font-size: 14px;
    font-weight: 300;
    display: block;
    margin-bottom: 25px;
    text-align: left;
}

.SEO-section .inner-wrapper .SEO-block .features {
    padding: 0;
    list-style: none;
    margin-top: 14px;
}

.SEO-section .inner-wrapper .SEO-block .features li {
    font-size: 14px;
    color: #000;
    margin-bottom: 14px;
}

.SEO-section .inner-wrapper .SEO-block .features li .bi {
    color: #00AEEF;
    margin-right: 12px;
}

.SEO-section .inner-wrapper .SEO-block .image-block img {
    width: 100%;
}

.SEO-section .inner-wrapper .SEO-block .cta-btn-border {
    text-decoration: none;
    color: #000;
    width: 100%;
    padding: 13px 0;
    display: block;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
}

.SEO-section .inner-wrapper .SEO-block .cta-btn-border:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

.marketplace-section {
    border-top: 1px solid #707070;
}

.marketplace-section .inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.marketplace-section .inner-wrapper .button-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-right: 1px solid #000;
    width: 140px;
    position: relative;
}

.marketplace-section .inner-wrapper .button-block .content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.marketplace-section .inner-wrapper .button-block .content .title {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 60px;
    background-color: #fff;
}

.marketplace-section .inner-wrapper .button-block .content .cta-btn {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    font-size: 16px;
    width: 340px;
    padding: 17px 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.marketplace-section .inner-wrapper .button-block .content .cta-btn .bi {
    font-size: 20px;
    margin-left: 36px;
}

.marketplace-section .inner-wrapper .button-block .content .cta-btn-border {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    width: 340px;
    padding: 17px 0;
    border: 1px solid #000;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 28px;
}

.marketplace-section .inner-wrapper .button-block .content .cta-btn-border .bi {
    font-size: 20px;
    margin-left: 36px;
}

.marketplace-section .inner-wrapper .card-block {
    position: relative;
    width: 100%;
    height: 100vh;
}

.marketplace-section .inner-wrapper .card-block .card {
    max-width: 375px;
    width: 100%;
    padding: 24px;
    border: 1px solid rgba(1, 127, 250, 0.4);
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.marketplace-section .inner-wrapper .card-block .card:hover {
    cursor: pointer;
}

.marketplace-section .inner-wrapper .card-block .card .icon-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.marketplace-section .inner-wrapper .card-block .card .image-block img {
    width: 100%;
}

.marketplace-section .inner-wrapper .card-block .card .content .title {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0 30px;
    text-align: center;
}

.marketplace-section .inner-wrapper .card-block .card .content .text {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.marketplace-section .inner-wrapper .card-block .card-top {
    position: absolute;
    top: 45px;
    left: 35%;
    opacity: 0.5;
    z-index: 20;
}

.marketplace-section .inner-wrapper .card-block .card-top:hover {
    z-index: 22;
    opacity: 1;
    border: 1px solid #017ffa;
}

.marketplace-section .inner-wrapper .card-block .card-top:hover .bi-check-circle-fill {
    color: #017FFA;
}

.marketplace-section .inner-wrapper .card-block .card-top:hover+.card-middle {
    opacity: 0.5;
    border: 1px solid rgba(1, 127, 250, 0.4);
}

.marketplace-section .inner-wrapper .card-block .card-top:hover+.card-middle .bi-check-circle-fill {
    color: #000;
}

.marketplace-section .inner-wrapper .card-block .card-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    border: 1px solid #017ffa;
    z-index: 21;
}

.marketplace-section .inner-wrapper .card-block .card-middle .bi-check-circle-fill {
    color: #017FFA;
}

.marketplace-section .inner-wrapper .card-block .card-bottom {
    position: absolute;
    bottom: 45px;
    left: 65%;
    opacity: 0.5;
    z-index: 20;
}

.marketplace-section .inner-wrapper .card-block .card-bottom:hover {
    z-index: 23;
    opacity: 1;
    border: 1px solid #017ffa;
}

.marketplace-section .inner-wrapper .card-block .card-bottom:hover .bi-check-circle-fill {
    color: #017FFA;
}

.marketplace-section .inner-wrapper .card-block .card-bottom:hover+.card-top {
    opacity: 0.5;
    border: 1px solid rgba(1, 127, 250, 0.4);
}

.marketplace-section .inner-wrapper .card-block .card-bottom:hover+.card-top .bi-check-circle-fill {
    color: #000;
}

.shop-section {
    padding: 64px 0;
    background-color: #F5F6F8;
}

.shop-section .header {
    max-width: 680px;
    width: 100%;
    margin: 0 auto 90px;
}

.shop-section .header .title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.shop-section .header .text {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.shop-section .slider .splide .splide__slide {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.shop-section .slider .splide .splide__slide a {
    text-decoration: none;
}

.shop-section .slider .splide .splide__slide a .card {
    border: none;
    border-radius: 0;
}

.shop-section .slider .splide .splide__slide a .card .image-block .default {
    width: 100%;
}

.shop-section .slider .splide .splide__slide a .card .image-block .focused {
    display: none;
}

.shop-section .slider .splide .splide__slide a .card .content {
    padding: 25px;
}

.shop-section .slider .splide .splide__slide a .card .content .title {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    margin-bottom: 12px;
}

.shop-section .slider .splide .splide__slide a .card .content .text {
    font-size: 20px;
    font-weight: 300;
    color: #000;
    margin-bottom: 10px;
}

.shop-section .slider .splide .splide__slide a .card .content .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.shop-section .slider .splide .splide__slide a .card .content .rating .bi {
    font-size: 20px;
    color: #F6A01C;
}

.shop-section .slider .splide .splide__slide a .card .content .rating .precentage {
    font-size: 14px;
    color: #F6A01C;
}

.shop-section .slider .splide .splide__slide a .card .content .rating .amount {
    font-size: 12px;
    color: #9F9F9F;
}

.shop-section .slider .splide .splide__slide a .card .content .footer {
    padding-top: 15px;
    border-top: 1px solid #707070;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.shop-section .slider .splide .splide__slide a .card .content .footer .fee {
    font-size: 24px;
    font-weight: 500;
    color: #009100;
}

.shop-section .slider .splide .splide__slide a .card .content .footer .period {
    font-size: 14px;
    font-weight: 300;
    color: #000;
}

.shop-section .slider .splide .splide__slide.is-active {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.news-section {
    margin: 70px 0 100px;
}

.news-section .header {
    margin-bottom: 80px;
}

.news-section .header .title {
    font-weight: 700;
    text-align: center;
}

.news-section .header .text {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.news-section .inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 30px;
}

.news-section .inner-wrapper .card {
    border: none;
    background-color: #FAFAFA;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.news-section .inner-wrapper .card .image-block img {
    width: 100%;
}

.news-section .inner-wrapper .card .content-block {
    padding: 20px;
}

.news-section .inner-wrapper .card .content-block .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 15px;
}

.news-section .inner-wrapper .card .content-block .header img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.news-section .inner-wrapper .card .content-block .header .title {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.news-section .inner-wrapper .card .content-block .text {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px;
}

.news-section .inner-wrapper .card .content-block .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 2px solid #D9D9D9;
    padding-top: 15px;
}

.news-section .inner-wrapper .card .content-block .footer .reactions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
}

.news-section .inner-wrapper .card .content-block .footer .reactions .likes a,
.news-section .inner-wrapper .card .content-block .footer .reactions .comments a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.32);
}

.news-section .inner-wrapper .card .content-block .footer .reactions .likes a .bi,
.news-section .inner-wrapper .card .content-block .footer .reactions .comments a .bi {
    margin-right: 15px;
}

.news-section .inner-wrapper .card .content-block .footer .btn-view {
    text-decoration: none;
    color: #00AEEF;
    font-size: 14px;
}

/*# sourceMappingURL=home.css.map */
