.hero-section {
    position: relative;
    padding-top: 100px;
    width: 100%;
}

.hero-section .custom__pagination .custom__pagination__page {
    width: 180px;
    margin: 0;
    padding: 1em 0;
    opacity: 1;
    border-top: 1px solid #C1C1C1;
    border-radius: 0;
    height: auto;
    background-color: transparent;
    color: #C1C1C1;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.hero-section .custom__pagination .custom__pagination__page.is-active {
    transform: scale(1);
    color: #333;
}

.hero-section .custom__pagination li:nth-child(1) .custom__pagination__page {
    color: #fff;
    background-color: #FF0404;
}

.hero-section .custom__pagination .custom__pagination__page.is-active::after {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: #333;
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translate(-50%, 0);
}

.hero-section .slide-wrapper {
    display: flex;
    flex-direction: row;
    margin: 45px 0 80px;
}

.hero-section .slide-wrapper .content-block {
    max-width: 300px;
    width: 100%;
    position: relative;
    min-height: 330px;
}

.hero-section .slide-wrapper .content-block .inner-wrapper {
    position: absolute;
    top: 25%;
    left: 0;
}

.hero-section .slide-wrapper .content-block .title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 1.5rem;
}

.hero-section .slide-wrapper .content-block .title span {
    color: #A2A19F;
}

.hero-section .slide-wrapper .content-block .caption {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.hero-section .slide-wrapper .content-block .product {
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
}

.hero-section .slide-wrapper .content-block .product.blue {
    color: #00AEEF;
}

.hero-section .slide-wrapper .content-block .product .pro-cat {
    color: #fff;
    padding: 0.125em 0.5em;
    border-radius: 0.25em;
}

.hero-section .slide-wrapper .content-block .product .pro-cat.blue {
    background-color: #00AEEF;
}

.hero-section .slide-wrapper .content-block .product .pro-cat.red {
    background-color: #FF4848;
}

.hero-section .slide-wrapper .content-block .text {
    font-size: 15px;
    font-weight: 300;
    margin: 1rem 0 1.5rem;
}

.hero-section .slide-wrapper .content-block .text.blue {
    color: #00AEEF;
}

.hero-section .slide-wrapper .image-block {
    width: 100%;
    position: relative;
}

.hero-section .slide-wrapper .image-block .back-img {
    width: 100%;
}

.hero-section .slide-wrapper .image-block .size-img {
    position: absolute;
}

.hero-section .slide-wrapper .image-block .main-img {
    max-width: 700px;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-section .slide-wrapper .image-block .imslite-img {
    max-width: 588px;
    width: 58%;
    left: 0;
    bottom: 5%;
}

.hero-section .slide-wrapper .image-block .wapp-img {
    max-width: 305px;
    width: 30%;
    right: 0;
    bottom: 0;
}

.hero-section .slide-wrapper .image-block.slide-3 .wapp-img {
    max-width: 305px;
    width: 30%;
    right: 5%;
    bottom: 0;
}

.hero-section .slide-wrapper .image-block .allin1-img {
    max-width: 298px;
    width: 29%;
    right: 0;
    bottom: 10%;
}

.hero-section .slide-wrapper .image-block.slide-4 .heatmap-img {
    max-width: 223px;
    width: 22%;
    right: 0;
    top: 0;
}

.hero-section .slide-wrapper .image-block.slide-4 .allin1-img {
    max-width: 196px;
    width: 19%;
    right: 20%;
    top: 20%;
    display: none;
}

.hero-section .slide-wrapper .image-block.slide-4 .mobapp-img {
    max-width: 194px;
    width: 19%;
    right: 20%;
    bottom: 0;
}

.hero-section .slide-wrapper .image-block.slide-4 .realtime-img {
    max-width: 183px;
    width: 17%;
    right: 0%;
    top: 36%;
}

.hero-section .slide-wrapper .image-block.slide-4 .record-img {
    max-width: 160px;
    width: 16%;
    right: 6%;
    bottom: 9%;
}

.feature-section {
    background-color: #F5F6F8;
    padding: 3rem 0 6rem;
    position: relative;
}

.feature-section .header {
    max-width: 950px;
    width: 100%;
    margin: 0 auto 65px;
    text-align: center;
}

.feature-section .header .title {
    font-weight: 700;
    font-size: 40px;
    color: #2d465b;
    margin-bottom: 1rem;
}

.feature-section .header .text {
    font-size: 20px;
    font-weight: 300;
}

.feature-section .body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.feature-section .body .feature-box {
    background-color: #fff;
    width: 624px;
    padding: 20px 10px 20px 20px;
}

.feature-section .body .feature-box:hover {
    box-shadow: 0 0 10px rgba(1, 127, 250, 0.2);
}

.feature-section .body .feature-box .inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.feature-section .body .feature-box .button-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.feature-section .body .feature-box .content-block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
}

.feature-section .body .feature-box .content-block .header {
    text-align: left;
    margin: 0;
    border-bottom: 1px solid rgba(112, 112, 112, 0.55);
}

.feature-section .body .feature-box .content-block .header .title {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 24px;
}

.feature-section .body .feature-box .content-block .header .title img {
    margin-right: 25px;
}

.feature-section .body .feature-box .content-block .header .text {
    font-size: 14px;
    font-weight: 300;
    display: block;
    margin-bottom: 16px;
}

.feature-section .body .feature-box .content-block .features {
    padding: 0;
    list-style: none;
    margin-top: 14px;
}

.feature-section .body .feature-box .content-block .features li {
    font-size: 14px;
    color: #000;
    margin-bottom: 14px;
}

.feature-section .body .feature-box .content-block .features li .bi {
    color: #00AEEF;
    margin-right: 12px;
}

.feature-section .body .feature-box .image-block img {
    width: 100%;
}

.IMS-section {
    position: relative;
    padding: 3rem 0;
    background-color: #fff;
}

.IMS-section .heading {
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    color: #2d465b;
    margin-bottom: 0.5em;
}

.IMS-section .heading .pro-cat {
    font-size: 45px;
    color: #fff;
    background-color: #FF4848;
    border-radius: 5px;
    line-height: 1;
    padding: 0 0.5em;
}

.IMS-section .title {
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    margin-bottom: 1rem;
    color: #2d465b;
}

.IMS-section .text {
    text-align: center;
    display: block;
    font-size: 20px;
    font-weight: 300;
}

.IMS-section .card-block {
    display: flex;
    gap: 4vw;
    margin: 5rem 0;
}

.IMS-section .card-block .card {
    flex: 1 1 100%;
    padding: 2rem 1rem;
    border-radius: 20px;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.IMS-section .card-block .card img {
    width: 55px;
    margin: 0 auto;
}

.IMS-section .card-block .card .text {
    font-size: 16px;
    text-align: center;
    margin-top: 1rem;
    font-weight: 300;
}

.IMS-section .image-block {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.IMS-section .image-block .back-img {
    width: 100%;
}

.IMS-section .image-block .size-img {
    position: absolute;
}

.IMS-section .image-block .main-img {
    max-width: 470px;
    width: 37%;
    left: 5%;
    bottom: 0;
    z-index: 2;
}

.IMS-section .image-block .dashboard-img {
    max-width: 640px;
    width: 50%;
    right: 5%;
    bottom: 5%;
    z-index: 2;
}

.IMS-section .image-block .arrow-img {
    width: 15%;
    top: 10%;
    left: 35%;
    z-index: 3;
}

.IMS-section .image-block .bLeaves-img {
    width: 25%;
    top: 0;
    left: 0;
    z-index: 1;
    animation: shakeB 3s ease-in-out alternate infinite;
    transform-origin: bottom right;
}

@keyframes shakeB {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-4deg);
    }
}

.IMS-section .image-block .yLeaves-img {
    width: 25%;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    z-index: 1;
    animation: shakeY 3s ease-in-out alternate infinite;
    transform-origin: bottom left;
}

@keyframes shakeY {

    0% {
        transform: translate(0, -50%) rotate(2deg);
    }

    100% {
        transform: translate(0, -50%) rotate(-4deg);
    }
}

.IMS-section .button-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.IMS-section .button-block a {
    width: 215px;
}

.section-optimizer {
    background: url('../images/landing_page/home/section-optimizer-mask.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5rem 0;
    margin: 5rem 0 0;
}

.section-optimizer .header {
    margin-bottom: 5rem;
}

.section-optimizer .header .title {
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    color: #2d465b;
}

.section-optimizer .header .subtitle {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.section-optimizer .subcription-block {
    background: none;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}

.section-optimizer .subcription-block::before {
    content: none;
}

.section-optimizer .subcription-block::after {
    content: none;
}

.section-optimizer .button-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.section-optimizer .button-block a {
    width: 215px;
}

.SEO-section {
    margin: 48px 0 120px;
}

.SEO-section .header {
    margin-bottom: 3rem;
}

.SEO-section .header .title {
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    margin-bottom: 1rem;
    color: #2d465b;
}

.SEO-section .header .text {
    font-size: 20px;
    font-weight: 300;
    display: block;
    text-align: center;
}

.SEO-section .inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.SEO-section .inner-wrapper .SEO-block {
    max-width: 400px;
    width: 100%;
    background-color: #F5F6F8;
    padding: 40px 25px 25px 25px;
}

.SEO-section .inner-wrapper .SEO-block .header {
    text-align: left;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid rgba(112, 112, 112, 0.55);
}

.SEO-section .inner-wrapper .SEO-block .header .title {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 14px;
    text-align: left;
}

.SEO-section .inner-wrapper .SEO-block .header .title img {
    margin-right: 12px;
}

.SEO-section .inner-wrapper .SEO-block .header .text {
    font-size: 14px;
    font-weight: 300;
    display: block;
    margin-bottom: 25px;
    text-align: left;
}

.SEO-section .inner-wrapper .SEO-block .features {
    padding: 0;
    list-style: none;
    margin: 1rem;
}

.SEO-section .inner-wrapper .SEO-block .features li {
    position: relative;
    font-size: 14px;
    color: #000;
    margin-bottom: 14px;
}

.SEO-section .inner-wrapper .SEO-block .features li .bi {
    color: #00AEEF;
    position: relative;
    left: -7px;
    margin-left: -10px;
}

.SEO-section .inner-wrapper .SEO-block .image-block {
    margin: 2rem 0;
}

.SEO-section .inner-wrapper .SEO-block .image-block img {
    width: 100%;
}

.SEO-section .inner-wrapper .SEO-block .cta-btn-border {
    width: 100%;
}

.marketplace-section {
    border-top: 1px solid #707070;
}

.marketplace-section .inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.marketplace-section .inner-wrapper .button-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-right: 1px solid #000;
    width: 140px;
    position: relative;
    z-index: 1;
}

.marketplace-section .inner-wrapper .button-block .content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.marketplace-section .inner-wrapper .button-block .content .title {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 60px;
    background-color: #fff;
}

.marketplace-section .inner-wrapper .button-block .content .cta-btn-border {
    width: 100%;
    background-color: #fff;
}

.marketplace-section .inner-wrapper .card-block {
    position: relative;
    width: 100%;
    height: 100vh;
}

.marketplace-section .inner-wrapper .card-block .card {
    max-width: 375px;
    width: 100%;
    padding: 24px;
    filter: grayscale(1);
    border: 1px solid rgba(1, 127, 250, 0.4);
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(1, 127, 250, 0.25);
    box-shadow: 0 5px 10px rgba(1, 127, 250, 0.25);
}

.marketplace-section .inner-wrapper .card-block .card a {
    text-decoration: none;
}

.marketplace-section .inner-wrapper .card-block .card.active {
    filter: grayscale(0);
    opacity: 1;
    z-index: 23;
}

.marketplace-section .inner-wrapper .card-block .card:hover {
    cursor: pointer;
}

.marketplace-section .inner-wrapper .card-block .card a {
    text-decoration: none;
}

.marketplace-section .inner-wrapper .card-block .card .icon-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.marketplace-section .inner-wrapper .card-block .card .icon-block .bi-check-circle-fill {
    color: #017FFA;
}

.marketplace-section .inner-wrapper .card-block .card .image-block img {
    width: 100%;
}

.marketplace-section .inner-wrapper .card-block .card .content .title {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0 30px;
    text-align: center;
    color: #333;
}

.marketplace-section .inner-wrapper .card-block .card .content .text {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #333;
}

.marketplace-section .inner-wrapper .card-block .card-top {
    position: absolute;
    top: 10%;
    left: 35%;
    z-index: 20;
}

.marketplace-section .inner-wrapper .card-block .card-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    border: 1px solid #017ffa;
    z-index: 22;
}

.marketplace-section .inner-wrapper .card-block .card-bottom {
    position: absolute;
    bottom: 10%;
    left: 65%;
    z-index: 21;
}

.shop-section {
    padding: 64px 0;
    background-color: #F5F6F8;
}

.shop-section .header {
    max-width: 680px;
    width: 100%;
    margin: 0 auto 90px;
}

.shop-section .header .title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
    color: #2d465b;
}

.shop-section .header .text {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.shop-section .slider .splide .splide__slide a {
    text-decoration: none;
}

.shop-section .slider .splide .splide__slide a .card {
    border: none;
    border-radius: 0;
    transform: translateX(0%) scale(0.75);
    box-shadow: 0 10px 20px rgba(1, 127, 250, 0.06);
    transition: all .3s ease-in-out;
}

.shop-section .slider .splide .splide__slide.is-active a .card {
    border: none;
    border-radius: 0;
    transform: translateX(0%) scale(0.9);
    box-shadow: 0 5px 10px rgba(1, 127, 250, 0.2);
    transition: all .3s ease-in-out;
}

.shop-section .slider .splide .splide__slide a .card .image-block .default {
    width: 100%;
}

.shop-section .slider .splide .splide__slide a .card .image-block .focused {
    display: none;
}

.shop-section .slider .splide .splide__slide a .card .content {
    padding: 25px;
}

.shop-section .slider .splide .splide__slide a .card .content .title {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-bottom: 12px;
}

.shop-section .slider .splide .splide__slide a .card .content .text {
    font-size: 14px;
    font-weight: 300;
    color: #000;
    margin-bottom: 10px;
}

.shop-section .slider .splide .splide__slide a .card .content .text .list-block {
    list-style: none;
    position: relative;
}

.shop-section .slider .splide .splide__slide a .card .content .text .list-block .bi {
    color: #00AEEF;
    position: relative;
    left: -20px;
    margin-right: -14px;
}

.shop-section .slider .splide .splide__slide a .card .content .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.shop-section .slider .splide .splide__slide a .card .content .rating .bi {
    font-size: 14px;
    color: #F6A01C;
}

.shop-section .slider .splide .splide__slide a .card .content .rating .precentage {
    font-size: 12px;
    color: #F6A01C;
}

.shop-section .slider .splide .splide__slide a .card .content .rating .amount {
    font-size: 12px;
    color: #9F9F9F;
}

.shop-section .slider .splide .splide__slide a .card .content .footer {
    padding-top: 15px;
    margin: 0;
    border-top: 1px solid #707070;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.shop-section .slider .splide .splide__slide a .card .content .footer .fee {
    font-size: 20px;
    font-weight: 500;
    color: #009100;
}

.shop-section .slider .splide .splide__slide a .card .content .footer .period {
    font-size: 12px;
    font-weight: 300;
    color: #000;
}

.shop-section .footer {
    margin-top: 3rem;
}

.shop-section .footer .cta-btn-fill {
    margin: 0 auto;
}

.news-section {
    margin: 70px 0 100px;
}

.news-section .header {
    margin-bottom: 80px;
}

.news-section .header .title {
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    margin-bottom: 1rem;
    color: #2d465b;
}

.news-section .header .text {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.news-section .inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 30px;
}

.news-section .inner-wrapper .card {
    border: none;
    background-color: #FAFAFA;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    box-shadow: 0 10px 20px rgba(1, 127, 250, 0.2);
    flex: 1 1 100%;
}

.news-section .inner-wrapper .card .image-block img {
    width: 100%;
    height: 254px;
    object-fit: cover;
}

.news-section .inner-wrapper .card .content-block {
    padding: 20px 20px 0;
}

.news-section .inner-wrapper .card .content-block .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 15px;
}

.news-section .inner-wrapper .card .content-block .header img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.news-section .inner-wrapper .card .content-block .header .title {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin: 0;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.news-section .inner-wrapper .card .content-block .text {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.news-section .inner-wrapper .card .content-block .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 2px solid #D9D9D9;
    padding-top: 15px;
}

.news-section .inner-wrapper .card .content-block .footer .reactions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
}

.news-section .inner-wrapper .card .content-block .footer .reactions .likes a,
.news-section .inner-wrapper .card .content-block .footer .reactions .comments a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.32);
}

.news-section .inner-wrapper .card .content-block .footer .reactions .likes a .bi,
.news-section .inner-wrapper .card .content-block .footer .reactions .comments a .bi {
    margin-right: 15px;
}

.news-section .inner-wrapper .card .content-block .footer .btn-view {
    text-decoration: none;
    color: #00AEEF;
    font-size: 14px;
}

.news-section .button-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.news-section .button-block a {
    width: 215px;
}

@media screen and (max-width: 1600px) {
    .hero-section {
        padding-top: 50px;
    }
}

@media screen and (max-width: 1399px) {
    .feature-section .body {
        flex-direction: column;
    }

    .feature-section .body .feature-box {
        width: 100%;
        max-width: 800px;
    }
}

@media screen and (max-width: 1199px) {
    .SEO-section .inner-wrapper {
        flex-direction: column;
    }

    .SEO-section .inner-wrapper .SEO-block {
        max-width: 600px;
    }

    .marketplace-section .inner-wrapper .card-block .card {
        top: 50%;
        left: 50%;
        bottom: unset;
        opacity: 1;
        z-index: 20;
        border: 1px solid #017ffa;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .marketplace-section .inner-wrapper .card-block .card .bi-check-circle-fill {
        color: #017FFA;
    }
}

@media screen and (max-width: 991px) {
    .hero-section {
        padding-top: 50px;
    }

    .hero-section .slide-wrapper .content-block h5 {
        font-size: 16px;
    }

    .hero-section .slide-wrapper .content-block h5 span {
        font-size: 22px;
    }

    .hero-section .slide-wrapper .content-block .title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .hero-section .slide-wrapper .content-block h5:nth-child(4) {
        margin-bottom: 40px;
    }

    .hero-section .slide-wrapper {
        align-items: flex-start;
    }

    .hero-section .slide-wrapper .content-block .featured-icons {
        margin-top: 40px;
    }

    .marketplace-section .inner-wrapper {
        display: flex;
        flex-direction: column;
    }

    .marketplace-section .inner-wrapper .button-block {
        width: 100%;
        border: none;
        align-items: center;
    }

    .marketplace-section .inner-wrapper .button-block .content {
        position: unset;
        transform: unset;
        margin: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .marketplace-section .inner-wrapper .button-block .content .title {
        font-size: 40px;
        text-align: center;
        margin-bottom: 40px;
    }

    .marketplace-section .inner-wrapper .card-block {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin: 40px 0;
    }

    .marketplace-section .inner-wrapper .card-block .card {
        position: unset;
        transform: unset;
        max-width: 600px;
    }

    .marketplace-section .inner-wrapper .card-block .card .image-block {
        text-align: center;
    }

    .marketplace-section .inner-wrapper .card-block .card .image-block img {
        width: 300px;
    }

    .IMS-section .card-block {
        display: flex;
        flex-wrap: wrap;
    }

    .IMS-section .card-block .card {
        flex: 1 1 35%;
    }

    .news-section .header {
        margin-bottom: 40px;
    }

    .news-section .inner-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .news-section .inner-wrapper .card {
        max-width: 600px;
        width: 100%;
    }

    .subcription-block .content-block {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        gap: 2rem;
    }

    .subcription-block .content-block .widget-block {
        border: none !important;
    }
}

@media screen and (max-width: 767px) {
    .hero-section .custom__pagination {
        display: none;
    }

    .hero-section .slide-wrapper {
        flex-direction: column-reverse;
        align-items: center;
        gap: 3rem;
    }

    .hero-section .slide-wrapper .content-block {
        text-align: center;
    }

    .hero-section .slide-wrapper .content-block .inner-wrapper {
        position: unset;
    }

    .hero-section .slide-wrapper .image-block {
        text-align: center;
    }

    .hero-section .slide-wrapper .image-block img {
        width: 80%;
    }

    .hero-section .slide-wrapper .image-block.slide-01 img {
        width: 90%;
    }

    .SEO-section .header {
        width: 100%;
    }

    .feature-section .body .feature-box .inner-wrapper {
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .feature-section .body .feature-box .button-block {
        flex-direction: column;
    }

    .subcription-block .content-block .widget-block {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .section-optimizer .button-block a {
        margin: 0;
    }

    .IMS-section .button-block a {
        margin: 0;
    }
}

@media screen and (max-width: 574px) {

    .IMS-section .card-block .card .text {
        font-size: 14px;
    }

    .IMS-section .card-block .card img {
        width: 70px;
    }

    .section-optimizer .button-block {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .IMS-section .button-block {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

/* Slider new updates */

.hero-section.home {
    background: url(../images/landing_page/home/hero-background.svg), url(../images/landing_page/home/hero-background.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section.home.uae {
    background: url(../images/landing_page/home/hero_slides/slide_1.png);
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section .slide-wrapper .content-block .title,
.hero-section .slide-wrapper .content-block .title span,
.hero-section .slide-wrapper .content-block .caption,
.hero-section .slide-wrapper .content-block .product,
.hero-section .slide-wrapper .content-block .text {
    color: #fff !important;
}

.hero-section .slide-wrapper .content-block .cta-btn-fill {
    border: 1px solid #fff;
    background-color: transparent;
}

.hero-section .custom__pagination .custom__pagination__page {
    color: #8A8A8A;
}

/*# sourceMappingURL=home.css.map */
