.dropdown {
  width: fit-content;
}

.imsPro-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  top: 55px !important;
  left: unset !important;
  right: 50% !important;
  transform: translate(50%, 0) !important;
  min-width: max-content !important;
}
.dropdown-menu::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #017FFA;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}
.dropdown-menu::after {
  content: "";
  width: 7px;
  height: 7px;
  background-color: #017FFA;
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translate(-50%, 0) rotate(45deg);
}
.dropdown-menu .dropdown-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 6px 12px;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #DEEEFF;
}
.dropdown-menu .dropdown-item:hover .text {
  color: #464646;
}
.dropdown-menu .dropdown-item.active {
  background-color: #DEEEFF;
}
.dropdown-menu .dropdown-item.active .text {
  color: #464646;
}
.dropdown-menu .dropdown-item .text {
  font-size: 12px;
}

.section-chatWindow .chat-list-window {
  height: calc(100vh - 214px);
}
.section-chatWindow .chat-list-window .filter-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.section-chatWindow .chat-list-window .filter-section form {
  flex: 1 1 100%;
}
.section-chatWindow .chat-list-window .filter-section form .search-input {
  position: relative;
}
.section-chatWindow .chat-list-window .filter-section form .search-input input {
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  color: #B4B7C6;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 5px;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  height: 45px;
}
.section-chatWindow .chat-list-window .filter-section form .search-input input::placeholder {
  color: #B4B7C6;
}
.section-chatWindow .chat-list-window .filter-section form .search-input .bi {
  position: absolute;
  color: #B4B7C6;
  font-size: 18px;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
}
.section-chatWindow .chat-list-window .filter-section .filter .filter-dropdown {
  height: 45px;
  width: 45px;
  background-color: #fff;
  border-radius: 5px;
}
.section-chatWindow .chat-list-window .filter-section .filter .filter-dropdown .bi {
  color: #B4B7C6;
  font-size: 20px;
}
.section-chatWindow .chat-list-window .filter-section .filter .dropdown-menu .dropdown-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 6px 12px;
}
.section-chatWindow .chat-list-window .filter-section .filter .dropdown-menu .dropdown-item:hover {
  background-color: #DEEEFF;
}
.section-chatWindow .chat-list-window .filter-section .filter .dropdown-menu .dropdown-item:hover .bi {
  color: #464646;
}
.section-chatWindow .chat-list-window .filter-section .filter .dropdown-menu .dropdown-item:hover .text {
  color: #464646;
}
.section-chatWindow .chat-list-window .filter-section .filter .dropdown-menu .dropdown-item.active {
  background-color: #DEEEFF;
}
.section-chatWindow .chat-list-window .filter-section .filter .dropdown-menu .dropdown-item.active .bi {
  visibility: visible;
  color: #464646;
}
.section-chatWindow .chat-list-window .filter-section .filter .dropdown-menu .dropdown-item.active .text {
  color: #464646;
}
.section-chatWindow .chat-list-window .filter-section .filter .dropdown-menu .dropdown-item .bi {
  visibility: hidden;
}
.section-chatWindow .chat-list-window .filter-section .filter .dropdown-menu .dropdown-item .text {
  font-size: 12px;
}
.section-chatWindow .chat-list-window .chat-list {
  position: relative;
  background-color: #fff;
  padding: 1rem 0;
  border-radius: 10px;
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper {
  overflow-y: scroll;
  height: calc(100vh - 311px);
  scrollbar-color: #ccc transparent;
  scrollbar-width: thin;
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item {
  padding: 12px 16px;
  border: none;
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item::after {
  content: "";
  width: 90%;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item.active {
  background: linear-gradient(to right, #00AEEF, #1B3D6B);
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item.active .name,
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item.active .contact,
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item.active .active-status,
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item.active .message {
  color: #fff !important;
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item.active::after {
  content: none;
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item .list-link {
  text-decoration: none;
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item .list-link .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item .list-link .header .profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item .list-link .header .profile .indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #707070;
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item .list-link .header .profile .indicator.active {
  background-color: #33CC0D;
  border-color: #33CC0D;
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item .list-link .header .profile .image-block {
  position: relative;
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item .list-link .header .profile .image-block img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item .list-link .header .profile .image-block .chat-client {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  bottom: 0;
  right: -5px;
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item .list-link .header .profile .status-block .name {
  font-size: 14px;
  font-weight: 400;
  color: #464646;
  max-width: 140px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item .list-link .header .profile .status-block .contact {
  font-size: 10px;
  color: #464646;
  max-width: 140px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 1399px) {
  .section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item .list-link .header .profile .status-block .name {
    max-width: 80px;
  }
  .section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item .list-link .header .profile .status-block .contact {
    max-width: 80px;
  }
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item .list-link .header .active-status {
  font-size: 11px;
  color: #464646;
}
.section-chatWindow .chat-list-window .chat-list .inner-wrapper .list-group .list-group-item .list-link .message {
  font-size: 12px;
  font-weight: 300;
  color: #707070;
  margin: 1rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.section-chatWindow .chat-window {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  height: calc(100vh - 214px);
}
.section-chatWindow .chat-window .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
}
.section-chatWindow .chat-window .header::after {
  content: "";
  width: 80%;
  height: 1px;
  background-color: #BABABA;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.section-chatWindow .chat-window .header .profile-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.section-chatWindow .chat-window .header .profile-block .image-block img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.section-chatWindow .chat-window .header .profile-block .status-block .name {
  font-size: 18px;
  font-weight: 300;
  color: #464646;
}
.section-chatWindow .chat-window .header .profile-block .status-block .contact {
  font-size: 11px;
  color: #464646;
}
.section-chatWindow .chat-window .header .option-block .navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
.section-chatWindow .chat-window .header .option-block .navbar-nav .nav-item .nav-link .bi {
  font-size: 18px;
  color: #464646;
}
.section-chatWindow .chat-window .header .option-block .navbar-nav .nav-item .nav-link .dropdown-menu {
  top: 40px !important;
}
.section-chatWindow .chat-window .header .option-block .navbar-nav .nav-item .nav-link .dropdown-menu .dropdown-item .indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.section-chatWindow .chat-window .header .option-block .navbar-nav .nav-item .nav-link .dropdown-menu .dropdown-item .indicator.pending {
  background-color: #EF7800;
}
.section-chatWindow .chat-window .header .option-block .navbar-nav .nav-item .nav-link .dropdown-menu .dropdown-item .indicator.inprogress {
  background-color: #33CC0D;
}
.section-chatWindow .chat-window .header .option-block .navbar-nav .nav-item .nav-link .dropdown-menu .dropdown-item .indicator.closed {
  background-color: #000;
}
.section-chatWindow .chat-window .header .option-block .navbar-nav .nav-item .nav-link .dropdown-menu .dropdown-item .indicator.spam {
  background-color: #f00;
}
.section-chatWindow .chat-window .body {
  padding: 1rem 2rem;
  position: relative;
}
.section-chatWindow .chat-window .body .date {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 11px;
  font-weight: 300;
  color: #707070;
  background-color: #F4F4F4;
  padding: 6px 12px;
  border-radius: 30px;
  z-index: 1;
}
.section-chatWindow .chat-window .body .inner-wrapper {
  position: relative;
  overflow-y: scroll;
  padding: 0.5rem;
  height: calc(100vh - 406px);
  scrollbar-color: #ccc transparent;
  scrollbar-width: thin;
}
.section-chatWindow .chat-window .body .inner-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}
.section-chatWindow .chat-window .body .inner-wrapper::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}
.section-chatWindow .chat-window .body .inner-wrapper::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
.section-chatWindow .chat-window .body .inner-wrapper .message-block {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 20px 0 35px;
}
.section-chatWindow .chat-window .body .inner-wrapper .message-block .image-block {
  width: 40px;
  height: 40px;
}
.section-chatWindow .chat-window .body .inner-wrapper .message-block .image-block img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.section-chatWindow .chat-window .body .inner-wrapper .message-block .message {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border: 2px solid #ECECEC;
  border-radius: 15px;
  padding: 12px;
  max-width: 400px;
}
.section-chatWindow .chat-window .body .inner-wrapper .message-block .message.missed-call .bi {
  color: #FA003F;
}
.section-chatWindow .chat-window .body .inner-wrapper .message-block .message.missed-call .text {
  color: #FA003F;
}
.section-chatWindow .chat-window .body .inner-wrapper .message-block .message.outgoing-call .bi {
  color: #00BF4A;
}
.section-chatWindow .chat-window .body .inner-wrapper .message-block .message.outgoing-call .text {
  color: #00BF4A;
}
.section-chatWindow .chat-window .body .inner-wrapper .message-block .message .text,
.section-chatWindow .chat-window .body .inner-wrapper .message-block .message .duration {
  font-size: 12px;
  font-weight: 300;
}
.section-chatWindow .chat-window .body .inner-wrapper .message-block .message .dropdown .message-dropdown .bi {
  color: #000;
}
.section-chatWindow .chat-window .body .inner-wrapper .message-block .message .dropdown .dropdown-menu {
  top: 30px !important;
}
.section-chatWindow .chat-window .body .inner-wrapper .message-block .message .dropdown .dropdown-menu .dropdown-item .text {
  color: #000;
}
.section-chatWindow .chat-window .body .inner-wrapper .message-block.incoming .label {
  left: 50px;
}
.section-chatWindow .chat-window .body .inner-wrapper .message-block.outgoing {
  flex-direction: row-reverse;
}
.section-chatWindow .chat-window .body .inner-wrapper .message-block.outgoing .label {
  left: unset;
  right: 50px;
}
.section-chatWindow .chat-window .body .inner-wrapper .message-block .label {
  position: absolute;
  bottom: -25px;
  line-height: 1;
}
.section-chatWindow .chat-window .body .inner-wrapper .message-block .label span {
  font-size: 11px;
  font-weight: 300;
  color: #A4A6AA;
}
.section-chatWindow .chat-window .body .inner-wrapper .message-block .label .time {
  margin-left: 5px;
}
.section-chatWindow .chat-window .footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 1rem;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.section-chatWindow .chat-window .footer .msg-input {
  flex: 1 1 100%;
  height: 45px;
  background-color: #EEEEEE;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 300;
  color: #707070;
  padding: 10px 20px;
}
.section-chatWindow .chat-window .footer .btn-send {
  height: 45px;
  width: 45px;
  background-color: #00BF4A;
  border: 1px solid #00BF4A;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section-chatWindow .chat-window .footer .btn-send .bi {
  font-size: 20px;
  color: #fff;
}
.section-chatWindow .info-window {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  height: calc(100vh - 214px);
}
.section-chatWindow .info-window .header {
  position: relative;
  border-bottom: 1px solid #ccc;
}
.section-chatWindow .info-window .header .status {
  font-size: 12px;
  font-weight: 300;
  color: #00BF4A;
  background-color: #C7F1BD;
  width: 110px;
  height: 25px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.section-chatWindow .info-window .header .image-block {
  text-align: center;
  padding-top: 40px;
}
.section-chatWindow .info-window .header .image-block img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.section-chatWindow .info-window .header .name {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 10px 0;
}
.section-chatWindow .info-window .header .chat-client {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}
.section-chatWindow .info-window .header .chat-client img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}
.section-chatWindow .info-window .header .chat-client .text {
  font-size: 12px;
  font-weight: 300;
}
.section-chatWindow .info-window .header .chat-client .text.green {
  color: #00BF4A;
}
.section-chatWindow .info-window .inner-wrapper {
  height: calc(100vh - 450px);
  overflow-y: scroll;
  scrollbar-color: #ccc transparent;
  scrollbar-width: thin;
}
.section-chatWindow .info-window .inner-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}
.section-chatWindow .info-window .inner-wrapper::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}
.section-chatWindow .info-window .inner-wrapper::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
.section-chatWindow .info-window .inner-wrapper .info-block {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  border-bottom: 1px solid #ccc;
}
.section-chatWindow .info-window .inner-wrapper .info-block .table .icons .bi {
  color: #707070;
}
.section-chatWindow .info-window .inner-wrapper .info-block .table .title {
  font-size: 12px;
  font-weight: 300;
}
.section-chatWindow .info-window .inner-wrapper .info-block .table .inputs .table-input {
  background-color: transparent;
  border: none;
  font-size: 12px;
  font-weight: 300;
  color: #000;
}
.section-chatWindow .info-window .inner-wrapper .info-block .btn-add-property {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  width: fit-content;
  text-decoration: none;
}
.section-chatWindow .info-window .inner-wrapper .info-block .btn-add-property .bi {
  font-size: 18px;
  color: #017FFA;
}
.section-chatWindow .info-window .inner-wrapper .info-block .btn-add-property .text {
  font-size: 12px;
  font-weight: 300;
  color: #017FFA;
}
.section-chatWindow .info-window .inner-wrapper .info-block .dropdown-menu {
  top: 35px !important;
  width: 100%;
  inset: unset !important;
  left: 0 !important;
  transform: translate(0, 0) !important;
}
.section-chatWindow .info-window .inner-wrapper .info-block .dropdown-menu::after {
  content: none;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block {
  padding: 1rem 0.5rem;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .table .icons {
  color: #707070;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .table .icons.blue-icon {
  color: #017FFA;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .table .title {
  font-size: 12px;
  font-weight: 300;
  color: #707070;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .table .title .table-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .table .title .table-link .bi {
  color: #017FFA;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .table .title .table-link .text {
  font-size: 12px;
  font-weight: 300;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .table .inputs .dropdown .assign-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #FEBABA;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .table .inputs .dropdown .assign-dropdown .text {
  font-size: 12px;
  font-weight: 300;
  color: #ae0000;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .table .inputs .dropdown .assign-dropdown .bi {
  color: #ae0000;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .table .inputs .dropdown .dropdown-menu {
  top: 40px !important;
  width: 100%;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .table .inputs .dropdown .dropdown-menu::after {
  content: none;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .table .inputs .table-input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 12px;
  font-weight: 300;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .table .role {
  position: relative;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .table .role .btn-add-role {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: #BADCFE;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .table .role .btn-add-role .bi {
  color: #017FFA;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .table .role .btn-add-role:hover .text {
  display: block;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .table .role .btn-add-role .text {
  font-size: 10px;
  font-weight: 300;
  color: #017FFA;
  background-color: #fff;
  padding: 6px 12px;
  border-radius: 30px;
  white-space: nowrap;
  position: absolute;
  top: -30px;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
  display: none;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .table .role .btn-add-role .text::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 0) rotate(45deg);
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .btn-report-download {
  padding: 12px 16px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: linear-gradient(to right, #00AEEF, #1B3D6B);
  text-decoration: none;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .btn-report-download .bi {
  font-size: 18px;
  color: #fff;
}
.section-chatWindow .info-window .inner-wrapper .optioin-block .btn-report-download .text {
  font-size: 14px;
  color: #fff;
}

.not-found-window {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-get-number .modal-dialog {
  max-width: 900px;
}
.modal-get-number .modal-dialog .modal-content {
  background-color: #fff;
  width: 100%;
  border: none;
  border-radius: 10px;
}
.modal-get-number .modal-dialog .modal-content .modal-header {
  padding: 10px 25px;
  border: none;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.modal-get-number .modal-dialog .modal-content .modal-header .brand {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
  font-size: 20px;
  font-weight: 600;
  color: #1B3D6B;
}
.modal-get-number .modal-dialog .modal-content .modal-header .navigation {
  display: flex;
  flex-direction: row;
}
.modal-get-number .modal-dialog .modal-content .modal-header .navigation .navigation-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 125px;
  padding: 1em 0;
  border-bottom: 2px solid #f5f5f5;
}
.modal-get-number .modal-dialog .modal-content .modal-header .navigation .navigation-btn.selected {
  border-bottom: 2px solid #4884FA;
}
.modal-get-number .modal-dialog .modal-content .modal-header .navigation .navigation-btn.selected .bi,
.modal-get-number .modal-dialog .modal-content .modal-header .navigation .navigation-btn.selected .text {
  color: #4884FA;
}
.modal-get-number .modal-dialog .modal-content .modal-header .navigation .navigation-btn .bi,
.modal-get-number .modal-dialog .modal-content .modal-header .navigation .navigation-btn .text {
  font-size: 12px;
  font-weight: 300;
  color: #999;
}
.modal-get-number .modal-dialog .modal-content .modal-header .navigation .navigation-btn .bi {
  margin-right: 0.5em;
}
.modal-get-number .modal-dialog .modal-content .modal-header .navigation .navigation-btn .bi.circle-fill {
  display: none;
}
.modal-get-number .modal-dialog .modal-content .modal-body {
  max-height: unset;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content {
  background-color: #F4F8FF;
  padding: 20px;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .title {
  font-size: 28px;
  font-weight: 400;
  color: #152647;
  margin-bottom: 1rem;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .text {
  font-size: 14px;
  font-weight: 300;
  color: #333;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .subscriptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  margin: 45px 0 30px;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .subscriptions .subcriptioin-block {
  width: 200px;
  background-color: #fff;
  text-align: center;
  padding: 15px;
  position: relative;
  transition: all 0.3s ease;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .subscriptions .subcriptioin-block:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .subscriptions .subcriptioin-block:hover::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #4884FA;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .subscriptions .subcriptioin-block .sub-img {
  width: 50px;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .subscriptions .subcriptioin-block .title {
  color: #4884FA;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .subscriptions .subcriptioin-block .discount {
  background-color: #A7C4FD;
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0;
  padding: 0.5em 1em;
  display: inline-block;
  border-radius: 5px;
  color: #4884FA;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .subscriptions .subcriptioin-block .fee {
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .subscriptions .subcriptioin-block .fee span {
  font-size: 12px;
  font-weight: 300;
  color: #4884FA;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .subscriptions .subcriptioin-block .btn-sub {
  font-size: 12px;
  color: #fff;
  background-color: #4884FA;
  border: none;
  padding: 0.75em 1.5em;
  border-radius: 2em;
  cursor: pointer;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .card-details-form {
  margin-top: 1rem;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .card-details-form .form-label {
  margin: 0;
  font-size: 13px;
  color: #BCBEC3;
  font-weight: 300;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .card-details-form textarea.form-control {
  height: unset;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .card-details-form .form-control {
  font-size: 13px;
  font-weight: 400;
  color: #1B3D6B;
  background-color: transparent;
  padding-left: 0;
  border: 0;
  border-bottom: 1px solid #E6EBF4;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .card-details-form .form-control::placeholder {
  font-size: 13px;
  font-weight: 400;
  color: #1B3D6B;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .card-details-form .alert {
  font-size: 12px;
  font-weight: 300;
  color: #BCBEC3;
  padding: 0;
  margin-top: 1.5rem;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .card-details-form .alert .bi {
  color: #1B3D6B;
  margin-right: 8px;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .image-block {
  background-color: #EEF2FB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .image-block .modal-image {
  width: 100%;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .image-block .button-block {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .image-block .button-block .modal-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 140px;
  border: none;
  background-color: transparent;
  padding: 0.5em;
  border-radius: 5px;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .image-block .button-block .modal-btn .text {
  font-size: 12px;
  font-weight: 400;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .image-block .button-block .modal-btn.btn-next {
  background: linear-gradient(to right, #00AEEF, #1B3D6B);
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .image-block .button-block .modal-btn.btn-next .text,
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .image-block .button-block .modal-btn.btn-next .bi {
  color: #fff;
}
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .image-block .button-block .modal-btn.btn-prev .text,
.modal-get-number .modal-dialog .modal-content .modal-body .content .content-block .image-block .button-block .modal-btn.btn-prev .bi {
  color: #1B3D6B;
}

/*# sourceMappingURL=ims_pro.css.map */
