.ims-pro-mobile-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: #1B3D6B;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.ims-pro-mobile-nav .nav-toggler {
  background-color: transparent;
  border: none;
}
.ims-pro-mobile-nav .nav-toggler .bi {
  font-size: 24px;
  color: #fff;
}
.ims-pro-mobile-nav .brand {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ims-pro-mobile-nav .profile-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.ims-pro-mobile-nav .profile-block .mob-notification {
  background-color: transparent;
  border: none;
}
.ims-pro-mobile-nav .profile-block .mob-notification.notify {
  position: relative;
}
.ims-pro-mobile-nav .profile-block .mob-notification.notify::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #f00;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: -2px;
}
.ims-pro-mobile-nav .profile-block .mob-notification .bi {
  font-size: 20px;
  color: #fff;
}
.ims-pro-mobile-nav .profile-block .mob-profile-drop .profile-drop-btn {
  background-color: transparent;
  border: none;
}
.ims-pro-mobile-nav .profile-block .mob-profile-drop .profile-drop-btn img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.ims-pro-mobile-nav .profile-block .mob-profile-drop .profile-drop-menu {
  max-width: unset;
  border: none;
  transform: translate(15%, 0) !important;
}
.ims-pro-mobile-nav .profile-block .mob-profile-drop .profile-drop-menu::after {
  content: none;
}
.ims-pro-mobile-nav .profile-block .mob-profile-drop .profile-drop-menu .dropdown-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.ims-pro-mobile-nav .profile-block .mob-profile-drop .profile-drop-menu .dropdown-item .name {
  font-size: 14px;
  font-weight: 400;
  color: #777;
  width: 100%;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ims-pro-mobile-nav .profile-block .mob-profile-drop .profile-drop-menu .dropdown-item .bi {
  font-size: 16px;
}
.ims-pro-mobile-nav .profile-block .mob-profile-drop .profile-drop-menu .dropdown-item .text {
  font-size: 13px;
  font-weight: 400;
}
.ims-pro-mobile-nav .profile-block .mob-property {
  background-color: transparent;
  border: none;
}
.ims-pro-mobile-nav .profile-block .mob-property .bi {
  font-size: 22px;
  color: #fff;
}

.nav-toggle-modal .modal-dialog .modal-content {
  background-color: #1B3D6B;
}
.nav-toggle-modal .modal-dialog .modal-content .brand {
  text-decoration: none;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 2rem;
  transform: translate(-50%, 0);
  font-size: 24px;
}
.nav-toggle-modal .modal-dialog .modal-content .live-visitors {
  position: absolute;
  left: 50%;
  top: 2rem;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-toggle-modal .modal-dialog .modal-content .live-visitors .bi {
  color: #f00;
  font-size: 40px;
  line-height: 1;
}
.nav-toggle-modal .modal-dialog .modal-content .live-visitors .text {
  font-size: 13px;
  font-weight: 300;
  color: #fff;
}
.nav-toggle-modal .modal-dialog .modal-content .live-visitors .count {
  font-size: 32px;
  font-weight: 400;
  color: #fff;
}
.nav-toggle-modal .modal-dialog .modal-content .bi-x-lg {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
.nav-toggle-modal .modal-dialog .modal-content .main-dashboard {
  position: absolute;
  top: 52.5px;
  left: 40px;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
}
.nav-toggle-modal .modal-dialog .modal-content .navs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-toggle-modal .modal-dialog .modal-content .navs .navbar-nav {
  text-align: center;
}
.nav-toggle-modal .modal-dialog .modal-content .navs .navbar-nav .nav-item .nav-link.active .text {
  color: #fff;
}
.nav-toggle-modal .modal-dialog .modal-content .navs .navbar-nav .nav-item .nav-link .text {
  font-size: 32px;
  color: #91b4bd;
  font-weight: 300;
}
.nav-toggle-modal .modal-dialog .modal-content .navs .navbar-nav .nav-item .accordion .accordion-item {
  border: none;
  background-color: transparent;
}
.nav-toggle-modal .modal-dialog .modal-content .navs .navbar-nav .nav-item .accordion .accordion-item .nav-link {
  width: 100%;
  background-color: transparent;
  border: none;
  position: relative;
}
.nav-toggle-modal .modal-dialog .modal-content .navs .navbar-nav .nav-item .accordion .accordion-item .nav-link .alerts {
  background-color: #f00;
  color: #fff;
  line-height: 1;
  padding: 2px 8px;
  border-radius: 20px;
  position: absolute;
}
.nav-toggle-modal .modal-dialog .modal-content .navs .navbar-nav .nav-item .accordion .accordion-item .accordion-body {
  padding: 0;
}
.nav-toggle-modal .modal-dialog .modal-content .navs .navbar-nav .nav-item .accordion .accordion-item .accordion-body .text {
  font-size: 22px;
}

@media screen and (min-width: 1200px) {
  .ims-pro-mobile-nav {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .nav-toggle-modal .modal-dialog .modal-content .main-dashboard {
    top: unset;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .ims-pro-mobile-nav .brand {
    font-size: 18px;
  }
}

/*# sourceMappingURL=ims_pro_mobile_nav.css.map */
