@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
}

.border-right {
    border-right: 1px solid #ddd;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

.red {
    color: #dc3545 !important;
}

.gray {
    color: #6c757d !important;
}

.yellow {
    color: #ffc107 !important;
}

.blue {
    color: #0d6efd !important;
}

.down {
    color: #dc3545 !important;
}

.up {
    color: #0d6efd !important;
}

#sectionMainWindow {
    display: flex;
}

#sectionMainWindow #sectionSideNav {
    flex: 0 0 auto;
    width: 260px;
    transition: all 0.2s ease;
}

#sectionMainWindow #sectionBody {
    flex: 0 0 auto;
    width: calc(100% - 260px);
    transition: all 0.2s ease;
}

#sectionMainWindow #sectionBody .breadcrumb-block .breadcrumb .breadcrumb-item {
    color: #333;
    font-weight: 600;
    padding: 0;
}

#sectionMainWindow #sectionBody .breadcrumb-block .breadcrumb .breadcrumb-item:not(.active)::after {
    content: ">";
    margin: 0 10px;
    position: relative;
    top: 1px;
}

#sectionMainWindow #sectionBody .breadcrumb-block .breadcrumb .breadcrumb-item::before {
    content: none;
}

#sectionMainWindow #sectionBody .breadcrumb-block .breadcrumb .breadcrumb-item a {
    text-decoration: none;
    color: #333;
}

#sideNav.side-nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1f2851;
    z-index: 10;
    position: fixed;
    width: 260px;
    transition: all 0.2s ease;
}

#sideNav.side-nav .side-nav-brands {
    margin: 7rem auto 3rem;
    position: relative;
}

#sideNav.side-nav .side-nav-brands .side-nav-toggle {
    position: relative;
}

#sideNav.side-nav .side-nav-brands .side-nav-toggle .toggle-btn {
    position: absolute;
    top: -4rem;
    right: 1.5rem;
    font-size: 1.75rem;
    color: #fff;
}

#sideNav.side-nav .side-nav-brands .side-nav-toggle .toggle-btn:hover {
    cursor: pointer;
}

#sideNav.side-nav .side-nav-brands .small-logo {
    display: none;
}

#sideNav.side-nav .side-nav-brands .full-logo {
    opacity: 1;
    width: 200px;
}

#sideNav.side-nav .side-nav-brands img {
    width: 200px;
    display: block;
    margin: 0 auto;
    transition: all 0.2s ease;
}

#sideNav.side-nav .side-navs {
    margin: 2rem 0;
}

#sideNav.side-nav .side-navs .navbar-nav {
    gap: 1rem;
    margin-left: 2rem;
}

#sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link {
    color: #91b4bd;
    position: relative;
    white-space: nowrap;
}

#sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link.active {
    color: #fff;
}

#sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link.active::before {
    content: "";
    height: 100%;
    width: 0.4rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #0d6efd;
    position: absolute;
    top: 0;
    left: -2rem;
}

#sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
}

#sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link .tool-tip {
    display: none;
}

#sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link .bi {
    font-size: 2rem;
    position: relative;
    top: 5px;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

#sideNav.side-nav .side-nav-footer {
    text-align: center;
    padding: 0 1rem;
    margin-top: auto;
}

#sideNav.side-nav .side-nav-footer .copyright {
    color: #fff;
    font-size: 0.85rem;
}

#sideNav.side-nav .side-nav-footer .theme {
    color: #91b4bd;
    font-size: 0.85rem;
}

#sectionBody.active {
    width: calc(100% - 90px) !important;
    transition: all 0.2s ease;
}

#sectionSideNav.active {
    width: 90px !important;
    transition: all 0.2s ease;
}

#sectionSideNav.active #sideNav.side-nav {
    width: 90px !important;
    transition: all 0.2s ease;
}

#sectionSideNav.active #sideNav.side-nav .side-nav-brands .side-nav-toggle .toggle-btn {
    left: 50%;
    transform: translate(-50%, 0);
    right: unset;
}

#sectionSideNav.active #sideNav.side-nav .side-nav-brands .full-logo {
    opacity: 0;
    width: 0;
}

#sectionSideNav.active #sideNav.side-nav .side-nav-brands .small-logo {
    display: block;
    width: 60px;
}

#sectionSideNav.active #sideNav.side-nav .side-navs .navbar-nav {
    margin-left: 1.5rem;
}

#sectionSideNav.active #sideNav.side-nav .side-navs .navbar-nav .nav-item {
    position: relative;
}

#sectionSideNav.active #sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link:hover .tool-tip {
    opacity: 1;
    left: 3.5rem;
}

#sectionSideNav.active #sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link.active::before {
    left: -1.5rem;
}

#sectionSideNav.active #sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link .text {
    display: none;
}

#sectionSideNav.active #sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link .tool-tip {
    position: absolute;
    width: 120px;
    height: 35px;
    line-height: 35px;
    background-color: #0d6efd;
    color: #fff;
    font-weight: 500;
    padding-left: 1rem;
    border-radius: 5px;
    top: 2rem;
    left: 4.5rem;
    opacity: 0;
    display: block;
    transition: all 0.2s ease;
}

#sectionSideNav.active #sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link .bi {
    margin-right: 2rem;
}

#sectionSideNav.active #sideNav.side-nav .side-nav-footer .copyright,
#sectionSideNav.active #sideNav.side-nav .side-nav-footer .theme {
    display: none;
}

.dropdown-menu.show {
    padding: 0 !important;
}

.property {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 213px;
}

.property .image {
    width: 45px;
    height: 45px;
}

.property .image img {
    width: 100%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.property .content .site-name {
    color: #333;
    margin: 0;
    line-height: 1;
}

.property .content .site-url {
    color: #999;
    font-size: 0.8rem;
    font-weight: 600;
}

.property .dropdown-icon i {
    color: #333;
}

@media screen and (max-width: 991px) {
    #navBar.nav-bar .property-block .nav-link {
        padding: 1rem !important;
    }
}

@media screen and (max-width: 768px) {
    #sectionMainWindow #sectionBody {
        width: 100% !important;
    }

    #sectionMainWindow #sectionSideNav.mobile {
        width: 0 !important;
    }

    #sectionMainWindow #sectionSideNav.mobile.active #sideNav.side-nav {
        height: 143px !important;
        justify-content: center !important;
    }

    #sectionMainWindow #sectionSideNav.mobile.active #sideNav.side-nav .side-nav-brands .small-logo {
        display: none !important;
    }

    #sectionMainWindow #sectionSideNav.mobile.active #sideNav.side-nav .side-navs {
        display: none !important;
    }

    #sectionMainWindow #sectionSideNav.mobile.active #sideNav.side-nav .side-nav-footer {
        display: none !important;
    }

    #sectionMainWindow #sectionSideNav.mobile #sideNav.side-nav {
        position: absolute !important;
        height: auto !important;
    }
}

.section-content {
    background-color: #f4f4f4;
    min-height: 100vh;
    padding: 2rem 0;
}

.section-content .section-container {
    width: 90%;
    margin: 0 auto;
}

.section-content .section-container #sectionHeader .header-block .sub-title {
    font-weight: 500;
}

.section-content .section-container #sectionHeader .header-block .input-group .form-label {
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #fff;
    width: 250px;
    text-align: center;
    height: 60px;
    border-radius: 0.5rem;
    white-space: nowrap;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.section-content .section-container #sectionHeader .header-block .input-group .form-control {
    background-color: #fff !important;
    border: none;
    border-radius: 5px !important;
    padding: 1.1rem 2rem;
}

.section-content .section-container #sectionHeader .header-block .btn-optimize {
    line-height: 60px;
    height: 60px;
    width: 180px;
    padding: 0;
    border-radius: 0.5rem;
    background-color: #0d6efd;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
}

@media screen and (max-width: 1399px) {
    .section-content {
        height: auto;
    }

    #sectionProperties .property-block .info-blocks {
        border-right: none !important;
    }
}

@media screen and (max-width: 2199px) {
    #sectionProperties .button-block .form-check.form-switch {
        width: 185px;
    }
}

@media screen and (max-width: 575px) {
    #sectionHeader .header-block .input-group .form-label {
        height: 45px !important;
        width: 220px !important;
    }

    #sectionHeader .header-block .btn-optimize {
        height: 45px !important;
        line-height: 45px !important;
        width: 220px !important;
    }

    #sectionProperties .property-block .button-block .btn {
        width: 220px !important;
        height: 45px !important;
        line-height: 45px !important;
    }
}

#sectionTabs .tabs {
    text-align: center;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

#sectionTabs .tabs:hover {
    cursor: pointer;
    background-color: #0d6efd;
    color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#sectionTabs .tabs.active {
    background-color: #0d6efd;
    color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#sectionTabs .tabs .tab-icon .bi {
    font-size: 3rem;
}

#sectionTabs .tabs .tab-title {
    font-size: 1.2rem;
    font-weight: 500;
}

#sectionTabs .tabs .tab-info {
    font-weight: 700;
    font-size: 1.1rem;
}

#sectionTabs .tabs .tab-info .strong-text {
    font-size: 3.5rem;
}

.ims-dashboard-btn {
    background-color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    color: #000;
    padding: 0.5rem 2.5rem 0.5rem 1.5rem;
    border-radius: 50px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.ims-dashboard-btn:hover {
    color: #000;
}

.ims-dashboard-btn .bi {
    font-size: 30px;
    margin-right: 15px;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col:not(:last-child) {
    border-right: 1px solid #ccc;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col:first-child .nav-link {
    border-top-left-radius: 1rem;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col:last-child .nav-link {
    border-top-right-radius: 1rem;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col .nav-item .nav-link {
    background-color: #e2e7f5;
    color: #333;
    font-size: 1.2rem;
    position: relative;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col .nav-item .nav-link .bi {
    font-size: 1.8rem;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col .nav-item .nav-link .text {
    margin-left: 1rem;
    font-size: 1.2rem;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col .nav-item .nav-link:hover {
    background-color: #fff;
    color: #0d6efd;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col .nav-item .nav-link:hover::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #0d6efd;
    position: absolute;
    bottom: 0;
    left: 0;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col .nav-item .nav-link.active {
    background-color: #fff;
    color: #0d6efd;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col .nav-item .nav-link.active::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #0d6efd;
    position: absolute;
    bottom: 0;
    left: 0;
}

#sectionTabStatics .inner-wrapper {
    background-color: #fff;
    border-radius: 1rem;
}

#sectionTabStatics .inner-wrapper .border-bottom {
    border-bottom: 1px solid #999 !important;
}

#sectionTabStatics .inner-wrapper .titile {
    font-size: 1.6rem;
}

#sectionTabStatics .inner-wrapper .duration {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ccc;
}

#sectionTabStatics .inner-wrapper .info-block-wrapper {
    background-color: #f7fbff;
    border-radius: 0.5rem;
    width: 15rem;
    margin: 0 auto;
}

#sectionTabStatics .inner-wrapper .info-block-wrapper .chart-info-block .title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}

#sectionTabStatics .inner-wrapper .info-block-wrapper .chart-info-block .title .text {
    font-weight: 600;
    font-size: 1.2rem;
}

#sectionTabStatics .inner-wrapper .info-block-wrapper .chart-info-block .title .bi-info-circle {
    color: #999;
}

#sectionTabStatics .inner-wrapper .info-block-wrapper .chart-info-block .info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#sectionTabStatics .inner-wrapper .info-block-wrapper .chart-info-block .info .precentage .bi {
    margin-right: 1rem;
}

#sectionTabStatics .inner-wrapper .info-block-wrapper .count {
    font-size: 2rem;
    text-align: right;
}

#sectionVisitors .visitors-block {
    background-color: #fff;
    border-radius: 0.2rem;
}

#sectionVisitors .visitors-block .title {
    font-size: 1.6rem;
}

#sectionVisitors .visitors-block .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sectionVisitors .visitors-block .header .thead {
    font-size: 1.3rem;
    color: #999;
}

#sectionVisitors .visitors-block .body .visitors-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

#sectionVisitors .visitors-block .body .visitors-list .visitor-item .label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}

#sectionVisitors .visitors-block .body .visitors-list .visitor-item .label .flag {
    font-size: 1.5rem;
}

#sectionVisitors .visitors-block .body .visitors-list .visitor-item .count {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

#sectionVisitors .visitors-block .body .visitors-list .visitor-item .progress {
    height: 0.3rem;
}

#sectionVisitors .visitors-block .footer .footer-link {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    text-align: center;
    display: block;
}

#sectionVisitors .visitors-block .border-bottom {
    border-bottom: 1px solid #999 !important;
}

#sectionSEOBlock .inner-wrapper {
    background-color: #fff;
    border-radius: 1rem;
}

#sectionSEOBlock .inner-wrapper .border-bottom {
    border-bottom: 1px solid #999 !important;
}

#sectionSEOBlock .inner-wrapper .titile {
    font-size: 1.6rem;
}

#sectionSEOBlock .inner-wrapper .duration {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ccc;
}

#sectionSEOBlock .inner-wrapper .statics-block .issues-blocks .issue-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#sectionSEOBlock .inner-wrapper .statics-block .issues-blocks .issue-info .info,
#sectionSEOBlock .inner-wrapper .statics-block .issues-blocks .issue-info .info-prec {
    color: #999;
    font-size: 1rem;
}

#sectionSEOBlock .inner-wrapper .statics-block .issues-blocks .issue-info .info i,
#sectionSEOBlock .inner-wrapper .statics-block .issues-blocks .issue-info .info-prec i {
    margin-right: 0.5rem;
    font-size: 1rem;
}

#sectionSEOBlock .inner-wrapper .statics-block .issues-blocks .progress {
    height: 0.4rem;
}

#sectionWhatsappWidget button.btn-whatsapp {
    background-color: #00AEEF;
    border: none;
    color: #fff;
    width: 220px;
    height: 60px;
    border-radius: 0.6rem;
    font-weight: 600;
    font-size: 1.2rem;
}

#sectionWhatsappWidget button.btn-whatsapp::before {
    content: "+";
    margin-right: 0.8rem;
    font-size: 1.6rem;
    line-height: 1;
    position: relative;
    top: 2px;
}

#sectionWhatsappWidget .block-1 .block-title {
    font-size: 1.8rem;
    font-weight: 600;
}

#sectionWhatsappWidget .block-1 .inner-wrapper {
    height: 450px;
    padding: 0 1rem;
    background-color: #fff;
    border-radius: 1rem;
    overflow-y: scroll;
}

#sectionWhatsappWidget .block-1 .inner-wrapper::-webkit-scrollbar {
    width: .35rem;
}

#sectionWhatsappWidget .block-1 .inner-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
}

#sectionWhatsappWidget .block-1 .inner-wrapper::-webkit-scrollbar-thumb {
    background-color: #E5E5E5;
    border-radius: 50px;
}

#sectionWhatsappWidget .block-1 .inner-wrapper .header .title {
    font-weight: 600;
    font-size: 1.6rem;
    margin-right: 1rem;
}

#sectionWhatsappWidget .block-1 .inner-wrapper .header .bi {
    color: #2cb742;
    font-size: 2rem;
}

#sectionWhatsappWidget .block-1 .inner-wrapper .button-block {
    position: relative;
}

#sectionWhatsappWidget .block-1 .inner-wrapper .button-block .bi {
    font-size: 10rem;
    position: absolute;
    color: #ccc;
    top: -5rem;
    right: -3.5rem;
}

#sectionWhatsappWidget .block-1 .inner-wrapper .footer-text {
    font-size: 1.3rem;
}

#sectionWhatsappWidget .block-2 .block-title {
    font-size: 1.8rem;
    font-weight: 600;
}

#sectionWhatsappWidget .block-2 .inner-wrapper {
    height: 100%;
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#sectionWhatsappWidget .block-2 .inner-wrapper .header {
    position: relative;
}

#sectionWhatsappWidget .block-2 .inner-wrapper .header .title {
    font-weight: 400;
    font-size: 2rem;
    margin-right: 1rem;
}

#sectionWhatsappWidget .block-2 .inner-wrapper .header img {
    position: absolute;
    top: -3rem;
    right: -3rem;
    opacity: 0.8;
}

#sectionWhatsappWidget .block-2 .inner-wrapper .progress-label,
#sectionWhatsappWidget .block-2 .inner-wrapper .progress-amount {
    font-size: 1.3rem;
}

#sectionWhatsappWidget .block-2 .inner-wrapper .progress {
    height: 0.5rem;
}

#sectionWhatsappWidget .block-2 .inner-wrapper .progress .progress-bar {
    background-color: #00AEEF;
}

#sectionWhatsappWidget .block-2 .inner-wrapper .button-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#sectionWhatsappWidget .block-2 .inner-wrapper .button-block .act-btn {
    width: 115px;
    height: 40px;
    border-radius: 0.25rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

#sectionWhatsappWidget .block-2 .inner-wrapper .button-block .act-btn .bi {
    font-size: 1.5rem;
}

#sectionWhatsappWidget .block-2 .inner-wrapper .button-block .act-btn.act-ims {
    background-color: #00AEEF;
    color: #fff;
}

#sectionWhatsappWidget .block-2 .inner-wrapper .button-block .act-btn.act-settings,
#sectionWhatsappWidget .block-2 .inner-wrapper .button-block .act-btn.act-script {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

#sectionWhatsappWidget .block-2 .inner-wrapper .button-block .act-btn.act-delete {
    background-color: #fff;
    color: #FF0404;
    border: 1px solid #FF0404;
}

#sectionWhatsappWidget .block-2 .inner-wrapper .button-block .block-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#sectionWhatsappWidget .block-2 .innwer-wrapper.dotted-border {
    height: 100%;
    min-height: 300px;
    border: 2px dashed #999;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sectionWhatsappWidget .chat-applications .block-title {
    font-size: 1.8rem;
    font-weight: 600;
}

#sectionWhatsappWidget .chat-applications .inner-wrapper {
    height: 100%;
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}

#sectionWhatsappWidget .chat-applications .inner-wrapper .header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

#sectionWhatsappWidget .chat-applications .inner-wrapper .header .title {
    font-weight: 400;
    font-size: 2rem;
    margin-right: 1rem;
}

#sectionWhatsappWidget .chat-applications .inner-wrapper .header .watermark-img {
    position: absolute;
    right: -3rem;
    top: 2rem;
}

#sectionWhatsappWidget .chat-applications .inner-wrapper .header .image-block {
    display: flex;
    gap: 1rem;
}

#sectionWhatsappWidget .chat-applications .inner-wrapper .header .image-block img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

#sectionWhatsappWidget .chat-applications .inner-wrapper .body-text {
    font-size: 1rem;
    margin: 1rem 0;
}

#sectionWhatsappWidget .chat-applications .inner-wrapper .button-block {
    position: relative;
}

#sectionWhatsappWidget .chat-applications .inner-wrapper .button-block .create-widget-btn {
    text-decoration: none;
    color: #fff;
    border: none;
    background-color: #00AEEF;
    padding: 1rem 2.5rem;
    border-radius: 0.5rem;
    font-weight: 500;
}

#sectionWhatsappWidget .chat-applications .inner-wrapper .button-block .create-widget-btn::before {
    content: '+';
    position: relative;
    font-size: 1.5rem;
    color: #fff;
    margin-right: 0.75rem;
    top: 3px;
}

#sectionWhatsappWidget .chat-applications .inner-wrapper .button-block .create-widget-btn:disabled {
    background-color: #44bc8e;
}

#sectionWhatsappWidget .chat-applications .inner-wrapper .button-block .create-widget-btn:disabled::before {
    content: none;
}

#sectionWhatsappWidget #whatsappModal .modal-dialog {
    max-width: 660px;
    margin: 6rem auto !important;
}

#sectionWhatsappWidget #whatsappModal .modal-dialog .modal-content {
    border: none;
    border-radius: 1rem;
}

#sectionWhatsappWidget #whatsappModal .modal-dialog .modal-content .block-3 .inner-wrapper .header {
    text-align: center;
    position: relative;
    background-color: #44bc8e;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#sectionWhatsappWidget #whatsappModal .modal-dialog .modal-content .block-3 .inner-wrapper .header i {
    font-size: 4rem;
    line-height: 0;
}

#sectionWhatsappWidget #whatsappModal .modal-dialog .modal-content .block-3 .inner-wrapper .header .title {
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    display: block;
}

#sectionWhatsappWidget #whatsappModal .modal-dialog .modal-content .block-3 .inner-wrapper .header .btn-close {
    background-image: none;
    position: absolute;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -1.5rem;
    right: -1.5rem;
    opacity: 1;
}

#sectionWhatsappWidget #whatsappModal .modal-dialog .modal-content .block-3 .inner-wrapper .header .btn-close:not(:only-child) {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

#sectionWhatsappWidget #whatsappModal .modal-dialog .modal-content .block-3 .inner-wrapper .header .btn-close i {
    position: absolute;
    font-size: 2.5rem;
    color: #fff;
    top: 4px;
    left: 4px;
}

#sectionWhatsappWidget #whatsappModal .modal-dialog .modal-content .block-3 .inner-wrapper .header:focus {
    box-shadow: none;
}

#sectionWhatsappWidget #whatsappModal .modal-dialog .modal-content .block-3 .inner-wrapper .header::before {
    content: none;
}

#sectionWhatsappWidget #whatsappModal .modal-dialog .modal-content .block-3 .inner-wrapper .body .body-text {
    color: #999;
    font-weight: 300;
    text-align: center;
    width: 80%;
    margin: 0 auto 1rem;
}

#sectionWhatsappWidget #whatsappModal .modal-dialog .modal-content .block-3 .inner-wrapper .body .script-box {
    text-align: center;
    height: 80px;
    padding: 1rem;
    box-shadow: inset 4px 5px 8px 0px rgba(0, 0, 0, 0.2), inset -1px 0px 10px 0px #eee;
    font-size: 0.9rem;
    line-height: 1.7;
}

#sectionWhatsappWidget #whatsappModal .modal-dialog .modal-content .block-3 .inner-wrapper .footer .btn {
    display: block;
    margin: 0 auto 1.5rem;
    padding: 0.8rem 2rem;
    background-color: #44bc8e;
    border-radius: 0.5rem;
    font-size: 0.85rem;
    color: #fff;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
}

.border-right {
    border-right: 1px solid #ddd;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

.red {
    color: #dc3545 !important;
}

.gray {
    color: #6c757d !important;
}

.yellow {
    color: #ffc107 !important;
}

.blue {
    color: #0d6efd !important;
}

.down {
    color: #dc3545 !important;
}

.up {
    color: #0d6efd !important;
}

#sectionMainWindow {
    display: flex;
}

#sectionMainWindow #sectionSideNav {
    flex: 0 0 auto;
    width: 260px;
    transition: all 0.2s ease;
}

#sectionMainWindow #sectionBody {
    flex: 0 0 auto;
    width: calc(100% - 260px);
    transition: all 0.2s ease;
}

#sectionMainWindow #sectionBody .breadcrumb-block .breadcrumb .breadcrumb-item {
    color: #333;
    font-weight: 600;
    padding: 0;
}

#sectionMainWindow #sectionBody .breadcrumb-block .breadcrumb .breadcrumb-item:not(.active)::after {
    content: ">";
    margin: 0 10px;
    position: relative;
    top: 1px;
}

#sectionMainWindow #sectionBody .breadcrumb-block .breadcrumb .breadcrumb-item::before {
    content: none;
}

#sectionMainWindow #sectionBody .breadcrumb-block .breadcrumb .breadcrumb-item a {
    text-decoration: none;
    color: #333;
}

#sideNav.side-nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1f2851;
    z-index: 10;
    position: fixed;
    width: 260px;
    transition: all 0.2s ease;
}

#sideNav.side-nav .side-nav-brands {
    margin: 7rem auto 3rem;
    position: relative;
}

#sideNav.side-nav .side-nav-brands .side-nav-toggle {
    position: relative;
}

#sideNav.side-nav .side-nav-brands .side-nav-toggle .toggle-btn {
    position: absolute;
    top: -4rem;
    right: 1.5rem;
    font-size: 1.75rem;
    color: #fff;
}

#sideNav.side-nav .side-nav-brands .side-nav-toggle .toggle-btn:hover {
    cursor: pointer;
}

#sideNav.side-nav .side-nav-brands .small-logo {
    display: none;
}

#sideNav.side-nav .side-nav-brands .full-logo {
    opacity: 1;
    width: 200px;
}

#sideNav.side-nav .side-nav-brands img {
    width: 200px;
    display: block;
    margin: 0 auto;
    transition: all 0.2s ease;
}

#sideNav.side-nav .side-navs {
    margin: 2rem 0;
}

#sideNav.side-nav .side-navs .navbar-nav {
    gap: 1rem;
    margin-left: 2rem;
}

#sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link {
    color: #91b4bd;
    position: relative;
    white-space: nowrap;
}

#sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link.active {
    color: #fff;
}

#sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link.active::before {
    content: "";
    height: 100%;
    width: 0.4rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #0d6efd;
    position: absolute;
    top: 0;
    left: -2rem;
}

#sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
}

#sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link .tool-tip {
    display: none;
}

#sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link .bi {
    font-size: 2rem;
    position: relative;
    top: 5px;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

#sideNav.side-nav .side-nav-footer {
    text-align: center;
    padding: 0 1rem;
    margin-top: auto;
}

#sideNav.side-nav .side-nav-footer .copyright {
    color: #fff;
    font-size: 0.85rem;
}

#sideNav.side-nav .side-nav-footer .theme {
    color: #91b4bd;
    font-size: 0.85rem;
}

#sectionBody.active {
    width: calc(100% - 90px) !important;
    transition: all 0.2s ease;
}

#sectionSideNav.active {
    width: 90px !important;
    transition: all 0.2s ease;
}

#sectionSideNav.active #sideNav.side-nav {
    width: 90px !important;
    transition: all 0.2s ease;
}

#sectionSideNav.active #sideNav.side-nav .side-nav-brands .side-nav-toggle .toggle-btn {
    left: 50%;
    transform: translate(-50%, 0);
    right: unset;
}

#sectionSideNav.active #sideNav.side-nav .side-nav-brands .full-logo {
    opacity: 0;
    width: 0;
}

#sectionSideNav.active #sideNav.side-nav .side-nav-brands .small-logo {
    display: block;
    width: 60px;
}

#sectionSideNav.active #sideNav.side-nav .side-navs .navbar-nav {
    margin-left: 1.5rem;
}

#sectionSideNav.active #sideNav.side-nav .side-navs .navbar-nav .nav-item {
    position: relative;
}

#sectionSideNav.active #sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link:hover .tool-tip {
    opacity: 1;
    left: 3.5rem;
}

#sectionSideNav.active #sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link.active::before {
    left: -1.5rem;
}

#sectionSideNav.active #sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link .text {
    display: none;
}

#sectionSideNav.active #sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link .tool-tip {
    position: absolute;
    width: 120px;
    height: 35px;
    line-height: 35px;
    background-color: #0d6efd;
    color: #fff;
    font-weight: 500;
    padding-left: 1rem;
    border-radius: 5px;
    top: 2rem;
    left: 4.5rem;
    opacity: 0;
    display: block;
    transition: all 0.2s ease;
}

#sectionSideNav.active #sideNav.side-nav .side-navs .navbar-nav .nav-item .nav-link .bi {
    margin-right: 2rem;
}

#sectionSideNav.active #sideNav.side-nav .side-nav-footer .copyright,
#sectionSideNav.active #sideNav.side-nav .side-nav-footer .theme {
    display: none;
}

.property {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.property .image {
    width: 45px;
    height: 45px;
}

.property .image img {
    width: 100%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.property .content .site-name {
    color: #333;
    margin: 0;
    line-height: 1;
}

.property .content .site-url {
    color: #999;
    font-size: 0.8rem;
    font-weight: 600;
}

.property .dropdown-icon i {
    color: #333;
}

@media screen and (max-width: 991px) {
    #navBar.nav-bar .property-block .nav-link {
        padding: 1rem !important;
    }
}

@media screen and (max-width: 768px) {
    #sectionMainWindow #sectionBody {
        width: 100% !important;
    }

    #sectionMainWindow #sectionSideNav.mobile {
        width: 0 !important;
    }

    #sectionMainWindow #sectionSideNav.mobile.active #sideNav.side-nav {
        height: 143px !important;
        justify-content: center !important;
    }

    #sectionMainWindow #sectionSideNav.mobile.active #sideNav.side-nav .side-nav-brands .small-logo {
        display: none !important;
    }

    #sectionMainWindow #sectionSideNav.mobile.active #sideNav.side-nav .side-navs {
        display: none !important;
    }

    #sectionMainWindow #sectionSideNav.mobile.active #sideNav.side-nav .side-nav-footer {
        display: none !important;
    }

    #sectionMainWindow #sectionSideNav.mobile #sideNav.side-nav {
        position: absolute !important;
        height: auto !important;
    }
}

.section-content {
    background-color: #f4f4f4f5;
    min-height: 100vh;
    padding: 2rem 0;
}

.section-content .section-container {
    width: 90%;
    margin: 0 auto;
}

.section-content .section-container #sectionHeader .header-block .sub-title {
    font-weight: 500;
}

.section-content .section-container #sectionHeader .header-block .input-group .form-label {
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #fff;
    width: 250px;
    text-align: center;
    height: 60px;
    border-radius: 0.5rem;
    white-space: nowrap;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.section-content .section-container #sectionHeader .header-block .input-group .form-control {
    background-color: #fff !important;
    border: none;
    border-radius: 5px !important;
    padding: 1.1rem 2rem;
}

.section-content .section-container #sectionHeader .header-block .btn-optimize {
    line-height: 60px;
    height: 60px;
    width: 180px;
    padding: 0;
    border-radius: 0.5rem;
    background-color: #0d6efd;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
}

.section-content #sectionProperties .property-block {
    background-color: #fff;
    border-radius: 1rem;
}

.section-content #sectionProperties .property-block .inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-content #sectionProperties .property-block .inner-wrapper .name-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-content #sectionProperties .property-block .inner-wrapper .name-block .property-name .pro-name {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    display: block;
}

.section-content #sectionProperties .property-block .property-name .pro-url {
    color: #999;
    font-weight: 500;
    display: block;
}

.section-content #sectionProperties .property-block .inner-wrapper .button-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.section-content #sectionProperties .property-block .inner-wrapper .btn {
    width: 140px;
    height: 46px;
    line-height: 46px;
    border-radius: 0.5rem;
    font-weight: 500;
    padding: 0;
}

.section-content #sectionProperties .property-block .inner-wrapper .btn.btn-open {
    border: 1px solid #0d6efd;
    color: #0d6efd;
}

.section-content #sectionProperties .property-block .inner-wrapper .btn.btn-delete {
    border: 1px solid #FF0404;
    color: #FF0404;
}

.section-content #sectionProperties .property-block .inner-wrapper .btn .bi {
    margin-right: 0.75rem;
}

.section-content #sectionProperties .property-block .button-block .form-switch {
    padding-left: 0;
    padding-right: 2.5em;
}

.section-content #sectionProperties .property-block .button-block .form-switch .form-check-label {
    font-weight: 500;
    white-space: nowrap;
}

.section-content #sectionProperties .property-block .button-block .form-switch .form-check-input {
    float: right;
    margin-right: -2.5em;
    margin-left: 0;
}

.section-content #sectionProperties .property-block .info-blocks:not(:last-child) {
    border-right: 1px solid #ddd;
}

.section-content #sectionProperties .property-block .info-blocks .block-title {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
}

.section-content #sectionProperties .property-block .info-blocks .precentage {
    font-size: 1.1rem;
    font-weight: 500;
    color: #0d6efd;
    white-space: nowrap;
}

.section-content #sectionProperties .property-block .seo-block .seo-result {
    text-align: center;
    display: block;
    font-size: 1.75rem;
    color: #999;
}

.section-content #sectionProperties .property-block .seo-block .progress {
    height: 0.4rem;
}

.section-content #sectionProperties .property-block .seo-block .precentage {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
}

.section-content #sectionProperties .property-block .seo-block .precentage .sign {
    font-size: 0.9rem;
    color: #198754;
}

.section-content #sectionProperties .property-block .analytics-block .block-content .block-title {
    text-align: left;
    display: block;
}

.section-content #sectionProperties .property-block .analytics-block .block-content .sub-title {
    color: #999;
    font-size: 1.1rem;
    margin-right: 1rem;
}

.section-content #sectionProperties .property-block .analytics-block .block-content i {
    margin-right: 1rem;
}

.section-content #sectionProperties .property-block .statics-block .issues-blocks .issue-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.section-content #sectionProperties .property-block .statics-block .issues-blocks .issue-info .info,
.section-content #sectionProperties .property-block .statics-block .issues-blocks .issue-info .info-prec {
    color: #999;
    font-size: 0.85rem;
}

.section-content #sectionProperties .property-block .statics-block .issues-blocks .issue-info .info i,
.section-content #sectionProperties .property-block .statics-block .issues-blocks .issue-info .info-prec i {
    margin-right: 0.5rem;
    font-size: 0.85rem;
}

.section-content #sectionProperties .property-block .statics-block .issues-blocks .progress {
    height: 0.4rem;
}

@media screen and (max-width: 1399px) {
    .section-content {
        height: auto;
    }

    #sectionProperties .property-block .info-blocks {
        border-right: none !important;
    }
}

@media screen and (max-width: 2199px) {
    #sectionProperties .button-block .form-check.form-switch {
        width: 185px;
    }
}

@media screen and (max-width: 575px) {
    #sectionHeader .header-block .input-group .form-label {
        height: 45px !important;
        width: 220px !important;
    }

    #sectionHeader .header-block .btn-optimize {
        height: 45px !important;
        line-height: 45px !important;
        width: 220px !important;
    }

    #sectionProperties .property-block .button-block .btn {
        width: 220px !important;
        height: 45px !important;
        line-height: 45px !important;
    }
}

#sectionTabs .tabs {
    text-align: center;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    color: grey;
}

#sectionTabs .tabs:hover {
    cursor: pointer;
    background-color: #fff;
    color: grey;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#sectionTabs .tabs.active {
    background-color: #0d6efd;
    color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#sectionTabs .tabs .tab-icon .bi {
    font-size: 3rem;
}

#sectionTabs .tabs .tab-title {
    font-size: 1.2rem;
    font-weight: 500;
}

#sectionTabs .tabs .tab-info {
    font-weight: 700;
    font-size: 1.1rem;
}

#sectionTabs .tabs .tab-info .strong-text {
    font-size: 3.5rem;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col:not(:last-child) {
    border-right: 1px solid #ccc;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col:first-child .nav-link {
    border-top-left-radius: 1rem;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col:last-child .nav-link {
    border-top-right-radius: 1rem;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col .nav-item .nav-link {
    background-color: #e2e7f5;
    color: #333;
    font-size: 1.2rem;
    position: relative;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col .nav-item .nav-link .bi {
    font-size: 1.8rem;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col .nav-item .nav-link .text {
    margin-left: 1rem;
    font-size: 1.2rem;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col .nav-item .nav-link:hover {
    background-color: #fff;
    color: #0d6efd;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col .nav-item .nav-link:hover::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #0d6efd;
    position: absolute;
    bottom: 0;
    left: 0;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col .nav-item .nav-link.active {
    background-color: #fff;
    color: #0d6efd;
}

#sectionTabNavs .inner-wrapper .navbar-nav .col .nav-item .nav-link.active::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #0d6efd;
    position: absolute;
    bottom: 0;
    left: 0;
}

#sectionTabStatics .inner-wrapper {
    background-color: #fff;
    border-radius: 1rem;
}

#sectionTabStatics .inner-wrapper .border-bottom {
    border-bottom: 1px solid #999 !important;
}

#sectionTabStatics .inner-wrapper .titile {
    font-size: 1.6rem;
}

#sectionTabStatics .inner-wrapper .duration {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ccc;
}

#sectionTabStatics .inner-wrapper .info-block-wrapper {
    background-color: #f7fbff;
    border-radius: 0.5rem;
    width: 15rem;
    margin: 0 auto;
}

#sectionTabStatics .inner-wrapper .info-block-wrapper .chart-info-block .title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}

#sectionTabStatics .inner-wrapper .info-block-wrapper .chart-info-block .title .text {
    font-weight: 600;
    font-size: 1.2rem;
}

#sectionTabStatics .inner-wrapper .info-block-wrapper .chart-info-block .title .bi-info-circle {
    color: #999;
}

#sectionTabStatics .inner-wrapper .info-block-wrapper .chart-info-block .info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#sectionTabStatics .inner-wrapper .info-block-wrapper .chart-info-block .info .precentage .bi {
    margin-right: 1rem;
}

#sectionTabStatics .inner-wrapper .info-block-wrapper .count {
    font-size: 2rem;
    text-align: right;
}

#sectionVisitors .visitors-block {
    background-color: #fff;
    border-radius: 0.2rem;
}

#sectionVisitors .visitors-block .title {
    font-size: 1.6rem;
}

#sectionVisitors .visitors-block .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sectionVisitors .visitors-block .header .thead {
    font-size: 1.3rem;
    color: #999;
}

#sectionVisitors .visitors-block .body .visitors-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

#sectionVisitors .visitors-block .body .visitors-list .visitor-item .label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}

#sectionVisitors .visitors-block .body .visitors-list .visitor-item .label .flag {
    font-size: 1.5rem;
}

#sectionVisitors .visitors-block .body .visitors-list .visitor-item .count {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

#sectionVisitors .visitors-block .body .visitors-list .visitor-item .progress {
    height: 0.3rem;
}

#sectionVisitors .visitors-block .footer .footer-link {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    text-align: center;
    display: block;
}

#sectionVisitors .visitors-block .border-bottom {
    border-bottom: 1px solid #999 !important;
}

#sectionSEOBlock .inner-wrapper {
    background-color: #fff;
    border-radius: 1rem;
}

#sectionSEOBlock .inner-wrapper .border-bottom {
    border-bottom: 1px solid #999 !important;
}

#sectionSEOBlock .inner-wrapper .titile {
    font-size: 1.6rem;
}

#sectionSEOBlock .inner-wrapper .duration {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ccc;
}

#sectionSEOBlock .inner-wrapper .statics-block .issues-blocks .issue-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#sectionSEOBlock .inner-wrapper .statics-block .issues-blocks .issue-info .info,
#sectionSEOBlock .inner-wrapper .statics-block .issues-blocks .issue-info .info-prec {
    color: #999;
    font-size: 1rem;
}

#sectionSEOBlock .inner-wrapper .statics-block .issues-blocks .issue-info .info i,
#sectionSEOBlock .inner-wrapper .statics-block .issues-blocks .issue-info .info-prec i {
    margin-right: 0.5rem;
    font-size: 1rem;
}

#sectionSEOBlock .inner-wrapper .statics-block .issues-blocks .progress {
    height: 0.4rem;
}

#createWidgetModal .modal-dialog {
    position: relative;
    margin: 5rem auto 0;
    max-width: 800px;
    min-width: 280px;
    width: 100%;
}

#createWidgetModal .modal-dialog .modal-content {
    border-radius: 20px;
    background-color: transparent;
    border: none;
}

#createWidgetModal .modal-dialog .modal-content .card {
    border-radius: 20px;
    background-color: #FFFFFF;
    border: none;
}

#createWidgetModal .modal-dialog .modal-content .card .card-header {
    position: relative;
    background-color: #00AEEF;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1.5rem 1rem;
}

#createWidgetModal .modal-dialog .modal-content .card .card-header .modal-title {
    color: #fff;
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center;
}

#createWidgetModal .modal-dialog .modal-content .card .card-header .btn-close-modal {
    position: absolute;
    display: block;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    right: -15px;
    top: -15px;
}

#createWidgetModal .modal-dialog .modal-content .card .card-header .btn-close-modal .bi {
    color: #fff;
    font-size: 1.2rem;
}

#createWidgetModal .modal-dialog .modal-content .card .card-body {
    width: 80%;
    margin: 1.5rem auto;
    padding: 0;
}

#createWidgetModal .modal-dialog .modal-content .card .card-body .block-1 .inner-wrapper .header .title {
    font-weight: 400;
    font-size: 1.6rem;
    display: block;
    margin-bottom: 1rem;
}

#createWidgetModal .modal-dialog .modal-content .card .card-body .block-1 .inner-wrapper .body-text {
    margin-bottom: 3rem;
}

#createWidgetModal .modal-dialog .modal-content .card .card-body .block-1 .inner-wrapper .button-block .btn-whatsapp {
    background-color: #00AEEF;
    border: none;
    color: #fff;
    border-radius: 12px;
    font-weight: 400;
    font-size: 1.2rem;
    width: 180px;
    height: 50px;
}

#createWidgetModal .modal-dialog .modal-content .card .card-body .block-1 .inner-wrapper .button-block .btn-whatsapp:disabled {
    background-color: #44bc8e;
}

#createWidgetModal .modal-dialog .modal-content .card .card-body .block-1 .inner-wrapper .button-block .btn-whatsapp:disabled::before {
    content: none;
}

#createWidgetModal .modal-dialog .modal-content .card .card-body .block-1 .inner-wrapper .whatsapp-feature-block {
    border: 2px dashed #44BC8E;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
}

#createWidgetModal .modal-dialog .modal-content .card .card-body .block-1 .inner-wrapper .whatsapp-feature-block img {
    width: 50px;
    object-fit: cover;
}

#createWidgetModal .modal-dialog .modal-content .card .card-body .block-1 .inner-wrapper .whatsapp-feature-block .title {
    margin: 2rem 0 0.1rem;
    font-size: 13px;
}

#createWidgetModal .modal-dialog .modal-content .card .card-body .block-1 .inner-wrapper .whatsapp-feature-block .subtitle {
    font-size: 11px;
}

#createWidgetModal .modal-dialog .modal-content .card .card-body .block-1 .inner-wrapper .whatsapp-feature-block .star-rating .bi {
    color: rgba(0, 0, 0, 0.2);
}

#createWidgetModal .modal-dialog .modal-content .card .card-body .block-1 .inner-wrapper .whatsapp-feature-block .star-rating .bi.active {
    color: #FBD100;
}

#createWidgetModal .modal-dialog .modal-content .card .card-body .block-1 .inner-wrapper .whatsapp-feature-block .pricing {
    font-size: 11px;
    margin-top: 1.5rem;
}

#deleteFavorite .modal-content {
    border: none;
    border-radius: 20px;
}

#deleteFavorite .modal-dialog .modal-content .modal-header {
    position: relative;
    background-color: #00AEEF;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1rem;
    justify-content: center;
}

#deleteFavorite .modal-dialog .modal-content .modal-header .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#deleteFavorite .modal-dialog .modal-content .modal-header .modal-title {
    color: #fff;
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center;
}

#deleteFavorite .modal-dialog .modal-content .modal-header .btn-close-modal {
    position: absolute;
    display: block;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    right: -15px;
    top: -15px;
}

#deleteFavorite .modal-dialog .modal-content .modal-header .btn-close-modal .bi {
    color: #fff;
    font-size: 1.2rem;
}

#deleteFavorite .modal-dialog .modal-content .modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: none;
    padding: 2rem 0;
}

#deleteFavorite .modal-dialog .modal-content .modal-footer .text-block {
    font-size: 14px;
}

#deleteFavorite .modal-dialog .modal-content .modal-footer .button-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

#deleteFavorite .modal-dialog .modal-content .modal-footer .button-block .btn-close {
    width: 90px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    padding: 0.75rem 0;
    line-height: 1;
    font-size: 14px;
}

#deleteFavorite .modal-dialog .modal-content .modal-footer .button-block .btn-close:focus {
    box-shadow: none;
}

#deleteFavorite .modal-dialog .modal-content .modal-footer .button-block .btn-delete {
    width: 90px;
    background-color: #fff;
    opacity: 1;
    color: #FF0404;
    border: 1px solid #FF0404;
    padding: 0.75rem 0;
    line-height: 1;
    font-size: 14px;
}

#deleteFavorite .modal-dialog .modal-content .modal-footer .button-block .btn-delete:hover {
    border: 1px solid #FF0404;
}

#deleteFavorite .modal-dialog .modal-content .modal-footer .button-block .btn-delete:focus {
    box-shadow: none;
}

#overlay .modal-dialog {
    max-width: 600px;
}

#overlay .modal-dialog .modal-content {
    border: none;
    border-radius: 20px;
}

#overlay .modal-dialog .modal-content .modal-header {
    position: relative;
    background-color: #00AEEF;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1rem;
    justify-content: center;
}

#overlay .modal-dialog .modal-content .modal-header .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#overlay .modal-dialog .modal-content .modal-header .title .modal-title {
    color: #fff;
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center;
}

#overlay .modal-dialog .modal-content .modal-header .title .bi {
    font-size: 2.5rem;
    color: #fff;
}

#overlay .modal-dialog .modal-content .modal-header .btn-close-modal {
    position: absolute;
    display: block;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    right: -15px;
    top: -15px;
}

#overlay .modal-dialog .modal-content .modal-header .btn-close-modal .bi {
    color: #fff;
    font-size: 1.2rem;
}

#overlay .modal-dialog .modal-content .modal-body {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

#overlay .modal-dialog .modal-content .modal-body .content-block {
    flex: 1 1 50%;
}

#overlay .modal-dialog .modal-content .modal-body .content-block .title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

#overlay .modal-dialog .modal-content .modal-body .content-block .text {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 1rem;
}

#overlay .modal-dialog .modal-content .modal-body .content-block .act-btn {
    width: 110px;
    height: 40px;
    border-radius: 0.25rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid transparent;
    color: #fff;
    background-color: #44bc8e;
}

#overlay .modal-dialog .modal-content .modal-body .content-block .act-btn .bi {
    font-size: 16px;
}

#overlay .modal-dialog .modal-content .modal-body .image-block {
    flex: 1 1 30%;
}

#overlay .modal-dialog .modal-content .modal-body .image-block img {
    width: 100%;
}

#overlay .modal-dialog .modal-content .modal-footer {
    justify-content: flex-start;
    border: none;
    padding: 1rem 2rem;
    background-color: #f4f4f4;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#overlay .modal-dialog .modal-content .modal-footer .button-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

#overlay .modal-dialog .modal-content .modal-footer .button-block .act-btn {
    width: 110px;
    height: 40px;
    border-radius: 0.25rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid transparent;
}

#overlay .modal-dialog .modal-content .modal-footer .button-block .act-btn .bi {
    font-size: 16px;
}

#overlay .modal-dialog .modal-content .modal-footer .button-block .act-btn.act-settings,
#overlay .modal-dialog .modal-content .modal-footer .button-block .act-btn.act-script {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

#overlay .modal-dialog .modal-content .modal-footer .button-block .act-btn.act-delete {
    background-color: #fff;
    color: #FF0404;
    border: 1px solid #FF0404;
}

.get_widget_Modal .modal-dialog {
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    max-width: 650px;
    min-width: 280px;
    width: 100%;
}

.get_widget_Modal .modal-dialog .modal-content {
    position: relative;
    border: none;
    border-radius: 20px;
    background-color: #ECF0F3;
}

.get_widget_Modal .modal-dialog .modal-content .modal-header {
    background-color: #00AEEF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1.5rem 1rem;
    justify-content: center;
    flex-direction: column;
    border: none;
}

.get_widget_Modal .modal-dialog .modal-content .modal-header img {
    width: 80px;
    margin-bottom: 0.5rem;
}

.get_widget_Modal .modal-dialog .modal-content .modal-header .modal-title {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
}

.get_widget_Modal .modal-dialog .modal-content .modal-header .btn-close-modal {
    position: absolute;
    display: block;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    right: -15px;
    top: -15px;
}

.get_widget_Modal .modal-dialog .modal-content .modal-header .btn-close-modal .bi {
    color: #fff;
    font-size: 1rem;
}

.get_widget_Modal .modal-dialog .modal-content .modal-body {
    padding: 1.5rem 3rem;
}

.get_widget_Modal .modal-dialog .modal-content .modal-body .text {
    width: 70%;
    text-align: center;
    margin: auto;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.42);
}

.get_widget_Modal .modal-dialog .modal-content .modal-body code {
    font-size: 12px;
    color: #000;
    text-align: center;
    display: block;
    margin: 1.5rem auto 0;
    padding: 1.25rem;
    line-height: 2;
    box-shadow: inset 5px 5px 10px rgba(151, 167, 195, 0.65);
}

.get_widget_Modal .modal-dialog .modal-content .modal-footer {
    border: none;
    padding-top: 0;
    padding-bottom: 1.5rem;
    justify-content: center;
}

.get_widget_Modal .modal-dialog .modal-content .modal-footer .modal-btn {
    background-color: #00AEEF;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}

.email-not-found {
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 100px;
    width: 200px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.email-not-found button {
    background-color: transparent;
    border: none;
    color: #842029;
}


.email-not-found button span {
    font-size: 20px;
    line-height: 1;
}


/* if no projects available */

.content-block.no-projects {
    max-width: 350px;
    width: 100%;
}

.content-block.no-projects h6 {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.content-block.no-projects h6 .strong {
    font-size: 28px;
    font-weight: 500;
    color: #00AEEF;
}

.content-block.no-projects h2.title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 1.5rem;
}

.content-block.no-projects h2.title span {
    font-size: 28px;
    font-weight: 500;
}

.content-block.no-projects h5 {
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
}

.content-block.no-projects h5 span {
    font-size: 16px;
    color: #00AEEF;
}

.content-block.no-projects h5.text {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

.content-block.no-projects h5.text span {
    font-weight: 500;
    font-size: 18px;
    color: #00AEEF;
}

.content-block.no-projects h6.blue-text {
    font-weight: 400;
    color: #00AEEF;
    margin-top: .5rem;
}

.content-block.no-projects h6.blue-text span {
    font-weight: 500;
    font-size: 18px;
}

/* Notification Panel */

.dropdown-menu[aria-labelledby=notifyDrop] {
    min-width: 350px;
    max-width: unset;
    top: 10px !important;
    left: -300px !important;
    padding: 0 !important;
}

.dropdown-menu[aria-labelledby=notifyDrop] .inner-wrapper {
    padding: 8px;
}

.dropdown-menu[aria-labelledby=notifyDrop] .inner-wrapper .list-group {
    max-height: 220px;
    overflow-y: scroll;
    border: 1px solid #ebedf2;
}

.dropdown-menu[aria-labelledby=notifyDrop] .inner-wrapper .list-group::-webkit-scrollbar {
    width: 3px;
}

.dropdown-menu[aria-labelledby=notifyDrop] .inner-wrapper .list-group::-webkit-scrollbar-track {
    background-color: transparent;
}

.dropdown-menu[aria-labelledby=notifyDrop] .inner-wrapper .list-group::-webkit-scrollbar-thumb {
    background-color: #E5E5E5;
    border-radius: 50px;
}

.dropdown-menu[aria-labelledby=notifyDrop] .inner-wrapper .list-group .list-group-item {
    padding: 6px 12px;
}

.dropdown-menu[aria-labelledby=notifyDrop] .inner-wrapper .list-group .list-group-item h5 {
    font-size: 15px;
    margin-bottom: 3px !important;
}

.dropdown-menu[aria-labelledby=notifyDrop] .inner-wrapper .list-group .list-group-item small {
    font-size: 10.5px;
}

.dropdown-menu[aria-labelledby=notifyDrop] .inner-wrapper .list-group .list-group-item p {
    font-size: 12px;
    margin-bottom: 3px !important;
}

.dropdown-menu[aria-labelledby=notifyDrop] .inner-wrapper .view-more {
    text-decoration: none;
    color: #000;
    display: block;
    width: fit-content;
    margin: 8px auto 0;
    font-size: 12px;
}

/*# sourceMappingURL=main.css.map */
