.navigation-bar {
    padding: 15px 0;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}

.navigation-bar .inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navigation-bar .inner-wrapper .mobile-brand {
    display: none;
}

.navigation-bar .inner-wrapper .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
    width: 100%;
}

.navigation-bar .inner-wrapper .navbar-nav .nav-item .nav-link {
    font-size: 14px;
    font-weight: 300;
    color: #000;
}

.navigation-bar .inner-wrapper .navbar-nav .nav-item .nav-link:hover {
    color: #00AEEF;
}

.navigation-bar .inner-wrapper .navbar-nav .nav-item .nav-link.active {
    color: #00AEEF;
}

.navigation-bar .inner-wrapper .navbar-nav .nav-item .nav-link:focus {
    box-shadow: none;
}

.navigation-bar .inner-wrapper .navbar-nav .nav-item .nav-link.brand-link {
    width: 110px;
}

.navigation-bar .inner-wrapper .navbar-nav .nav-item .nav-link.brand-link .brand {
    position: relative;
    background-color: #fff;
    width: 110px;
    height: 110px;
    padding: 0.75rem;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation-bar .inner-wrapper .navbar-nav .nav-item .nav-link.brand-link .brand::after {
    content: '';
    width: 11px;
    height: 11px;
    background-color: transparent;
    border: 2px solid #fb0000;
    position: absolute;
    border-radius: 50%;
    top: 26px;
    right: 38px;
    animation: border-pulse 1s infinite;
}

.navigation-bar .inner-wrapper .navbar-nav .nav-item .nav-link.brand-link .brand img {
    width: 86px;
}

.navigation-bar .inner-wrapper .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 21px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 40px;
    text-decoration: none;
    display: none;
}

.navigation-bar .inner-wrapper .menu-trigger span,
.navigation-bar .inner-wrapper .menu-trigger span:before,
.navigation-bar .inner-wrapper .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
}

.navigation-bar .inner-wrapper .menu-trigger span:before,
.navigation-bar .inner-wrapper .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    width: 75%;
}

.navigation-bar .inner-wrapper .menu-trigger span:before,
.navigation-bar .inner-wrapper .menu-trigger span:after {
    content: "";
}

.navigation-bar .inner-wrapper .menu-trigger span {
    top: 16px;
}

.navigation-bar .inner-wrapper .menu-trigger span:before {
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
}

.navigation-bar .inner-wrapper .menu-trigger span:after {
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 10px;
}

.navigation-bar .inner-wrapper .menu-trigger.active span,
.navigation-bar .inner-wrapper .menu-trigger.active span:before,
.navigation-bar .inner-wrapper .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
}

.navigation-bar .inner-wrapper .menu-trigger.active span:before {
    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #1e1e1e;
}

.navigation-bar .inner-wrapper .menu-trigger.active span:after {
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #1e1e1e;
}

#profileDropdown .profile {
    display: flex;
    gap: 10px;
    align-items: center;
}

#profileDropdown .profile .image img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

#profileDropdown .profile .name {
    font-size: 14px;
}

.profile-dropdown-menu {
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-top: 4px solid #017FFA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-dropdown-menu .dropdown-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.profile-dropdown-menu .dropdown-item .icon-block .bi {
    font-size: 18px;
    color: #9E9E9E;
}

.profile-dropdown-menu .dropdown-item .text {
    color: #9E9E9E;
    font-size: 14px;
}

.profile-dropdown-menu .dropdown-item:hover {
    background-color: transparent;
}

.profile-dropdown-menu .dropdown-item:hover .icon-block .bi {
    color: #000;
}

.profile-dropdown-menu .dropdown-item:hover .text {
    color: #000;
}

.profile-dropdown-menu .dropdown-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.profile-dropdown-menu .dropdown-item .icon-block .bi {
    font-size: 18px;
    color: #9E9E9E;
}

.profile-dropdown-menu .dropdown-item .text {
    color: #9E9E9E;
    font-size: 14px;
}

.profile-dropdown-menu .dropdown-item:hover {
    background-color: transparent;
}

.profile-dropdown-menu .dropdown-item:hover .icon-block .bi {
    color: #000;
}

.profile-dropdown-menu .dropdown-item:hover .text {
    color: #000;
}


#getstartedNav {
    border: 1px solid #00AEEF;
    padding: 0.5rem 1rem;
}

#getstartedNav:focus {
    box-shadow: none;
}

.getstarted-dropdown-menu {
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-top: 4px solid #017FFA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.getstarted-dropdown-menu .dropdown-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.getstarted-dropdown-menu .dropdown-item .icon-block .bi {
    font-size: 18px;
    color: #9E9E9E;
}

.getstarted-dropdown-menu .dropdown-item .text {
    color: #9E9E9E;
    font-size: 14px;
}

.getstarted-dropdown-menu .dropdown-item:hover {
    background-color: transparent;
}

.getstarted-dropdown-menu .dropdown-item:hover .icon-block .bi {
    color: #000;
}

.getstarted-dropdown-menu .dropdown-item:hover .text {
    color: #000;
}

.getstarted-dropdown-menu .dropdown-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.getstarted-dropdown-menu .dropdown-item .icon-block .bi {
    font-size: 18px;
    color: #9E9E9E;
}

.getstarted-dropdown-menu .dropdown-item .text {
    color: #9E9E9E;
    font-weight: 300;
    font-size: 14px;
}

.getstarted-dropdown-menu .dropdown-item:hover {
    background-color: transparent;
}

.getstarted-dropdown-menu .dropdown-item:hover .icon-block .bi {
    color: #000;
}

.getstarted-dropdown-menu .dropdown-item:hover .text {
    color: #000;
}


@media screen and (max-width: 991px) {
    .navigation-bar {
        padding: 0;
        top: 0;
    }

    .navigation-bar .inner-wrapper {
        display: block;
    }

    .navigation-bar .inner-wrapper.active {
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.25);
    }

    .navigation-bar .inner-wrapper .mobile-brand {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 1rem;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .navigation-bar .inner-wrapper .mobile-brand::after {
        content: '';
        width: 11px;
        height: 11px;
        background-color: transparent;
        border: 2px solid #fb0000;
        position: absolute;
        border-radius: 50%;
        top: 15px;
        left: 49px;
        animation: border-pulse 1s infinite;
    }

    .navigation-bar .inner-wrapper .mobile-brand img {
        width: 170px;
    }

    .navigation-bar .inner-wrapper .navbar-nav .nav-item.mobile-none {
        display: none;
    }

    .navigation-bar .inner-wrapper .menu-trigger {
        display: block !important;
    }

    .navigation-bar .inner-wrapper .navbar-nav {
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: #fff;
        padding: 2rem 0;
        width: 80%;
        box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        visibility: hidden;
    }

    .navigation-bar .inner-wrapper .navbar-nav.active {
        visibility: visible;
    }
}

@keyframes border-pulse {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes border-pulse {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}

/*# sourceMappingURL=navbar.css.map */
