@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.hero-section {
    height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#F6FBFF));
    background-image: linear-gradient(to bottom, #fff, #F6FBFF);
}

.hero-section .container {
    height: 100%;
}

.hero-section .container .inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 5rem;
    height: 100%;
}

.hero-section .container .inner-wrapper .content-block {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
}

.hero-section .container .inner-wrapper .content-block .title {
    font-size: calc(1.2625rem + 1.41429vw);
    font-weight: 400;
    line-height: 1.5;
}

@media (min-width: 1400px) {
    .hero-section .container .inner-wrapper .content-block .title {
        font-size: 2.5rem;
    }
}

.hero-section .container .inner-wrapper .content-block .title span {
    color: #00AEEF;
    font-size: calc(1.2625rem + 1.41429vw);
}

@media (min-width: 1400px) {
    .hero-section .container .inner-wrapper .content-block .title span {
        font-size: 2.5rem;
    }
}

.hero-section .container .inner-wrapper .content-block .text {
    margin: calc(1.2625rem + 1.41429vw) 0;
}

@media (min-width: 1400px) {
    .hero-section .container .inner-wrapper .content-block .text {
        margin: 2.5rem 0;
    }
}

.hero-section .container .inner-wrapper .content-block .image-block {
    width: 150px;
}

.hero-section .container .inner-wrapper .image-block {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
}

.hero-section .container .inner-wrapper .image-block img {
    width: 100%;
}

.portfolio-section {
    position: relative;
    margin: calc(1.2875rem + 4.24286vw) 0;
}

@media (min-width: 1400px) {
    .portfolio-section {
        margin: 5rem 0;
    }
}

.portfolio-section .title {
    text-align: center;
    margin-bottom: 5rem;
    font-weight: 700;
    font-size: 40px;
    color: #2d465b;
}

.portfolio-section .portfolio-block {
    position: relative;
}

.portfolio-section .portfolio-block .image-block img {
    width: 100%;
}

.portfolio-section .portfolio-block .content-block {
    position: absolute;
    padding: 1rem 2rem;
    bottom: 0;
    left: 0;
}

.portfolio-section .portfolio-block .content-block .title {
    font-size: 1.25rem;
    margin: 0;
    text-align: left;
}

.portfolio-section .portfolio-block .content-block.light .text,
.portfolio-section .portfolio-block .content-block.light .title {
    color: #fff;
}

@media screen and (max-width: 991px) {
    .hero-section {
        height: auto;
        padding: 5rem 0;
    }

    .hero-section .container .inner-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 3rem;
    }

    .hero-section .container .inner-wrapper .content-block {
        -webkit-box-flex: unset;
        -ms-flex: unset;
        flex: unset;
    }

    .hero-section .container .inner-wrapper .content-block .image-block {
        width: 100px;
    }

    .hero-section .container .inner-wrapper .content-block .image-block img {
        width: 100%;
    }

    .hero-section .container .inner-wrapper .image-block {
        -webkit-box-flex: unset;
        -ms-flex: unset;
        flex: unset;
        text-align: center;
    }

    .hero-section .container .inner-wrapper .image-block img {
        max-width: 500px;
        width: 100%;
    }
}

/* Pricing Section */
.pricing-section {
    position: relative;
}

.pricing-section .header {
    text-align: center;
    margin-bottom: 5rem;
}

.pricing-section .header .title {
    font-size: 40px;
    font-weight: 700;
    color: #2d465b;
    line-height: 1;
}

.pricing-section .header .subtitle {
    font-size: 20px;
    font-weight: 300;
}

.pricing-section .content {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.pricing-section .content .pricing-card {
    flex: 1 1 100%;
    position: relative;
    padding: 20px 30px 30px;
    background-size: cover;
    border-radius: 50px;
    min-width: 350px;
    max-width: 400px;
}

.pricing-section .content .pricing-card.basic-card {
    background-image: url(../images/landing_page/pricing_section/basic_background.svg);
}

.pricing-section .content .pricing-card.standard-card {
    background-image: url(../images/landing_page/pricing_section/standard_background.svg);
}

.pricing-section .content .pricing-card.premium-card {
    background-image: url(../images/landing_page/pricing_section/premium_background.svg);
}

.pricing-section .content .pricing-card .special {
    position: absolute;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    padding: 8px 24px;
    background-color: #ffac1b;
    border-radius: 50px;
    left: 50%;
    top: -15px;
    transform: translate(-50%, 0);
}

.pricing-section .content .pricing-card .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 30px 0 10px;
}

.pricing-section .content .pricing-card .header img {
    width: 60px;
}

.pricing-section .content .pricing-card .header .text-block {
    flex: 1 1 100%;
}

.pricing-section .content .pricing-card .header .text-block .title {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-align: left;
}

.pricing-section .content .pricing-card.standard-card .header .text-block .title {
    color: #fff;
}

.pricing-section .content .pricing-card .header .text-block .subtitle {
    font-size: 13px;
    color: #000;
    text-align: left;
}

.pricing-section .content .pricing-card.standard-card .header .text-block .subtitle {
    color: #fff;
}

.pricing-section .content .pricing-card .header .pricing-block {
    text-align: left;
}

.pricing-section .content .pricing-card .header .pricing-block .currency {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}

.pricing-section .content .pricing-card.standard-card .header .pricing-block .currency {
    color: #fff;
}

.pricing-section .content .pricing-card .header .pricing-block .fee {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
}

.pricing-section .content .pricing-card.basic-card .header .pricing-block .fee {
    color: #31AE0B;
}

.pricing-section .content .pricing-card.standard-card .header .pricing-block .fee {
    color: #FFAC1B;
}

.pricing-section .content .pricing-card.premium-card .header .pricing-block .fee {
    color: #00AEEF;
}

.pricing-section .content .pricing-card .header .pricing-block .fee span {
    font-size: 14px;
    font-weight: 500;
}

.pricing-section .content .pricing-card.standard-card .header .pricing-block .fee span {
    color: #fff;
}

.pricing-section .content .pricing-card .body {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.pricing-section .content .pricing-card .body .option {
    list-style: none;
    margin: 0;
}

.pricing-section .content .pricing-card .body .option li {
    position: relative;
    margin-bottom: 15px;
}

.pricing-section .content .pricing-card .body .option li:last-child {
    margin-bottom: 0;
}

.pricing-section .content .pricing-card .body .option li .bi {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translate(0, -50%);
    font-size: 14px;
    color: #000;
}

.pricing-section .content .pricing-card.basic-card .body .option li .bi {
    color: #31AE0B;
}

.pricing-section .content .pricing-card.standard-card .body .option li .bi {
    color: #FFAC1B;
}

.pricing-section .content .pricing-card.premium-card .body .option li .bi {
    color: #00AEEF;
}

.pricing-section .content .pricing-card .body .option li .bi.bi-x-circle {
    color: #757575;
}

.pricing-section .content .pricing-card .body .option li .text {
    font-size: 14px;
    font-weight: 300;
    color: #000;
}

.pricing-section .content .pricing-card.standard-card .body .option li .text:not(.dashed) {
    color: #fff;
}

.pricing-section .content .pricing-card .body .option li .text.dashed {
    text-decoration: line-through;
    color: #757575;
}

.pricing-section .content .pricing-card .footer {
    text-align: center;
}

.pricing-section .content .pricing-card .footer .pricing-btn {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    background-color: #ccc;
    padding: 15px 0;
    width: 90%;
    display: block;
    border: 1px solid transparent;
    border-radius: 50px;
    margin: 15px auto 0;
}

.pricing-section .content .pricing-card.basic-card .footer .pricing-btn {
    background-color: #31AE0B;
}

.pricing-section .content .pricing-card.standard-card .footer .pricing-btn {
    background-color: #FFAC1B;
}

.pricing-section .content .pricing-card.premium-card .footer .pricing-btn {
    background-color: #00AEEF;
}

@media screen and (max-width: 1199px) {
    .pricing-section .content {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 991px) {
    .pricing-section .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
