/* Pricing Section */
.pricing-section {
    position: relative;
}

.pricing-section .header {
    text-align: center;
    margin-bottom: 5rem;
}

.pricing-section .header .title {
    font-size: 40px;
    font-weight: 700;
    color: #2d465b;
    line-height: 1;
}

.pricing-section .header .subtitle {
    font-size: 20px;
    font-weight: 300;
}

.pricing-section .content {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.pricing-section .content .pricing-card {
    flex: 1 1 100%;
    position: relative;
    padding: 20px 30px 35px;
    background-size: cover;
    border-radius: 50px;
    min-width: 350px;
    max-width: 400px;
}

.pricing-section .content .pricing-card.executive-card {
    background-image: url(../images/landing_page/pricing_section/executive-background.svg);
}

.pricing-section .content .pricing-card.basic-card {
    background-image: url(../images/landing_page/pricing_section/basic-background.svg);
}

.pricing-section .content .pricing-card.premium-card {
    background-image: url(../images/landing_page/pricing_section/premium-background.svg);
}

.pricing-section .content .pricing-card .special {
    position: absolute;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    padding: 8px 24px;
    background-color: #ffac1b;
    border-radius: 50px;
    left: 50%;
    top: -15px;
    transform: translate(-50%, 0);
}

.pricing-section .content .pricing-card .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 30px 0 10px;
}

.pricing-section .content .pricing-card .header img {
    width: 60px;
}

.pricing-section .content .pricing-card .header .text-block {
    flex: 1 1 100%;
}

.pricing-section .content .pricing-card .header .text-block .title {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-align: left;
}

.pricing-section .content .pricing-card.premium-card .header .text-block .title {
    color: #fff;
}

.pricing-section .content .pricing-card .header .text-block .subtitle {
    font-size: 13px;
    color: #000;
    text-align: left;
}

.pricing-section .content .pricing-card.premium-card .header .text-block .subtitle {
    color: #fff;
}

.pricing-section .content .pricing-card .header .pricing-block .wrapper {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.pricing-section .content .pricing-card .header .pricing-block .currency {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}

.pricing-section .content .pricing-card.executive-card .header .pricing-block .currency {
    color: #31AE0B;
}

.pricing-section .content .pricing-card.basic-card .header .pricing-block .currency {
    color: #00AEEF;
}

.pricing-section .content .pricing-card.premium-card .header .pricing-block .currency {
    color: #fff;
}

.pricing-section .content .pricing-card .header .pricing-block .fee {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
}

.pricing-section .content .pricing-card .header .pricing-block .fee .duration {
    font-size: 12px;
    font-weight: 300;
    color: #777;
}

.pricing-section .content .pricing-card.executive-card .header .pricing-block .fee {
    color: #31AE0B;
}

.pricing-section .content .pricing-card.premium-card .header .pricing-block .fee {
    color: #FFAC1B;
}

.pricing-section .content .pricing-card.basic-card .header .pricing-block .fee {
    color: #00AEEF;
}

.pricing-section .content .pricing-card .header .pricing-block .fee span {
    font-size: 14px;
    font-weight: 500;
}

.pricing-section .content .pricing-card.premium-card .header .pricing-block .fee span {
    color: #fff;
}

.pricing-section .content .pricing-card .header .pricing-block .duration {
    font-size: 12px;
    font-weight: 300;
    color: #777;
    margin-top: .5rem;
    white-space: nowrap;
}

.pricing-section .content .pricing-card.premium-card .header .pricing-block .duration {
    color: #fff;
}

.pricing-section .content .pricing-card .body {
    padding: 30px 0 40px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.pricing-section .content .pricing-card .body .option {
    list-style: none;
    margin: 0;
}

.pricing-section .content .pricing-card .body .option .label {
    font-size: 14px;
    color: #333;
    font-weight: 300;
    margin-bottom: 10px;
    margin-left: -25px;
}

.pricing-section .content .pricing-card.premium-card .body .option .label {
    color: #fff;
}

.pricing-section .content .pricing-card .body .option li {
    position: relative;
    margin-bottom: 10px;
}

.pricing-section .content .pricing-card .body .option li a {
    text-decoration: none;
}

.pricing-section .content .pricing-card .body .option li:last-child {
    margin-bottom: 0;
}

.pricing-section .content .pricing-card .body .option li .bi {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translate(0, -50%);
    font-size: 14px;
    color: #000;
}

.pricing-section .content .pricing-card .body .option li .bi-question-circle {
    position: unset;
    margin-left: 8px;
}

.pricing-section .content .pricing-card.executive-card .body .option li .bi {
    color: #31AE0B;
}

.pricing-section .content .pricing-card.premium-card .body .option li .bi {
    color: #FFAC1B;
}

.pricing-section .content .pricing-card.basic-card .body .option li .bi {
    color: #00AEEF;
}

.pricing-section .content .pricing-card .body .option li .bi.bi-x-circle {
    color: #757575;
}

.pricing-section .content .pricing-card .body .option li .text {
    font-size: 14px;
    font-weight: 300;
    color: #000;
}

.pricing-section .content .pricing-card.premium-card .body .option li .text:not(.dashed) {
    color: #fff;
}

.pricing-section .content .pricing-card .body .option li .text.dashed {
    text-decoration: line-through;
    color: #757575;
}

.pricing-section .content .pricing-card .body .option li .text .pro-cat {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    background-color: #D4D5D8;
    padding: 0.1em 0.5em;
    border-radius: 3px;
}

.pricing-section .content .pricing-card .body .option li .text .pro-cat.blue {
    background-color: #00AEEF;
}

.pricing-section .content .pricing-card .body .option li .text .pro-cat.red {
    background-color: #FF4848;
}

.pricing-section .content .pricing-card .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.pricing-section .content .pricing-card .footer .pricing-btn {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    background-color: transparent;
    padding: 15px 0;
    width: 90%;
    display: block;
    border: 2px solid transparent;
    border-radius: 50px;
    margin: 25px auto 0;
}

.pricing-section .content .pricing-card.executive-card .footer .pricing-btn {
    border-color: #31AE0B;
    color: #31AE0B;
}

.pricing-section .content .pricing-card.executive-card .footer .pricing-btn.btn-buy {
    border-color: #31AE0B;
    color: #fff;
    background-color: #31AE0B;
}

.pricing-section .content .pricing-card.premium-card .footer .pricing-btn {
    border-color: #FFAC1B;
    color: #FFAC1B;
}

.pricing-section .content .pricing-card.premium-card .footer .pricing-btn.btn-buy {
    border-color: #FFAC1B;
    color: #fff;
    background-color: #FFAC1B;
}

.pricing-section .content .pricing-card.basic-card .footer .pricing-btn {
    border-color: #00AEEF;
    color: #00AEEF;
}

.pricing-section .content .pricing-card.basic-card .footer .pricing-btn.btn-buy {
    border-color: #00AEEF;
    color: #fff;
    background-color: #00AEEF;
}

@media screen and (max-width: 1199px) {
    .pricing-section .content {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 991px) {
    .pricing-section .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 424px) {
    .pricing-section .content .pricing-card {
        min-width: 100%;
        padding: 15px;
    }

    .pricing-section .content .pricing-card .body {
        padding: 15px 15px 20px;
        border: none;
    }

    .pricing-section .content .pricing-card .footer .pricing-btn {
        margin: 0 auto;
    }
}
