.pricing-section .blue {
    color: #00AEEF !important;
}

.pricing-section .bg-blue {
    background-color: #00AEEF !important;
}

.pricing-section .br-blue {
    border-color: #00AEEF !important;
}

.pricing-section .green {
    color: #31AE0B !important;
}

.pricing-section .bg-green {
    background-color: #31AE0B !important;
}

.pricing-section .br-green {
    border-color: #31AE0B !important;
}

.pricing-section .purple {
    color: #7C29C6 !important;
}

.pricing-section .bg-purple {
    background-color: #7C29C6 !important;
}

.pricing-section .br-purple {
    border-color: #7C29C6 !important;
}

.pricing-section .yellow {
    color: #FFAC1B !important;
}

.pricing-section .bg-yellow {
    background-color: #FFAC1B !important;
}

.pricing-section .br-yellow {
    border-color: #FFAC1B !important;
}

.pricing-section .dark-blue {
    color: #294CFE !important;
}

.pricing-section .bg-dark-blue {
    background-color: #294CFE !important;
}

.pricing-section .br-dark-blue {
    border-color: #294CFE !important;
}

.pricing-section .red {
    color: #FF0000 !important;
}

.pricing-section .bg-red {
    background-color: #FF0000 !important;
}

.pricing-section .br-red {
    border-color: #FF0000 !important;
}

/* Pricing Section */
.pricing-section {
    position: relative;
    padding: 9rem 0 5rem;
}

.pricing-section .header {
    text-align: center;
    margin-bottom: 5rem;
}

.pricing-section .header .title {
    font-size: 40px;
    font-weight: 700;
    color: #2d465b;
    line-height: 1;
}

.pricing-section .header .subtitle {
    font-size: 20px;
    font-weight: 300;
}

.pricing-section .content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.pricing-section .content .pricing-card {
    flex: 1 1 100%;
    position: relative;
    padding: 20px 30px 35px;
    background-size: cover;
    border-radius: 50px;
    width: 350px;
    max-width: 350px;
    height: 510px;
}

.pricing-section .content .pricing-card.basic-card {
    background-image: url(../images/landing_page/pricing_section/basic-background.svg);
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;
}

.pricing-section .content .pricing-card.executive-card {
    background-image: url(../images/landing_page/pricing_section/executive-background.svg);
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;
}

.pricing-section .content .pricing-card.optimizer-card {
    background-image: url(../images/landing_page/pricing_section/optimizer-background.svg);
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;
}

.pricing-section .content .pricing-card.premium-card {
    background-image: url(../images/landing_page/pricing_section/premium-background.svg);
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;
}

.pricing-section .content .pricing-card.enterprise-card {
    background-image: url(../images/landing_page/pricing_section/enterprise-background.svg);
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;
}

.pricing-section .content .pricing-card .special {
    position: absolute;
    font-size: 13px;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    padding: 8px 15px;
    background-color: #ffac1b;
    border-radius: 50px;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
}

.pricing-section .content .pricing-card .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 20px 0 10px;
}

.pricing-section .content .pricing-card .header img {
    width: 60px;
}

.pricing-section .content .pricing-card .header .text-block {
    flex: 1 1 100%;
}

.pricing-section .content .pricing-card .header .text-block .title {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-align: left;
}

.pricing-section .content .pricing-card.premium-card .header .text-block .title {
    color: #fff;
}

.pricing-section .content .pricing-card .header .text-block .subtitle {
    font-size: 13px;
    color: #000;
    text-align: left;
}

.pricing-section .content .pricing-card.premium-card .header .text-block .subtitle {
    color: #fff;
}

.pricing-section .content .pricing-card .header .pricing-block .wrapper {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.pricing-section .content .pricing-card .header .pricing-block .currency {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}

.pricing-section .content .pricing-card.executive-card .header .pricing-block .currency {
    color: #31AE0B;
}

.pricing-section .content .pricing-card.basic-card .header .pricing-block .currency {
    color: #00AEEF;
}

.pricing-section .content .pricing-card.premium-card .header .pricing-block .currency {
    color: #fff;
}

.pricing-section .content .pricing-card .header .pricing-block .fee {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
}

.pricing-section .content .pricing-card .header .pricing-block .fee .duration {
    font-size: 12px;
    font-weight: 300;
    color: #777;
}

.pricing-section .content .pricing-card.executive-card .header .pricing-block .fee {
    color: #31AE0B;
}

.pricing-section .content .pricing-card.premium-card .header .pricing-block .fee {
    color: #FFAC1B;
}

.pricing-section .content .pricing-card.basic-card .header .pricing-block .fee {
    color: #00AEEF;
}

.pricing-section .content .pricing-card .header .pricing-block .fee span {
    font-size: 14px;
    font-weight: 500;
}

.pricing-section .content .pricing-card.premium-card .header .pricing-block .fee span {
    color: #fff;
}

.pricing-section .content .pricing-card .header .pricing-block .duration {
    font-size: 12px;
    font-weight: 300;
    color: #777;
    margin-top: .5rem;
    white-space: nowrap;
}

.pricing-section .content .pricing-card.premium-card .header .pricing-block .duration {
    color: #fff;
}

.pricing-section .content .pricing-card .body {
    padding: 20px 0 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.pricing-section .content .pricing-card .body .para {
    font-size: 13px;
    font-weight: 300;
    color: #333;
    text-align: center;
    width: 100%;
}

.pricing-section .content .pricing-card .body .watermark {
    position: absolute;
    top: 57.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.pricing-section .content .pricing-card .body .option {
    list-style: none;
    margin: 0;
}

.pricing-section .content .pricing-card .body .option .label {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: -25px;
}

.pricing-section .content .pricing-card.premium-card .body .option .label {
    color: #fff;
}

.pricing-section .content .pricing-card .body .option li {
    position: relative;
    margin-bottom: 8px;
}

.pricing-section .content .pricing-card .body .option li a {
    text-decoration: none;
}

.pricing-section .content .pricing-card .body .option li:last-child {
    margin-bottom: 0;
}

.pricing-section .content .pricing-card .body .option li .bi {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translate(0, -50%);
    font-size: 14px;
    color: #000;
}

.pricing-section .content .pricing-card .body .option li .bi-question-circle {
    position: unset;
    margin-left: 8px;
}

.pricing-section .content .pricing-card .body .option li .bi.bi-x-circle {
    color: #757575;
}

.pricing-section .content .pricing-card .body .option li .text {
    font-size: 12px;
    font-weight: 300;
    color: #000;
}

.pricing-section .content .pricing-card.premium-card .body .option li .text:not(.dashed) {
    color: #fff;
}

.pricing-section .content .pricing-card .body .option li .text.dashed {
    text-decoration: line-through;
    color: #757575;
}

.pricing-section .content .pricing-card .body .option li .text .pro-cat {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    padding: 0.1em 0.5em;
    border-radius: 3px;
}

.pricing-section .content .pricing-card .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    position: absolute;
    width: 80%;
    bottom: 6%;
    left: 50%;
    transform: translate(-50%, 0);
    border-top: 1px solid #ccc;
}

.pricing-section .content .pricing-card .footer .pricing-btn {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    background-color: transparent;
    padding: 10px 0;
    width: 90%;
    display: block;
    border: 2px solid transparent;
    border-radius: 50px;
    margin: 25px auto 0;
}

@media screen and (max-width: 575px) {
    .pricing-section .header .title {
        font-size: 2rem;
    }
}