.pull_delete {
    position: relative;
    width: calc(100% + 2.5rem) !important;
}

.pull_delete.trans {
    transition: all 0.4s;
}

.pull_delete .pd_btn {
    display: flex !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    width: 35px !important;
    font-size: 16px !important;
    background: #000 !important;
    color: #ffffff !important;
    text-align: center !important;
    border-bottom: 1px solid #fff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* .pull_delete .pd_btn::before {
    content: 'DELETE';
    font-style: normal !important;
    font-size: 0.4rem !important;
} */
