@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.hero-section .content-block .order-no,
.enterprise-section .content-block .order-no {
    position: absolute;
    width: 14rem;
    top: -10rem;
    left: 0;
}

.hero-section .content-block h1,
.enterprise-section .content-block h1 {
    margin-bottom: 1.5rem;
    font-size: 80px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1.5px #00AEEF;
    white-space: nowrap;
}

.hero-section .content-block .title,
.enterprise-section .content-block .title {
    font-weight: 700;
    font-size: 32px;
    color: #f38a01;
    margin-bottom: 1.5rem;
}

.hero-section .content-block .text,
.enterprise-section .content-block .text {
    font-size: 16px;
    font-weight: 300;
}

.hero-section .content-block .text strong,
.enterprise-section .content-block .text strong {
    font-weight: 600;
    font-size: 16px;
    color: #00AEEF;
}

.hero-section .content-block .cta-btn,
.enterprise-section .content-block .cta-btn {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    font-size: 0.875rem;
    border: 1px solid #000;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 10rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.5rem;
}

.hero-section .content-block .cta-btn .bi,
.enterprise-section .content-block .cta-btn .bi {
    font-size: calc(1.2525rem + 0.28286vw);
}

@media (min-width: 1400px) {

    .hero-section .content-block .cta-btn .bi,
    .enterprise-section .content-block .cta-btn .bi {
        font-size: 1.5rem;
    }
}

.hero-section {
    position: relative;
    padding: 10rem 0 5rem;
    width: 100%;
}

.hero-section .inner-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero-section .inner-wrapper .content-block {
    position: relative;
}

.hero-section .inner-wrapper .image-block {
    flex: 0 0 50%;
}

.hero-section .inner-wrapper .image-block svg {
    width: 100%;
}

/* Animations */
#expressWeb .cls-10,
#expressWeb .cls-11 {
    animation: bounce2 18s ease-in-out infinite;
}

#expressWeb .cls-12,
#expressWeb .cls-13 {
    animation: bounce1 15s ease-in-out infinite;
}

#expressWeb .cls-14,
#expressWeb .cls-15 {
    animation: bounce2 12s ease-in-out infinite;
}

#expressWeb .cls-2,
#expressWeb .cls-3 {
    animation: bounce1 18s ease-in-out infinite;
}

#expressWeb .cls-6,
#expressWeb .cls-7 {
    animation: bounce2 15s ease-in-out infinite;
}

#expressWeb .cls-8,
#expressWeb .cls-9 {
    animation: bounce1 12s ease-in-out infinite;
}

@keyframes bounce1 {

    0%,
    100% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }
}

@keyframes bounce2 {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

#expressWeb:hover #side-nav {
    animation: transform .5s ease-in-out;
    animation-fill-mode: forwards;
}

#expressWeb:hover #search-bar {
    animation: transform .5s ease-in-out;
    animation-delay: .3s;
    animation-fill-mode: forwards;
}

#expressWeb:hover #progress-bar {
    animation: transform .5s ease-in-out;
    animation-delay: .6s;
    animation-fill-mode: forwards;
}

#expressWeb:hover #card {
    animation: transform .5s ease-in-out;
    animation-delay: .9s;
    animation-fill-mode: forwards;
}

#expressWeb:hover #settings {
    animation: transform .5s ease-in-out;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}

@keyframes transform {

    from {
        transform: unset;
    }

    to {
        transform: translate(-5px, 0px);
    }
}

.enterprise-section {
    margin: 5rem 0 10rem;
}

.enterprise-section .inner-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.enterprise-section .inner-wrapper .content-block {
    position: relative;
}

.enterprise-section .inner-wrapper .image-block {
    width: 100%;
}

.enterprise-section .inner-wrapper .image-block svg {
    width: 100%;
}

/* Animation */
#enterpriseWeb:hover #code {
    animation: fade-top 1s ease-in-out;
    animation-fill-mode: forwards;
}

#enterpriseWeb:hover #rating {
    animation: fade-top 1s ease-in-out;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

#enterpriseWeb:hover #video {
    animation: fade-top 1s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#enterpriseWeb:hover #dashboard {
    animation: fade-left 1s ease-in-out;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

#enterpriseWeb:hover #bottom-menu {
    animation: fade-up 1s ease-in-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes fade-top {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-left {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.feature-section {
    background-color: transparent;
    padding: 0;
    margin: calc(1.2875rem + 4.24286vw) 0;
}

@media (min-width: 1400px) {
    .feature-section {
        margin: 5rem 0;
    }
}

.feature-section .feature-block {
    width: 25rem;
    border-radius: 8px;
    position: relative;
    padding: calc(1.2575rem + 0.84857vw) calc(1.2525rem + 0.28286vw);
    -webkit-box-shadow: 0 5px 10px rgba(1, 127, 250, 0.5);
    box-shadow: 0 5px 10px rgba(1, 127, 250, 0.5);
}

@media (min-width: 1400px) {
    .feature-section .feature-block {
        padding: 2rem 1.5rem;
    }
}

.feature-section .feature-block .cta-btn-border {
    margin: 0 auto;
    padding: 0.5rem 2rem;
}

.feature-section .feature-block.block-3 {
    left: 12%;
}

.feature-section .feature-block.block-4 {
    left: 60%;
    top: -10rem;
    margin-bottom: -15rem;
}

.feature-section .feature-block.block-5 {
    left: 12%;
}

.feature-section .feature-block.block-6 {
    left: 60%;
    top: -10rem;
    margin-bottom: -15rem;
}

.feature-section .feature-block.block-7 {
    left: 12%;
}

.feature-section .feature-block .order-no {
    position: absolute;
    top: -10rem;
    left: -8rem;
    width: 12rem;
}

.feature-section .feature-block .image-block {
    width: 15rem;
    margin: 0 auto calc(1.2525rem + 0.28286vw);
}

@media (min-width: 1400px) {
    .feature-section .feature-block .image-block {
        margin: 0 auto 1.5rem;
    }
}

.feature-section .feature-block .image-block img {
    width: 100%;
}

.feature-section .feature-block .title {
    text-align: center;
    margin-bottom: 1rem;
}

.feature-section .feature-block .text {
    font-size: 0.875rem;
    text-align: center;
}

.feature-section .feature-block .cta-btn {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    font-size: 0.875rem;
    border: 1px solid #000;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 10rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.5rem;
    margin: auto;
}

.feature-section .feature-block .cta-btn .bi {
    font-size: calc(1.2525rem + 0.28286vw);
}

@media (min-width: 1400px) {
    .feature-section .feature-block .cta-btn .bi {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1299px) {

    .hero-section .image-block img,
    .enterprise-section .image-block img {
        width: 35rem;
    }
}

@media screen and (max-width: 1199px) {

    .hero-section .content-block h1,
    .enterprise-section .content-block h1 {
        font-size: 70px;
        -webkit-text-stroke: 1px #00AEEF;
    }

    .hero-section .content-block .title,
    .enterprise-section .content-block .title {
        font-size: 28px;
    }

    .hero-section .content-block .text,
    .enterprise-section .content-block .text {
        font-size: 14px;
    }

    .hero-section .content-block .text strong,
    .enterprise-section .content-block .text strong {
        font-size: 14px;
    }

    .feature-section .inner-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 5rem;
    }

    .feature-section .feature-block {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 33%;
        flex: 1 1 33%;
        left: unset !important;
        top: unset !important;
        margin: unset !important;
    }

    .feature-section .feature-block .order-no {
        top: -0.5rem;
        left: 1.25rem;
        width: 6rem;
    }
}

@media screen and (max-width: 991px) {
    .hero-section {
        padding-top: 50px;
    }

    .hero-section .inner-wrapper {
        display: flex;
        flex-direction: column-reverse;
        margin: 3rem 0;
    }

    .hero-section .inner-wrapper .content-block {
        margin: 3rem 0;
    }

    .enterprise-section .inner-wrapper {
        display: flex;
        flex-direction: column;
        margin: 3rem 0;
    }

    .enterprise-section .inner-wrapper .content-block {
        margin: 3rem 0;
    }

    .hero-section .inner-wrapper .image-block,
    .enterprise-section .inner-wrapper .image-block {
        text-align: center;
    }

}

@media screen and (max-width: 767px) {

    .hero-section .content-block .title,
    .enterprise-section .content-block .title {
        font-size: 24px;
    }

    .hero-section .content-block h1,
    .enterprise-section .content-block h1 {
        font-size: 42.5px;
        -webkit-text-stroke: 1px #00AEEF;
    }

    .hero-section .inner-wrapper .content-block,
    .enterprise-section .inner-wrapper .content-block {
        text-align: center;
    }
}

@media screen and (max-width: 575px) {
    .hero-section .inner-wrapper .content-block {
        width: 90%;
    }

    .enterprise-section .inner-wrapper .content-block {
        width: 90%;
    }
}

@media screen and (max-width: 425px) {
    .hero-section .image-block img {
        width: 100%;
    }

    .enterprise-section .image-block img {
        width: 100%;
    }
}

/*# sourceMappingURL=services.css.map */
