@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "utilities/variables";
@import "utilities/utilities";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

// Pages
@import "pages/home";

// includes

@import "includes/side_nav";
@import "includes/top_nav";
@import "includes/layout";
